<section class="complaints">
    <div class="complaints__container">
        <h2 class="complaints__title title">Все жалобы</h2>
        <div class="complaints__tabs">
        <ul class="complaints__tabs-list">
            <li class="complaints__tabs-item">
                <button type="button" class="complaints__tabs-btn _active">Все</button>
            </li>
            <li class="complaints__tabs-item">
                <button type="button" class="complaints__tabs-btn">Новые</button>
            </li>
            <li class="complaints__tabs-item">
                <button type="button" class="complaints__tabs-btn">Лицензионные</button>
            </li>
            <li class="complaints__tabs-item">
                <button type="button" class="complaints__tabs-btn">Честные</button>
            </li>

        </ul>
        </div>
        <ul class="complaints__list">
            <li class="complaints__item complaints__item-done">
                <div class="complaints__item-row">
                    <div class="complaints__item-img">
                        <img src="img/page18/complaint-done.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="complaints__item-wrap">
                        <div class="complaints__item-title">ВИРІШЕНО</div>
                        <div class="complaints__item-mon">5000€</div>
                    </div>
                </div>
                <div class="complaints__item-text">To play Norwegian casino games online safely, we recommend doing
                    so on
                    only regulated and licensed casino
                </div>
                <a href="#" class="complaints__item-link grey-btn">Детальніше</a>
            </li>
            <li class="complaints__item complaints__item-load">
                <div class="complaints__item-row">
                    <div class="complaints__item-img">
                        <img src="img/page18/complaint-load.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="complaints__item-wrap">
                        <div class="complaints__item-title">Обробляється</div>
                        <div class="complaints__item-mon">5000€</div>
                    </div>
                </div>
                <div class="complaints__item-text">To play Norwegian casino games online safely, we recommend doing
                    so on
                    only regulated and licensed casino

                </div>
                <a href="#" class="complaints__item-link grey-btn">Детальніше</a>
            </li>
            <li class="complaints__item complaints__item-none">
                <div class="complaints__item-row">
                    <div class="complaints__item-img">
                        <img src="img/page18/complaint-none.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="complaints__item-wrap">
                        <div class="complaints__item-title">Відхилено</div>
                    </div>
                </div>
                <div class="complaints__item-text">To play Norwegian casino games online safely
                </div>
                <a href="#" class="complaints__item-link grey-btn">Детальніше</a>
            </li>
            <li class="complaints__item complaints__item-cancel">
                <div class="complaints__item-row">
                    <div class="complaints__item-img">
                        <img src="img/page18/complaint-cancel.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="complaints__item-wrap">
                        <div class="complaints__item-title">Не вирішена</div>
                        <div class="complaints__item-mon">5000€</div>
                    </div>
                </div>
                <div class="complaints__item-text">To play Norwegian casino games online safely, we recommend doing
                    so on
                    only regulated and licensed casino

                </div>
                <a href="#" class="complaints__item-link grey-btn">Детальніше</a>
            </li>
            <li class="complaints__item complaints__item-done">
                <div class="complaints__item-row">
                    <div class="complaints__item-img">
                        <img src="img/page18/complaint-done.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="complaints__item-wrap">
                        <div class="complaints__item-title">ВИРІШЕНО</div>
                        <div class="complaints__item-mon">5000€</div>
                    </div>
                </div>
                <div class="complaints__item-text">To play Norwegian casino games online safely, we recommend doing
                    so on
                    only regulated and licensed casino
                </div>
                <a href="#" class="complaints__item-link grey-btn">Детальніше</a>
            </li>
            <li class="complaints__item complaints__item-load">
                <div class="complaints__item-row">
                    <div class="complaints__item-img">
                        <img src="img/page18/complaint-load.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="complaints__item-wrap">
                        <div class="complaints__item-title">Обробляється</div>
                        <div class="complaints__item-mon">5000€</div>
                    </div>
                </div>
                <div class="complaints__item-text">To play Norwegian casino games online safely, we recommend doing
                    so on
                    only regulated and licensed casino

                </div>
                <a href="#" class="complaints__item-link grey-btn">Детальніше</a>
            </li>
            <li class="complaints__item complaints__item-none">
                <div class="complaints__item-row">
                    <div class="complaints__item-img">
                        <img src="img/page18/complaint-none.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="complaints__item-wrap">
                        <div class="complaints__item-title">Відхилено</div>
                    </div>
                </div>
                <div class="complaints__item-text">To play Norwegian casino games online safely
                </div>
                <a href="#" class="complaints__item-link grey-btn">Детальніше</a>
            </li>
            <li class="complaints__item complaints__item-cancel">
                <div class="complaints__item-row">
                    <div class="complaints__item-img">
                        <img src="img/page18/complaint-cancel.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="complaints__item-wrap">
                        <div class="complaints__item-title">Не вирішена</div>
                        <div class="complaints__item-mon">5000€</div>
                    </div>
                </div>
                <div class="complaints__item-text">To play Norwegian casino games online safely, we recommend doing
                    so on
                    only regulated and licensed casino

                </div>
                <a href="#" class="complaints__item-link grey-btn">Детальніше</a>
            </li>
            <li class="complaints__item complaints__item-load">
                <div class="complaints__item-row">
                    <div class="complaints__item-img">
                        <img src="img/page18/complaint-load.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="complaints__item-wrap">
                        <div class="complaints__item-title">Обробляється</div>
                        <div class="complaints__item-mon">5000€</div>
                    </div>
                </div>
                <div class="complaints__item-text">To play Norwegian casino games online safely, we recommend doing
                    so on
                    only regulated and licensed casino

                </div>
                <a href="#" class="complaints__item-link grey-btn">Детальніше</a>
            </li>
            <li class="complaints__item complaints__item-none">
                <div class="complaints__item-row">
                    <div class="complaints__item-img">
                        <img src="img/page18/complaint-none.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="complaints__item-wrap">
                        <div class="complaints__item-title">Відхилено</div>
                    </div>
                </div>
                <div class="complaints__item-text">To play Norwegian casino games online safely
                </div>
                <a href="#" class="complaints__item-link grey-btn">Детальніше</a>
            </li>
            <li class="complaints__item complaints__item-cancel">
                <div class="complaints__item-row">
                    <div class="complaints__item-img">
                        <img src="img/page18/complaint-cancel.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="complaints__item-wrap">
                        <div class="complaints__item-title">Не вирішена</div>
                        <div class="complaints__item-mon">5000€</div>
                    </div>
                </div>
                <div class="complaints__item-text">To play Norwegian casino games online safely, we recommend doing
                    so on
                    only regulated and licensed casino

                </div>
                <a href="#" class="complaints__item-link grey-btn">Детальніше</a>
            </li>
        </ul>
        <a href="#" class="complaints__all-link blue-btn">Vse jaloby</a>
    </div>
</section>