<section class="feed">
    <div class="feed__wrapper">
        <div class="feed__container">
            <h2 class="feed__title">Что нужно знать перед подачей</h2>
            <p class="feed__text">Попробуйте последние предложения онлайн-казино, которые полностью </p>
            <ol class="feed__list">
                <li class="feed__item">
                    <div class="feed__item-text">To play Norwegian casino games online safely, we recommend doing so on
                        only regulated and licensed casino. To play Norwegian casino games online safely, we recommend
                        doing so on only regulated and licensed casino. To play Norwegian casino games online safely, we
                        recommend doing so on only online safely, we recommend doing.
                    </div>
                </li>
                <li class="feed__item">
                    <div class="feed__item-text">To play Norwegian casino games online safely, we recommend doing so on
                        only regulated and licensed casino. To play Norwegian casino games online safely, we recommend
                        doing so on only regulated and licensed casino.
                    </div>
                    <a href="" class="feed__item-link-white">Читать рекомендацию</a>
                </li>
                <li class="feed__item">
                    <div class="feed__item-text">To play Norwegian casino games online safely, we recommend doing so on
                        only regulated and licensed casino. To play Norwegian casino games online safely, we recommend
                        doing so on only regulated and licensed casino.
                    </div>
                    <a href="" class="feed__item-link-blue">Читать рекомендацию</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="feed__info">
        <div class="feed__container">
            <div class="feed__row">
                <div class="feed__info-left">
                    <div class="feed__info-title">Online casino bonuses</div>
                    <ol class="feed__info-list">
                        <li class="feed__info-item">Doubtless, players can test the casinos themselves, but it is a long
                            and time
                        </li>
                        <li class="feed__info-item">Doubtless, players can test the casinos themselves, but it is a long
                            and time
                        </li>
                        <li class="feed__info-item">Doubtless, players can test the casinos themselves, but it is a long
                            and time
                        </li>
                        <li class="feed__info-item">Doubtless, players can g and time</li>
                        <li class="feed__info-item">Doubtless, players can test the casinos themselves, but ime</li>
                        <li class="feed__info-item">Doubtless, players can test the casinos themselves, but ime test the
                            casinos themselves, but ime test the casinos themselves, but ime
                        </li>
                    </ol>
                </div>
                <div class="feed__info-right">
                    <div class="feed__info-title">Online casino bonuses</div>
                    <div class="feed__info-text">To play Norwegian casino games online safely, we recommend doing so on
                        only regulated and licensed casino platforms. Also, make sure that our team can only nominate
                        the titles whose play Norwegian casino games online safely, we recommend doing so on only
                        regulated and licensed casino platforms. Also, make sure that our team can only nominate the
                        titles whose Online casino bonuses& To play Norwegian casino games online safely, we recommend
                        doing so on only regulated and licensed casino platforms. Also, make sure that our team can only
                        nominate the titles whose play Norwegian casino games online safely, we recommend doing so on
                        only regulated and licensed casino platforms.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>