<section class="overview">
    <div class="overview__wrap">
        <div class="overview__container">
            <h1 class="overview__title">больше про жалобы</h1>
            <ul class="overview__list">
                <li class="overview__item">
                    <div class="overview__item-title">20208</div>
                    <div class="overview__item-text">Обработанные
                        жалобы
                    </div>
                </li>
                <li class="overview__item">
                    <div class="overview__item-title">20208$</div>
                    <div class="overview__item-text">Денег
                        вернули
                    </div>
                </li>
                <li class="overview__item">
                    <div class="overview__item-title">20208</div>
                    <div class="overview__item-text">Решенные
                        жалобы
                    </div>
                </li>
            </ul>
            <a href="#" class="overview__link blue-btn">Подать жалобу</a>
        </div>
        <div class="best__container">

            <h2 class="best__title">Лучшие онлайн казино в 2021 году</h2>
            <p class="best__text">Попробуйте последние предложения онлайн-казино, которые полностью </p>
            <ul class="best__list">
                <li class="best__item">
                    <div class="best__item-img">

                            <img class="rotate" loading="lazy" src="img/page23/best-img1.webp" width="160" height="160"
                                 alt="image-casino">

                    </div>
                    <div class="best__item-title">Лучшие онлайн казино в 2021 году</div>
                    <div class="best__item-text">Попробуйте последние предложения онлайн-казино, которые полностью
                    </div>
                </li>
                <li class="best__item">
                    <div class="best__item-img">
                            <img class="shake" loading="lazy" src="img/page23/best-img2.webp" width="160" height="160"
                                 alt="image-casino">

                    </div>
                    <div class="best__item-title">Лучшие онлайн</div>
                    <div class="best__item-text">Попробуйте последние предложения</div>
                </li>
                <li class="best__item">
                    <div class="best__item-img">
                        <svg class="diamond" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 70 70">
                            <style>

                            </style>

                            <g>
                                <path fill="#E8422C" d="M10,15h50l10,10l-35,30l-35,-30z"></path>

                                <!-- Top shapes -->
                                <path class="t1" d="M0,25h14l-4,-10z"></path>
                                <path class="t2" d="M10,15h11l-7,10z"></path>
                                <path class="t3" d="M14,25h14l-7,-10z"></path>
                                <path class="t4" d="M21,15h14l-7,10z"></path>
                                <path class="t5" d="M28,25h14l-7,-10z"></path>
                                <path class="t6" d="M35,15h14l-7,10z"></path>
                                <path class="t7" d="M42,25h14l-7,-10z"></path>
                                <path class="t8" d="M49,15h11l-4,10z"></path>
                                <path class="t9" d="M56,25h14l-10,-10z"></path>

                                <!-- Bottom shapes -->
                                <path class="b1" d="M0,25h14l21,30z"></path>
                                <path class="b2" d="M14,25h14l7,30z"></path>
                                <path class="b3" d="M28,25h14l-7,30z"></path>
                                <path class="b4" d="M42,25h14l-21,30z"></path>
                                <path class="b5" d="M56,25h14l-35,30z"></path>

                                <path class="overlay" d="M10,15h50l10,10l-35,30l-35,-30z"></path>
                            </g>
                        </svg>


                    </div>
                    <div class="best__item-title">Лучшие онлайн казино казино в 2021 году в 2021 году</div>
                    <div class="best__item-text">Попробуйте последние предложения онлайн-казино</div>
                </li>

            </ul>
            <a href="#" class="best__link blue-btn">Подать жалобу</a>

        </div>
    </div>
</section>