.casino {
  padding: 140px 0 50px;
  position: relative;
  background: $back-body url("../img/home/casino/bg-desc-test.webp") no-repeat 50% 0/cover;
  @media screen and (max-width: 1024px){
    background: $back-body url("../img/home/casino/bg-tab-test.webp") no-repeat 50% 0/cover;
  }
  @media screen and (max-width: 650px){
    background: $back-body url("../img/home/casino/bg-mob-test.webp") no-repeat 50% 0/cover;
  }
  &::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 130px;
    transform: scale(1, -1);
    background: linear-gradient(180deg, #0B0B19 0%, rgba(11, 11, 25, 0) 100%);
  }
  &__container{
    padding: 5px 15px 45px 15px;
    position: relative;
    z-index: 1;
  }

  &__row{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
  }

  &__item{
    color: $white;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: -0.004em;
    &:not(:last-child){
      margin: 0 0 10px 0;
    }
  }

  &__info{
    display: flex;
    align-items: center;
    max-width: 880px;
    &-row{
      display: flex;
      align-items: center;
      margin: 0 0 10px 0;
    }
    &-like{
      position: relative;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $grey-white-bg-3 url("../img/general-block-image/like-one.svg") no-repeat center/ 21px 18px;
      border-radius: 8px;
      cursor: pointer;
      &._active::after{
        opacity: 1;
      }
      &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        border-radius: 8px;
        background: $grey-white-bg-3 url("../img/general-block-image/like-two.svg") no-repeat center/ 21px 18px;
        transition: opacity $transition;

      }
    }
    &-img{
      max-width: 320px;
      min-width: 320px;
      margin: 0 25px 0 0;
      img{
        min-width: 100%;
        border-radius: 14px;
      }
    }
    &-name{
      font-family: $font-firs-semb;
      color: $white;
      font-size: 34px;
      line-height: 36px;
      letter-spacing: 0.01em;
      margin: 0 10px 0 0;
    }
    &-rating{
      display: flex;
      align-items: center;
      margin: 0 0 20px 0;
      &-star{
        display: flex;
        align-items: center;
        margin: 0 10px 0 0;
        .star{
          width: 15px;
          height: 14px;
          background: url("../img/page3/casino/star.svg") no-repeat center/contain;
          &:not(:last-child){
            margin: 0 5px 0 0;
          }
        }
      }
      &-text{
        font-size: 13px;
        line-height: 14px;
        color: $white;
      }
    }
    &-number{
      font-size: 14px;
      line-height: 16px;
      color: $white;
      margin: 0 0 15px 0;
      span{
        font-family: $font-firs-semb;
      }
    }
    &-date{
      display: flex;
      &-item{
        font-size: 14px;
        line-height: 16px;
        color: $white;
        &:not(:last-child){
          margin: 0 15px 0 0;
        }
      }
    }

  }


  &__breadcrumbs {
    display: flex;
    align-items: center;
    margin: 0 0 25px 0;
    overflow-x: scroll;

    &-link {
      white-space: nowrap;
      display: inline-block;
      position: relative;
      font-size: 12px;
      line-height: 20px;
      color: $white;
      transition: color $transition;

      &:hover {
        color: $white-hover;
      }

      &:last-child{
        cursor: default;
        &:hover{
          color: $white;
        }
      }

      &:not(:last-child) {
        margin: 0 18px 0 0;

        &::before {
          content: '•';
          position: absolute;
          font-size: 12px;
          line-height: 20px;
          color: $white;
          right: -11px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

}

@media screen and (max-width: 1240px) {
  .casino{
    &__row{
      flex-direction: column;
      align-items: stretch;
    }
    &__item{
      text-align: start;
    }

  }
}


@media screen and (max-width: 1024px){
  .casino{
    padding: 101px 0 50px;
    &__row{
      margin: 0 0 30px 0;
    }
    &__info{

      &-img{
        max-width: 280px;
        min-width: 280px;
      }
      &-date{
        flex-direction: column;
        &-item{
          &:not(:last-child){
            margin: 0 0 10px 0;
          }
        }
      }
    }
    &__container{
      padding: 0;
    }
    &__row{
      padding: 0 15px;
    }
    &__breadcrumbs{
      padding: 0 15px;
      margin: 0 0 15px 0;
    }

  }
}

@media screen and (max-width: 650px) {
  .casino {
    &__breadcrumbs {
      margin: 0 0 10px 0;
      &-link {
        font-size: 12px;
        line-height: 20px;
      }
    }
    &__row{
      gap: 0;
    }
    &__item{
      text-align: center;
    }
    &__info{
      min-width: 100%;
      flex-direction: column;
      align-items: stretch;
      max-width: 100%;
      margin: 0 0 15px 0;
      &-row{
        justify-content: center;
      }
      &-check{
        top: 25px;
      }

      &-img{
        min-width: 100%;
        max-width: 100%;
        margin: 0 0 15px 0;
      }
      &-name{
        font-size: 28px;
        line-height: 32px;
        text-align: center;
      }
      &-rating{
        justify-content: center;
      }
      &-number{
        text-align: center;
      }
      &-date{
        align-items: center;
      }
    }
    &__bonus{
      flex-direction: column;
      align-items: center;
      justify-content: stretch;
      min-width: 100%;

      &-info{
        margin: 0 0 10px 0;
      }

      &-date{
        display: flex;
        flex-direction: column;
        align-self: center;
        &-item{
          &:not(:last-child){
            margin: 0 0 10px 0;
          }
        }
      }
    }
  }
}