<div class="casino-comparison">
    <div class="casino-comparison__list-wrap">
        <div class="casino-comparison__list">
            <div class="casino-comparison__item">
                <div class="casino-comparison__item-image">
                    <a href="#" class="casino-comparison__item-image-link" aria-label="link-casino"></a>
                    <img src="img/home/best/favbet-casino.svg" alt="favbet-casino" width="285" height="120" loading="lazy">
                </div>
                <div class="casino-comparison__item-cont">
                    <div class="casino-comparison__item-title">Favbet Casino</div>
                    <div class="casino-comparison__item-info">$400 Deposit Bonus</div>
                </div>
                <div class="casino-comparison__item-list">
                    <div class="casino-comparison__item-item">
                        <div class="casino-comparison__item-item-title">Год основания</div>
                        <div class="casino-comparison__item-item-text">2016</div>
                    </div>
                    <div class="casino-comparison__item-item">
                        <div class="casino-comparison__item-item-title">Год основания</div>
                        <div class="casino-comparison__item-item-text">2016</div>
                    </div>
                    <div class="casino-comparison__item-item">
                        <div class="casino-comparison__item-item-title">Год основания</div>
                        <div class="casino-comparison__item-item-text">2016</div>
                    </div>
                    <div class="casino-comparison__item-item">
                        <div class="casino-comparison__item-item-title">Год основания</div>
                        <div class="casino-comparison__item-item-text">2016</div>
                    </div>
                    <div class="casino-comparison__item-item">
                        <div class="casino-comparison__item-item-title">Год основания</div>
                        <div class="casino-comparison__item-item-text">1x2 , Amatic , Apollo Games , beefee , Betsoft Gaming , Bgaming 46+</div>
                    </div>
                </div>

                <div class="casino-comparison__item-buttons">
                    <a href="#" class="casino-comparison__item-btn grey-btn">Обзор</a>
                    <a href="#" class="casino-comparison__item-btn blue-btn">Играть</a>
                </div>
            </div>
            <div class="casino-comparison__item">
                <div class="casino-comparison__item-image">
                    <a href="#" class="casino-comparison__item-image-link" aria-label="link-casino"></a>
                    <img src="img/home/best/favbet-casino.svg" alt="favbet-casino" width="285" height="120" loading="lazy">
                </div>
                <div class="casino-comparison__item-cont">
                    <div class="casino-comparison__item-title">Favbet Casino</div>
                    <div class="casino-comparison__item-info">$400 Deposit Bonus</div>
                </div>
                <div class="casino-comparison__item-list">
                    <div class="casino-comparison__item-item">
                        <div class="casino-comparison__item-item-title">Год основания</div>
                        <div class="casino-comparison__item-item-text">2016</div>
                    </div>
                    <div class="casino-comparison__item-item">
                        <div class="casino-comparison__item-item-title">Год основания</div>
                        <div class="casino-comparison__item-item-text">2016</div>
                    </div>
                    <div class="casino-comparison__item-item">
                        <div class="casino-comparison__item-item-title">Год основания</div>
                        <div class="casino-comparison__item-item-text">2016</div>
                    </div>
                    <div class="casino-comparison__item-item">
                        <div class="casino-comparison__item-item-title">Год основания</div>
                        <div class="casino-comparison__item-item-text">2016</div>
                    </div>
                    <div class="casino-comparison__item-item">
                        <div class="casino-comparison__item-item-title">Год основания</div>
                        <div class="casino-comparison__item-item-text">1x2 , Amatic , Apollo Games , beefee , Betsoft Gaming , Bgaming 46+</div>
                    </div>
                </div>

                <div class="casino-comparison__item-buttons">
                    <a href="#" class="casino-comparison__item-btn grey-btn">Обзор</a>
                    <a href="#" class="casino-comparison__item-btn blue-btn">Играть</a>
                </div>
            </div>
            <div class="casino-comparison__item">
                <div class="casino-comparison__item-image">
                    <a href="#" class="casino-comparison__item-image-link" aria-label="link-casino"></a>
                    <img src="img/home/best/favbet-casino.svg" alt="favbet-casino" width="285" height="120" loading="lazy">
                </div>
                <div class="casino-comparison__item-cont">
                    <div class="casino-comparison__item-title">Favbet Casino</div>
                    <div class="casino-comparison__item-info">$400 Deposit Bonus</div>
                </div>
                <div class="casino-comparison__item-list">
                    <div class="casino-comparison__item-item">
                        <div class="casino-comparison__item-item-title">Год основания</div>
                        <div class="casino-comparison__item-item-text">2016</div>
                    </div>
                    <div class="casino-comparison__item-item">
                        <div class="casino-comparison__item-item-title">Год основания</div>
                        <div class="casino-comparison__item-item-text">2016</div>
                    </div>
                    <div class="casino-comparison__item-item">
                        <div class="casino-comparison__item-item-title">Год основания</div>
                        <div class="casino-comparison__item-item-text">2016</div>
                    </div>
                    <div class="casino-comparison__item-item">
                        <div class="casino-comparison__item-item-title">Год основания</div>
                        <div class="casino-comparison__item-item-text">2016</div>
                    </div>
                    <div class="casino-comparison__item-item">
                        <div class="casino-comparison__item-item-title">Год основания</div>
                        <div class="casino-comparison__item-item-text">1x2 , Amatic , Apollo Games , beefee , Betsoft Gaming , Bgaming 46+</div>
                    </div>
                </div>

                <div class="casino-comparison__item-buttons">
                    <a href="#" class="casino-comparison__item-btn grey-btn">Обзор</a>
                    <a href="#" class="casino-comparison__item-btn blue-btn">Играть</a>
                </div>
            </div>
        </div>
    </div>
</div>