<section class="claim">
    <div class="claim__container">
        <h2 class="claim__title title">Все жалобы</h2>
        <div class="claim__filter">
            <form action="#" class="claim__form">
                <div class="claim__form-select-wrap">
                    <label for="casino-id" class="claim__form-label">Выбор казино</label>
                    <div class="claim__form-select-cont">
                        <select name="casino" id="casino-id" class="claim__form-select">
                            <option selected="" disabled="" value="">--Выбрать--</option>
                            <option class="claim__form-option" value="Favbet">Favbet</option>
                            <option class="claim__form-option" value="Cosmolot">Cosmolot</option>
                            <option class="claim__form-option" value="Favbet">Favbet</option>
                            <option class="claim__form-option" value="Cosmolot">Cosmolot</option>
                        </select>
                    </div>
                </div>
                <div class="claim__form-select-wrap">
                    <label for="status" class="claim__form-label">Статус жалобы</label>
                    <div class="claim__form-select-cont">
                        <select name="theme" id="status" class="claim__form-select">
                            <option selected="" disabled="" value="">--Выбрать--</option>
                            <option class="claim__form-option" value="1">Плохо</option>
                            <option class="claim__form-option" value="2">Хорошо</option>
                            <option class="claim__form-option" value="3">Пойдет</option>
                            <option class="claim__form-option" value="4">Не&nbsp;пойдет</option>
                        </select>
                    </div>
                </div>
                <div class="claim__form-select-wrap">
                    <label for="type" class="claim__form-label">По типу жалобы</label>
                    <div class="claim__form-select-cont">
                        <select name="theme" id="type" class="claim__form-select">
                            <option selected="" disabled="" value="">--Выбрать--</option>
                            <option class="claim__form-option" value="1">не</option>
                            <option class="claim__form-option" value="2">понятно</option>
                            <option class="claim__form-option" value="3">по какому</option>
                            <option class="claim__form-option" value="4">типу</option>
                        </select>
                    </div>
                </div>
                <div class="claim__form-date-wrap">
                    <label for="date-after" class="claim__form-label">Дата жалобы от</label>
                    <input type="date" class="claim__form-date" id="date-after">
                </div>
                <div class="claim__form-date-wrap">
                    <label for="date-before" class="claim__form-label">Дата жалобы до</label>
                    <input type="date" class="claim__form-date" id="date-before">
                </div>
            </form>
        </div>
        <ul class="claim__list">
            <li class="claim__item claim__item-orange">
                <div class="claim__item-row">
                    <div class="claim__item-progress">
                        <svg class="circular-chart" viewBox="0 0 36 36">
                            <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle" stroke-dasharray="76, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                        </svg>
                        <img src="img/page24/time-orange.svg" alt="time" width="28" height="28" loading="lazy">
                    </div>
                    <div class="claim__item-time">
                        <div class="claim__item-time-top">8<span>:</span>32</div>
                        <div class="claim__item-time-bottom">часов осталось</div>
                    </div>
                </div>
                <div class="claim__item-text">To play Norwegian casino games online safely, we recommend doing so on
                    only regulated and licensed casino
                </div>
                <div class="claim__item-btns">
                    <a href="#" class="claim__item-link grey-btn">Детальніше</a>
                    <span>5000€</span>
                </div>
            </li>
            <li class="claim__item claim__item-blue">
                <div class="claim__item-row">
                    <div class="claim__item-progress">
                        <svg class="circular-chart" viewBox="0 0 36 36">
                            <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle" stroke-dasharray="35, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                        </svg>
                        <img src="img/page24/time-blue.svg" alt="time" width="28" height="28" loading="lazy">
                    </div>
                    <div class="claim__item-time">
                        <div class="claim__item-time-top">72<span>:</span>09</div>
                        <div class="claim__item-time-bottom">часов осталось</div>
                    </div>
                </div>
                <div class="claim__item-text">To play Norwegian casino games online
                </div>
                <div class="claim__item-btns">
                    <a href="#" class="claim__item-link grey-btn">Детальніше</a>

                </div>
            </li>
            <li class="claim__item claim__item-red">
                <div class="claim__item-row">
                    <div class="claim__item-progress">
                        <svg class="circular-chart" viewBox="0 0 36 36">
                            <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle" stroke-dasharray="57, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                        </svg>
                        <img src="img/page24/time-red.svg" alt="time" width="28" height="28" loading="lazy">
                    </div>
                    <div class="claim__item-time">
                        <div class="claim__item-time-top">0<span>:</span>12</div>
                        <div class="claim__item-time-bottom">часов осталось</div>
                    </div>
                </div>
                <div class="claim__item-text">To play Norwegian casino games online safely, we recommend doing so on
                    only regulated
                </div>
                <div class="claim__item-btns">
                    <a href="#" class="claim__item-link grey-btn">Детальніше</a>
                    <span>5000€</span>
                </div>
            </li>
            <li class="claim__item claim__item-black">
                <div class="claim__item-row">
                    <div class="claim__item-progress">
                        <svg class="circular-chart" viewBox="0 0 36 36">
                            <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle" stroke-dasharray="100, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                        </svg>
                        <img src="img/page24/time-error.svg" alt="time" width="28" height="28" loading="lazy">
                    </div>
                    <div class="claim__item-time">
                        <div class="claim__item-time-top">--<span>:</span>--</div>
                        <div class="claim__item-time-bottom">часов осталось</div>
                    </div>
                </div>
                <div class="claim__item-text">To play Norwegian casino games online safely, we recommend doing so on
                    only regulated
                </div>
                <div class="claim__item-btns">
                    <a href="#" class="claim__item-link grey-btn">Детальніше</a>
                    <span>5000€</span>
                </div>
            </li>
            <li class="claim__item claim__item-orange">
                <div class="claim__item-row">
                    <div class="claim__item-progressDone">
                        <img src="img/page18/complaint-done.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="claim__item-progressDone-text">Done</div>
                </div>
                <div class="claim__item-text">To play Norwegian casino games online safely, we recommend doing so on
                    only regulated and licensed casino
                </div>
                <div class="claim__item-btns">
                    <a href="#" class="claim__item-link grey-btn">Детальніше</a>
                    <span>5000€</span>
                </div>
            </li>
            <li class="claim__item claim__item-blue">
                <div class="claim__item-row">
                    <div class="claim__item-progressDone">
                        <img src="img/page18/complaint-load.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="claim__item-progressDone-text">Processing</div>
                </div>
                <div class="claim__item-text">To play Norwegian casino games online
                </div>
                <div class="claim__item-btns">
                    <a href="#" class="claim__item-link grey-btn">Детальніше</a>

                </div>
            </li>
            <li class="claim__item claim__item-red">
                <div class="claim__item-row">
                    <div class="claim__item-progressDone">
                        <img src="img/page18/complaint-cancel.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="claim__item-progressDone-text">Canceled</div>
                </div>
                <div class="claim__item-text">To play Norwegian casino games online safely, we recommend doing so on
                    only regulated
                </div>
                <div class="claim__item-btns">
                    <a href="#" class="claim__item-link grey-btn">Детальніше</a>
                    <span>5000€</span>
                </div>
            </li>
            <li class="claim__item claim__item-black">
                <div class="claim__item-row">
                    <div class="claim__item-progressDone">
                        <img src="img/page18/complaint-none.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="claim__item-progressDone-text">Ebanarot</div>
                </div>
                <div class="claim__item-text">To play Norwegian casino games online safely, we recommend doing so on
                    only regulated
                </div>
                <div class="claim__item-btns">
                    <a href="#" class="claim__item-link grey-btn">Детальніше</a>
                    <span>5000€</span>
                </div>
            </li>

        </ul>
        <a href="#" class="claim__all-link blue-btn">All complaints</a>
    </div>
</section>