<section class="casino">
    <div class="casino__container">
        <h1 class="casino__title">
            Платіжні системи онлайн казино
        </h1>
        <div class="casino__row-wrap">
            <ul class="casino__row">
                <li class="casino__item">
                    <a href="#" class="casino__item-link" aria-label="link-casino"></a>
                    <div class="casino__item-img">
                        <img src="img/home/casino/casino-link-one.svg" alt="casino-img-link" width="100" height="100" loading="lazy">
                    </div>
                    <div class="casino__item-text">Казино</div>
                </li>
                <li class="casino__item">
                    <a href="#" class="casino__item-link" aria-label="link-casino"></a>
                    <div class="casino__item-img">
                        <img src="img/home/casino/casino-link-two.svg" alt="casino-img-link" width="100" height="100" loading="lazy">
                    </div>
                    <div class="casino__item-text">Бонусы</div>
                </li>
                <li class="casino__item">
                    <a href="#" class="casino__item-link" aria-label="link-casino"></a>
                    <div class="casino__item-img">
                        <img src="img/home/casino/casino-link-three.svg" alt="casino-img-link" width="100" height="100" loading="lazy">
                    </div>
                    <div class="casino__item-text">Слоты</div>
                </li>
                <li class="casino__item">
                    <a href="#" class="casino__item-link" aria-label="link-casino"></a>
                    <div class="casino__item-img">
                        <img src="img/home/casino/casino-link-fourth.svg" alt="casino-img-link" width="100" height="100" loading="lazy">
                    </div>
                    <div class="casino__item-text">Провайдеры</div>
                </li>
                <li class="casino__item">
                    <a href="#" class="casino__item-link" aria-label="link-casino"></a>
                    <div class="casino__item-img">
                        <img src="img/home/casino/casino-link-five.svg" alt="casino-img-link" width="100" height="100" loading="lazy">
                    </div>
                    <div class="casino__item-text">Платежные системы</div>
                </li>
                <li class="casino__item">
                    <a href="#" class="casino__item-link" aria-label="link-casino"></a>
                    <div class="casino__item-img">
                        <img src="img/home/casino/casino-link-six.svg" alt="casino-img-link" width="100" height="100" loading="lazy">
                    </div>
                    <div class="casino__item-text">Партнерские программы</div>
                </li>
                <li class="casino__item">
                    <a href="#" class="casino__item-link" aria-label="link-casino"></a>
                    <div class="casino__item-img">
                        <img src="img/home/casino/casino-link-seven.svg" alt="casino-img-link" width="100" height="100" loading="lazy">
                    </div>
                    <div class="casino__item-text">Жалобы</div>
                </li>
            </ul>
        </div>

    </div>
</section>