.all-complaint {
  margin: 0 0 30px 0;

  &__container {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  &__title {
    text-align: center;
    margin: 0 0 20px 0;
  }

  &__list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 0 30px 0;
  }

  &__item {
    min-width: 315px;
    padding: 15px;
    background: $white;
    border-radius: 20px;
    max-width: 315px;
    display: flex;
    flex-direction: column;

    &-done {
      .all-complaint__item-img {
        background: $orange;
      }

      .all-complaint__item-title {
        color: $orange;
      }
    }


    &-load {
      .all-complaint__item-img {
        background: $blue;
      }

      .all-complaint__item-title {
        color: $blue;
      }
    }


    &-none {
      .all-complaint__item-img {
        background: $blue-dark;
      }

      .all-complaint__item-title {
        color: $blue-dark;
      }
    }

    &-cancel {
      .all-complaint__item-img {
        background: $red;
      }

      .all-complaint__item-title {
        color: $red;
      }
    }

    &-row {
      display: flex;
      align-items: center;
      margin: 0 0 20px 0;
    }

    &-img {
      width: 90px;
      height: 90px;
      border-radius: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 15px 0 0;
    }

    &-title {
      font-family: $font-firs-semb;
      font-size: 17px;
      line-height: 26px;
      letter-spacing: 0.02em;
    }

    &-mon {
      font-family: $font-firs-semb;
      font-size: 15px;
      line-height: 20px;
      color: $blue-dark;
    }

    &-text {
      flex: 1 1 auto;
      font-family: $font-firs-reg;
      font-size: 15px;
      line-height: 25px;
      color: $blue-dark;
      margin: 0 0 20px 0;
    }

    &-link {
      align-self: flex-start;
      display: inline-block;
      padding: 10px 30px 9px;
      border-radius: 8px;
      font-family: $font-firs-reg;
      font-size: 13px;
      line-height: 20px;
    }
  }
  &__all-link{
    align-self: center;
    display: inline-block;
    padding: 15px 120px 14px;
    border-radius: 8px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.04em;
    @media screen and (max-width: 700px){
      width: 100%;
      padding: 15px 15px 14px;
    }


  }
}

@media screen and (max-width: 1024px) {
  .all-complaint {
    margin: 0 0 30px 0;

    &__container {
      padding: 0;
    }
  }
}

@media screen and (max-width: 700px) {
  .all-complaint {
    &__list {
      flex-direction: column;
      margin: 0 0 20px 0;
    }

    &__item {
      width: 100%;
      max-width: 100%;
      min-width: auto;
    }
  }
}

@media screen and (max-width: 650px) {
  .all-complaint {
    &__container {
      padding: 0 15px;
    }
    &__title {
      margin: 0 0 15px 0;
    }
  }
}