<section class="slot">
  <div class="provide__container">
    <h2 class="provide__title title">Ваші улюблені провайдери</h2>
    <ul class="provide__list">
      <li class="provide__item">
        <div class="provide__item-image">
          <a href="#" class="provide__item-image-link" aria-label="link-payment"></a>
          <img loading="lazy" src="img/page9/microgaming.svg" width="324" height="128" alt="image-casino">
        </div>
        <div class="provide__item-row">
          <div class="provide__item-title">Mastercard</div>
          <div class="provide__item-like"></div>
        </div>

        <div class="provide__item-info">
          Kabra till now: <span>350</span>
        </div>
        <a href='#' class="provide__item-link grey-btn">Pay</a>
      </li>
      <li class="provide__item">
        <div class="provide__item-image">
          <a href="#" class="provide__item-image-link" aria-label="link-payment"></a>
          <img loading="lazy" src="img/page9/microgaming.svg" width="324" height="128" alt="image-casino">
        </div>
        <div class="provide__item-row">
          <div class="provide__item-title">Mastercard</div>
          <div class="provide__item-like"></div>
        </div>

        <div class="provide__item-info">
          Kabra till now: <span>350</span>
        </div>
        <a href='#' class="provide__item-link grey-btn">Pay</a>
      </li>
      <li class="provide__item">
        <div class="provide__item-image">
          <a href="#" class="provide__item-image-link" aria-label="link-payment"></a>
          <img loading="lazy" src="img/page9/microgaming.svg" width="324" height="128" alt="image-casino">
        </div>
        <div class="provide__item-row">
          <div class="provide__item-title">Mastercard</div>
          <div class="provide__item-like"></div>
        </div>

        <div class="provide__item-info">
          Kabra till now: <span>350</span>
        </div>
        <a href='#' class="provide__item-link grey-btn">Pay</a>
      </li>
    </ul>

  </div>
</section>