<div class="statistics">
  <div class="statistics__title">Статистика аккаунта</div>
  <div class="statistics__list">
    <div class="statistics__item">
      <div class="statistics__item-title">Дата вступления:</div>
      <div class="statistics__item-text">21. 04. 2022</div>
    </div>
    <div class="statistics__item">
      <div class="statistics__item-title">Дата вступления:</div>
      <div class="statistics__item-text">21. 04. 2022</div>
    </div>
    <div class="statistics__item">
      <div class="statistics__item-title">Дата вступления:</div>
      <div class="statistics__item-text">21. 04. 2022</div>
    </div>
  </div>
</div>