<div class="user" data-da=".main, 1024, first">
    <div class="user__info">
        <div class="user__info-img">
                <img src="img/page18/user-img.webp" width="70" height="70"
                     alt="image-casino" class="img-user" loading="lazy">
            <div class="user__info-img-btn">
                <img src="img/page18/photo-icon.svg" alt="photo-icon" width="15" height="14" loading="lazy">
            </div>
        </div>
        <div class="user__info-name">Denis Denis</div>
        <progress class="user__info-bar" value="60" max="100">
        </progress>
        <div class="user__info-wrap">
            <div class="user__info-level">LVL: 20</div>
            <div class="user__info-diamond">200</div>
        </div>
        <div class="user__info-achievement">
            <div class="user__info-achievement-title">Достижения</div>
            <div class="user__info-achievement-list">
                <div class="user__info-achievement-item">
                    <img src="img/page18/achiv1.svg" alt="achievement" width="50" height="50" loading="lazy">
                    <div class="user__info-achievement-item-subtext">Один невнятный смайлик</div>
                </div>
                <div class="user__info-achievement-item">
                    <img src="img/page18/achiv2.svg" alt="achievement" width="50" height="50" loading="lazy">
                    <div class="user__info-achievement-item-subtext">Одна поданная жалоба</div>
                </div>
                <div class="user__info-achievement-item">
                    <img src="img/page18/achiv3.svg" alt="achievement" width="50" height="50" loading="lazy">
                    <div class="user__info-achievement-item-subtext">Пригласи своего лудомана</div>
                </div>
                <div class="user__info-achievement-item">
                    <img src="img/page18/achiv4.svg" alt="achievement" width="50" height="50" loading="lazy">
                    <div class="user__info-achievement-item-subtext">Пригласи много лудоманов</div>
                </div>
            </div>
        </div>
        <a href="#" class="user__info-red">Редактировать профиль</a>
    </div>
    <div class="user__menu">
        <a href="#" class="user__menu-item"><img src="img/page18/user-menu1.svg" alt="user-icon" width="22" height="20" loading="lazy"> Мои жалобы</a>
        <a href="#" class="user__menu-item"><img src="img/page18/user-menu2.svg" alt="user-icon" width="22" height="20" loading="lazy"> Избранное</a>
        <a href="#" class="user__menu-item"><img src="img/page18/user-menu3.svg" alt="user-icon" width="22" height="20" loading="lazy"> Заполнить профиль <span>+200</span></a>
        <a href="#" class="user__menu-item"><img src="img/page18/user-menu4.svg" alt="user-icon" width="22" height="20" loading="lazy"> Написать отзыв <span>+200</span></a>
        <a href="#" class="user__menu-item"><img src="img/page18/user-menu5.svg" alt="user-icon" width="22" height="20" loading="lazy"> Пригловисть друга <span>+200</span></a>
    </div>
</div>