<section class="register">
    <div class="register__container">
        <div class="register__row">
            <div class="register__info">
                <form action="#" class="register__info-form">
                    <input type="text" name="login name" class="register__info-login js-input" placeholder="Profile name">
                    <input type="email" name="login name" class="register__info-login js-input" placeholder="Email">
                    <div class="register__info-pass-wrap">
                        <input type="password" name="login pass" class="register__info-pass js-input" placeholder="Password">
                        <span class="icon-pass"></span>
                    </div>
                    <div class="register__form-check">
                        <input type="checkbox" class="register__form-checkbox js-check" id="checkbox" name="checkbox">
                        <label for="checkbox" class="register__form-check-label"></label>
                        <div class="register__form-check-text">I, the sender, confirm that the above information
                            is&nbsp;true and correct and that my&nbsp;shipment does <a href="#">Conditions of&nbsp;Carriage</a>.
                        </div>
                    </div>
                    <button type="submit" class="register__info-btn">Register</button>
                </form>
            </div>
            <div class="register__started">
                <div class="register__started-title">Приєднуйся до нас за допомогою безкоштовного облікового запису</div>
                <div class="register__started-subtitle">Що Вас чекає:</div>
                <div class="register__started-list">
                    <div class="register__started-item">Можливість додавати казино та слоти в улюблені</div>
                    <div class="register__started-item">Отримуйте сповіщення про найкращі пропозиції</div>
                    <div class="register__started-item">Пишіть коментарі та залишайте відгуки</div>
                </div>
            </div>
        </div>
    </div>
</section>