.menu__icon {
  display: none;
  @include breakpoint($tablet-bp) {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $blue ;
    border-radius: 12px;
    width: 38px;
    height: 38px;
    position: relative;
    z-index: 5;

    img{
      opacity: 1;
      transition: opacity .3s ease;
    }

    &._active img{
      opacity: 0;
    }

    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 3px;
      background: $white;
      border-radius: 8px;
      top: 11px;
      left: 50%;
      transform: translate(-50%, 0);
      opacity: 0;
      transition: $transition;
    }

    &._active::before {
      opacity: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 3px;
      background: $white;
      border-radius: 8px;
      bottom: 11px;
      left: 50%;
      transform: translate(-50%, 0);
      opacity: 0;
      transition: $transition;
    }

    &._active::after {
      opacity: 1;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 50%) rotate(45deg);
    }

    &._active img {
      opacity: 0;
    }
  }
}

.header{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  &__top{
    padding: 21px 0 20px;
    background-color: $black-menu-white;
    border-bottom: 1px solid $grey-white-bg-2;
    &-row{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
    }
  }
  &__logo{
    font-family: $font-firs-semb;
    color: $white;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    span{
      &:first-child{
        color: $blue;
      }
      &:nth-child(2){
        font-style: italic;
      }
    }
  }
  &__search{
    width: 460px;
    &-input{
      display: inline-block;
      border-radius: 8px;
      width: 100%;
      font-size: 14px;
      line-height: 20px;
      color: $white;
      padding: 14px 40px 12px 25px;
      background: $black-one url("../img/general-block-image/header/input-search.svg") no-repeat 96% 15px/18px 18px;
      box-shadow: $shadow-one;
      border: 1px solid $blue;
      &::placeholder{
        font-family: $font-firs-reg;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: $grey-text;
      }
      &:focus{
        border: 1px solid $blue;
      }
    }
  }
  &__btns{
    display: flex;
  }
  &__btn{
    padding: 10px 20px 9px;
    font-family: $font-firs-semb;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.04em;
    color: $white;
    border: 2px solid $blue;
    &:first-child{
      margin: 0 10px 0 0;
      border: 2px solid $blue;
      border-radius: 8px;
      transition: background-color $transition;
      &:hover{
        background: $blue-hover;
      }
    }
  }
  &__bottom{
    width: 100%;
    background-color: $black-menu-white;
  }

  &__cabinet{
    &-mob{
      display: none;
      //display: flex;
      width: 38px;
      height: 38px;
      background: #0450FF;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
    }
  }
}


.menu {
  display: flex;
  justify-content: flex-start;

  .menu-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

    .menu-item {
      position: relative;
      &:not(:last-child){
        margin: 0 25px 0 0;
      }

      a, span {
        cursor: pointer;
        font-family: $font-firs-reg;
        display: flex;
        align-items: center;
        color: $white;
        text-decoration: none;
        padding: 14px 0 13px;
        font-size: 15px;
        line-height: 20px;
        transition: color $transition;
        &:hover{
          color: $white-hover;
        }
        &::after{
          content: '';
          display: inline-block;
          margin: 0 0 0 6px;
          width: 8px;
          height: 6px;
          background: url("../img/general-block-image/header/arrow-menu.svg") no-repeat center/contain;
        }
        &::before{
          content: '';
          position: absolute;
          width: 100%;
          height: 43px;
          top: 10px;
          background: transparent;
        }
      }

      .sub-menu {
        padding: 10px;
        display: none;
        position: absolute;
        background-color: $black-menu-white;
        border: 1px solid $grey-db;
        backdrop-filter: blur(25px);
        border-radius: 14px;
        min-width: 230px;
        max-width: 230px;
        z-index: 1;
        left: -10px;
        top: 110%;

        .menu-item {
          position: relative;
          margin: 0;
          a, span {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 10px 35px 9px 15px;
            border-radius: 14px;
            font-size: 17px;
            color: $white;
            transition: background-color $transition;
            &::after{
              margin: 0;
              position: absolute;
              right: 15px;
              top: 45%;
              transform: translateX(-50%) rotate(-90deg);
            }
            &::before{
              content: '';
              position: absolute;
              width: 100%;
              height: 43px;
              top: 10px;
              left: 20px;
              background: transparent;

            }
            &:hover{
              background: rgba(255,255,255,.07);
            }

          }

          .sub-menu {
            top: 0;
            left: 108%;
          }
        }
      }
    }

  }

  @media (max-width: 1250px){
    .menu-list{
      .menu-item{
        &:nth-child(8),
        &:nth-child(7),
        &:nth-child(6){
          .sub-menu{
            left: auto;
            right: 0;
            .sub-menu{
              left: auto;
              right: 108%;
            }
          }
        }
      }

    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;

    .menu-list {
      flex-direction: column;

      .menu-item {
        position: relative;
        &:not(:last-child){
          margin: 0 0 10px 0;
        }

        a,span {
          font-size: 17px;
          background: $grey-white-bg;
          border-radius: 14px;
          width: 100%;
          padding: 14px 30px 14px 20px;
          &::before{
            content: none;
          }
          &::after{
            position: absolute;
            right: 20px;
            top: 21px;
          }
        }

        .sub-menu {
          background: $grey-white-bg;
          border-radius: 0 0 14px 14px;
          display: none;
          position: static;
          padding: 0;
          border: none;
          width: 100%;
          max-width: 100%;
          .menu-item{
            width: 100%;
            a,span{
              font-size: 17px;
              padding: 14px 30px 14px 20px;
              background: none;
              border-radius: 0;
              width: 100%;
              &::before{
                content: none;
              }
              &::after{
                position: absolute;
                right: 20px;
                top: 21px;
              }
            }
          }

        }



        &.mobile-active {
          .sub-menu {
            display: block;
            a::after{
              transform: rotate(-90deg);
            }
          }
           a,span{
            border-radius: 14px 14px 0 0;
          }
          .sub-menu-2,
          .sub-menu-3{
            border-radius: 0;
            background: none;
            margin: 0;
            display: none;
            border-bottom: 2px solid $black-one;
            border-top: 2px solid $black-one;
            a{
              padding: 14px 30px 14px 35px;
            }
            &._open{
              display: block;

            }
            a::after{
              transform: rotate(-90deg);
            }
          }
          //.sub-menu-2{
          //  background: $grey-white-bg;
          //}
          .sub-menu-3{
            background: $grey-white-bg;
            a{
              padding: 14px 30px 14px 50px;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1024px) {
   .header{

     &__top{
       width: calc(100% - 30px);
       position: absolute;
       padding: 12px 0;
       z-index: 130;
       top: 15px;
       left: 50%;
       transform: translateX(-50%);
       border-radius: 20px;
       border: none;
     }

     &__bottom{

       padding: 93px 0 0;
       overflow-y: scroll;
       position: fixed;
       width: 100%;
       height: 100%;
       z-index: 120;
       top: 0;
       left: 0;
       background: $black-one;
       transform: translateX(-100%);
       transition: transform .3s ease;
       .header__container{
         max-width: 530px;
       }

       &._active{
         transform: translateX(0);
       }
     }

     &__search{
       width: 100%;
       margin: 0 0 30px 0;
      &-input{
        box-shadow: inset 0px 0px 14px rgba(0, 0, 0, 0.5);
        border: 1px solid $grey-white-bg;
      }
     }

     &__cabinet{
       position: relative;
       &-mob{
         display: flex;
       }

     }

     &__btn{
       border-radius: 8px;
       background: $blue;
       color: $white;
       transition: background-color $transition;
       &:hover{
         background: $blue-hover;
       }
       &:first-child{
         margin: 0 0 10px 0;
       }
     }

     &__btns{
       border: 1px solid $grey-white-bg;
       padding: 10px;
       background: $black-menu-white;
       border-radius: 5px;
       flex-direction: column;
       position: absolute;
       right: 0;
       top: 55px;
       display: none;
       &._open{
         display: flex;
       }
     }
   }
}

@media screen and (max-width: 650px) {
  .header {

    &__logo {
      font-size: 22px;
      line-height: 30px;
    }


  }
}