.leave {
  padding: 50px;
  margin: 0 0 20px 0;
  background: $white;
  border-radius: 20px;
  &__title{
    margin: 0 0 20px 0;
  }

  &__row {
    display: flex;
    align-items: flex-start;
  }

  &__img {
    min-width: 70px;
    max-width: 70px;
    margin: 0 20px 0 0;

    img {
      border-radius: 50%;
    }
  }

  &__form {
    width: 100%;

    &-plus-input,
    &-minus-input {
      color: $blue-dark;
      width: 100%;
      padding: 12px 15px 11px;
      border-radius: 4px;
      background: $grey-bg-section;
      margin: 0 0 10px 0;

      &::placeholder {
        font-family: $font-firs-reg;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.004em;
        color: $green;
      }
    }

    &-text-input {
      color: $blue-dark;
      width: 100%;
      padding: 12px 15px 11px;
      border-radius: 4px;
      background: $grey-bg-section;
      height: 170px;
      resize: none;
      margin: 0 0 20px 0;

      &::placeholder {
        font-family: $font-firs-reg;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.004em;
        color: $green;
      }
    }

    &-wrap{
      display: flex;
      justify-content: space-between;
    }
    &-star{
      display: flex;
      align-items: center;
      &-text{
        font-family: $font-firs-reg;
        font-size: 17px;
        line-height: 20px;
        color: $blue-dark;
        margin: 0 10px 0 0;
      }
    }
    &-btn{
      display: inline-block;
      padding: 14px 40px 13px;
      border-radius: 8px;
      font-family: $font-firs-reg;
      background: $blue;
      color: $white;
      font-size: 13px;
      line-height: 20px;
      transition: background-color .3s ease;
      &:hover{
        background: $blue-hover;
      }
      &._disabled{
        pointer-events: none;
        background: $grey-disabled;
      }
    }
  }

}


fieldset, label {
  margin: 0;
  padding: 0;
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5px;
}

.rating > input {
  display: none;
}

.rating > label:before {
  width: 21px;
  height: 21px;
  display: block;
  content: "";
}

.rating > label {
  cursor: pointer;
  background: url("../img/general-block-image/feedback/star-grey.svg") no-repeat center/contain;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  width: 21px;
  height: 21px;
  background: url("../img/general-block-image/feedback/star-orange.svg") no-repeat center/contain;
}

/* hover previous stars in list */

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  width: 21px;
  height: 21px;
  background: url("../img/general-block-image/feedback/star-orange.svg") no-repeat center/contain;
}

@media screen and (max-width: 1024px){
  .leave{
    border-radius: 22px;
    padding: 30px 30px 20px;

  }
}

@media screen and (max-width: 700px){
  .leave{

    &__row{
      flex-direction: column;
    }
    &__img{
      margin: 0 0 10px 0;
    }
    &__form{
      &-text-input{
        margin: 0 0 20px 0;
      }
      &-wrap{
        flex-direction: column;
      }
      &-star{
        margin: 0 0 20px 0;
      }
    }
  }
}

@media screen and (max-width: 650px){
  .leave{
    border-radius: 22px;
    padding: 20px 15px;
    margin: 0 0 30px 0;
    width: 100%;
    &__title{
      margin: 0 0 10px 0;
    }
    &__row{
      flex-direction: column;
    }
    &__img{
      margin: 0 0 10px 0;
    }
    &__form{
      &-text-input{
        margin: 0 0 20px 0;
      }
      &-wrap{
        flex-direction: column;
      }
      &-star{
        margin: 0 0 20px 0;
      }
    }
  }
}

