<section class="problem">
  <div class="problem__container">
    <h2 class="problem__title title">Возникли проблемы с казино ?</h2>
    <p class="problem__text">Licensed online casinos with slot machines in Ukraine. The guarantee of the reliability of a gambling establishment is a license. Regulators impose requirements on companies when obtaining permission, monitor their work after registration.Licensed online casinos with slot machines in Ukraine. The guarantee of the reliability of a gambling establishment is a license. Regulators impose requirements on companies when obtaining permission, monitor their work after registration.</p>
    <ul class="problem__list">
      <li class="problem__item">
        <div class="problem__item-img">
          <img src="img/page20/problem-img1.svg" alt="problem-img" width="85" height="85" loading="lazy">
        </div>
        <div class="problem__item-title">Оплата</div>
        <ul class="problem__item-list">
          <li class="problem__item-item">Задержка платежа</li>
          <li class="problem__item-item">Проблемы с проверкой</li>
          <li class="problem__item-item">Отклоненный платеж</li>
          <li class="problem__item-item">Возврат отклонен</li>
        </ul>
      </li>
      <li class="problem__item">
        <div class="problem__item-img">
          <img src="img/page20/problem-img2.svg" alt="problem-img" width="85" height="85" loading="lazy">
        </div>
        <div class="problem__item-title">Оплата</div>
        <ul class="problem__item-list">
          <li class="problem__item-item">Задержка платежа</li>
          <li class="problem__item-item">Проблемы с проверкой</li>

        </ul>
      </li>
      <li class="problem__item">
        <div class="problem__item-img">
          <img src="img/page20/problem-img3.svg" alt="problem-img" width="85" height="85" loading="lazy">
        </div>
        <div class="problem__item-title">Оплата</div>
        <ul class="problem__item-list">
          <li class="problem__item-item">Задержка платежа</li>
          <li class="problem__item-item">Проблемы с проверкой</li>
          <li class="problem__item-item">Отклоненный платеж</li>
          <li class="problem__item-item">Возврат отклонен</li>
        </ul>
      </li>
      <li class="problem__item">
        <div class="problem__item-img">
          <img src="img/page20/problem-img4.svg" alt="problem-img" width="85" height="85" loading="lazy">
        </div>
        <div class="problem__item-title">Оплата</div>
        <ul class="problem__item-list">
          <li class="problem__item-item">Задержка платежа</li>

          <li class="problem__item-item">Отклоненный платеж</li>
          <li class="problem__item-item">Возврат отклонен</li>
        </ul>
      </li>
      <li class="problem__item">
        <div class="problem__item-img">
          <img src="img/page20/problem-img5.svg" alt="problem-img" width="85" height="85" loading="lazy">
        </div>
        <div class="problem__item-title">Оплата</div>
        <ul class="problem__item-list">
          <li class="problem__item-item">Задержка платежа</li>
          <li class="problem__item-item">Проблемы с проверкой</li>
          <li class="problem__item-item">Отклоненный платеж</li>
          <li class="problem__item-item">Возврат отклонен</li>
        </ul>
      </li>
      <li class="problem__item">
        <div class="problem__item-img">
          <img src="img/page20/problem-img6.svg" alt="problem-img" width="85" height="85" loading="lazy">
        </div>
        <div class="problem__item-title">Оплата</div>
        <ul class="problem__item-list">
          <li class="problem__item-item">Задержка платежа</li>

          <li class="problem__item-item">Возврат отклонен</li>
        </ul>
      </li>
    </ul>
    <a href="#" class="problem__link blue-btn">Подать жалобу</a>
  </div>
</section>