.top{
  &__title{
    margin: 0 0 20px 0;

  }
  &__all-link{
    display: inline-block;
    width: 286px;
    text-align: center;
    align-self: center;
    font-size: 13px;
    line-height: 20px;
    padding: 12px 15px 11px;
  }
  &__wrap{
    display: flex;
    flex-direction: column;
    background: $white;
    border-radius: 20px;
    padding: 50px;
  }
  display: flex;
  flex-direction: column;

  margin: 0 0 20px 0;

  &__list{
    margin: 0 0 30px 0;
  }

  &__item{
    position: relative;
    display: flex;
    align-items: center;
    &:not(:last-child){
      margin: 0 0 20px 0;
    }
    &-link{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &-image{
      min-width: 300px;
      max-width: 300px;
      margin: 0 20px 0 0;
      img{
        border-radius: 14px;
        min-width: 100%;
      }
    }


    p{
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 0.01em;
      color: $blue-dark;
      margin: 0 0 10px 0;
    }

    time{
      font-size: 15px;
      line-height: 22px;
      color: $green-two;
    }
  }

}

@media screen and (max-width: 1024px) {
  .top{
    margin: 0 0 20px 0;
    &__wrap{
      padding: 30px 30px 20px;
      border-radius: 22px;
    }
    &__list{
      display: grid;
      grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
      gap: 15px;
    }
    &__item{
      border-radius: 20px;
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border: 2px solid $grey-bg-section;
      &:not(:last-child){
        margin: 0;
      }
      &-row{
        height: 100%;
        display: flex;
        flex-direction: column;
        p{
          flex: 1 1 auto;
        }
      }
      &-image{
        min-width: 100%;
        max-width: 100%;
        margin: 0 0 20px 0;
        img{
          min-width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .top{
    margin: 0 0 30px 0;
    &__list{
      margin: 0 0 20px 0;
    }
    &__all-link{
      width: 100%;
    }
    &__wrap{
      padding: 0;
      border-radius: 0;
      background: transparent;
    }

    &__item{
      border: none;
      padding: 10px;
      background: $white;
      &-row{
        padding: 0 5px 5px 5px;
        p{
          font-size: 17px;
          line-height: 24px;
        }
        time{
          font-size: 13px;
          line-height: 17px;
        }
      }
    }
    &__list{
      grid-template-columns: 100%;
      gap: 10px;
    }

  }
}

