<section class="feedback" xmlns="http://www.w3.org/1999/html">
        <h2 class="feedback__title title">Betsson Casino Reviews</h2>
        <div class="feedback__comment">
            <div class="feedback__comment-user">
                <div class="feedback__comment-user-wrap">
                    <div class="feedback__comment-user-img">
                            <img loading="lazy" src="img/general-block-image/feedback/user-img.webp" width="70" height="70"
                                 alt="image-casino">

                    </div>
                    <div class="feedback__comment-user-info">
                        <div class="feedback__comment-user-info-row">
                            <div class="feedback__comment-user-info-name">Anastasia</div>
                        </div>
                        <div class="feedback__comment-user-info-date">April 8, 2021</div>

                    </div>
                </div>
                <div class="feedback__comment-user-question">
                    <div class="feedback__comment-user-question-text">Wow! I've never seen the best poker room in my life! Of all the sites I've tested, here are the coolest promotions and bonuses for playing poker! Yes, you can collect suitable amounts from scratch on them! I played almost without any problems. Nothing freezes, never knocks out of the game, loads on ...
                    </div>
                    <div class="feedback__comment-user-question-casino">
                        <div class="feedback__comment-user-question-casino-img">
                                <img loading="lazy" src="img/general-block-image/feedback/casino-img-min.webp" width="32" height="30"
                                     alt="image-casino">

                        </div>
                        <div class="feedback__comment-user-question-casino-rating">
                            <img loading="lazy"
                                 src="img/general-block-image/feedback/star-orange.svg"
                                 width="17" height="16"
                                 alt="image-casino">4.5
                        </div>
                    </div>
                    <div class="feedback__comment-user-answer">
                        <a href="#" class="feedback__comment-user-answer-link">To answer</a>
                        <div class="feedback__comment-user-answer-like">2</div>
                    </div>
                </div>
            </div>
            <div class="feedback__comment-mod">
                <div class="feedback__comment-mod-wrap">
                    <div class="feedback__comment-mod-info">
                        <div class="feedback__comment-mod-info-casino">CASINO.<span>UA</span></div>
                        <div class="feedback__comment-mod-info-doc">Moderator</div>
                    </div>
                    <div class="feedback__comment-mod-date">April 8, 2021</div>
                </div>
                <div class="feedback__comment-mod-text">
                    Good afternoon DIGAL. In the case of withdrawing small amounts, this procedure may not be necessary
                    at all. You will only need to provide a scan of your passport. Verification is required if an
                    application is created for the payment of large funds. This may take a significant period of time.
                    Additional information will be requested to address this...
                </div>
            </div>
            <div class="feedback__comment-another feedback__comment-another-two">
                <div class="feedback__comment-another-title">Advantages</div>
                <div class="feedback__comment-another-text">Fast withdrawal, more than 100 free games, 24/7 support</div>
                <div class="feedback__comment-another-answer">
                    <a href="#" class="feedback__comment-another-answer-link">To answer</a>
                    <div class="feedback__comment-another-answer-like">2</div>
                </div>
            </div>
            <div class="feedback__comment-another feedback__comment-another-two">
                <div class="feedback__comment-another-title">Advantages</div>
                <div class="feedback__comment-another-text">Fast withdrawal, more than 100 free games, 24/7 support</div>
                <div class="feedback__comment-another-answer">
                    <a href="#" class="feedback__comment-another-answer-link">To answer</a>
                    <div class="feedback__comment-another-answer-like">2</div>
                </div>
            </div>
        </div>
        <div class="feedback__comment">
        <div class="feedback__comment-user">
            <div class="feedback__comment-user-wrap">
                <div class="feedback__comment-user-img">
                    <img loading="lazy" src="img/general-block-image/feedback/user-img.webp" width="70" height="70"
                         alt="image-casino">

                </div>
                <div class="feedback__comment-user-info">
                    <div class="feedback__comment-user-info-row">
                        <div class="feedback__comment-user-info-name">Anastasia</div>
                    </div>
                    <div class="feedback__comment-user-info-date">April 8, 2021</div>

                </div>
            </div>
            <div class="feedback__comment-user-question">
                <div class="feedback__comment-user-question-text">Wow! I've never seen the best poker room in my life! Of all the sites I've tested, here are the coolest promotions and bonuses for playing poker! Yes, you can collect suitable amounts from scratch on them! I played almost without any problems. Nothing freezes, never knocks out of the game, loads on ...
                </div>
                <div class="feedback__comment-user-question-casino">
                    <div class="feedback__comment-user-question-casino-img">
                        <img loading="lazy" src="img/general-block-image/feedback/casino-img-min.webp" width="32" height="30"
                             alt="image-casino">

                    </div>
                    <div class="feedback__comment-user-question-casino-rating">
                        <img loading="lazy"
                             src="img/general-block-image/feedback/star-orange.svg"
                             width="17" height="16"
                             alt="image-casino">4.5
                    </div>
                </div>
                <div class="feedback__comment-user-answer">
                    <a href="#" class="feedback__comment-user-answer-link">To answer</a>
                    <div class="feedback__comment-user-answer-like">2</div>
                </div>
            </div>
        </div>
        <div class="feedback__comment-mod">
            <div class="feedback__comment-mod-wrap">
                <div class="feedback__comment-mod-info">
                    <div class="feedback__comment-mod-info-casino">CASINO.<span>UA</span></div>
                    <div class="feedback__comment-mod-info-doc">Moderator</div>
                </div>
                <div class="feedback__comment-mod-date">April 8, 2021</div>
            </div>
            <div class="feedback__comment-mod-text">
                Good afternoon DIGAL. In the case of withdrawing small amounts, this procedure may not be necessary
                at all. You will only need to provide a scan of your passport. Verification is required if an
                application is created for the payment of large funds. This may take a significant period of time.
                Additional information will be requested to address this...
            </div>
        </div>
        <div class="feedback__comment-another feedback__comment-another-two">
            <div class="feedback__comment-another-title">Advantages</div>
            <div class="feedback__comment-another-text">Fast withdrawal, more than 100 free games, 24/7 support</div>
            <div class="feedback__comment-another-answer">
                <a href="#" class="feedback__comment-another-answer-link">To answer</a>
                <div class="feedback__comment-another-answer-like">2</div>
            </div>
        </div>
        <div class="feedback__comment-another feedback__comment-another-two">
            <div class="feedback__comment-another-title">Advantages</div>
            <div class="feedback__comment-another-text">Fast withdrawal, more than 100 free games, 24/7 support</div>
            <div class="feedback__comment-another-answer">
                <a href="#" class="feedback__comment-another-answer-link">To answer</a>
                <div class="feedback__comment-another-answer-like">2</div>
            </div>
        </div>
    </div>


</section>