<header class="header">
  <div class="header__top">
    <div class="header__container">
      <div class="header__top-row">
        <div class="menu__icon">
          <img src="img/general-block-image/header/burger-menu.svg" alt="burger-img" width="24" height="24"
               loading="lazy">
        </div>
        <a href="#" class="header__logo">casino<span>.</span><span>ua</span></a>
        <div class="header__search" data-da=".header__container-bottom, 1024, 0">
          <input type="text" id="search" name="search" class="header__search-input"
                 placeholder="Пошук казино, слотів">
          <div class="search_field"></div>
        </div>
        <div class="header__cabinet">
          <div class="header__cabinet-user">
            <div class="header__cabinet-name">Oliver Moore</div>
            <div class="header__cabinet-mob-user">
              <img src="img/general-block-image/header/user-login-img.svg" alt="mob-icon" width="16" height="18" loading="lazy">
            </div>
          </div>
          <div class="header__cabinet-save" data-da=".header, 1024, last">
            <div class="header__cabinet-save-wrap">
              <div class="header__cabinet-save-title">Избраное</div>
              <div class="header__cabinet-save-row">
                <div class="header__cabinet-save-item">
                  <div class="header__cabinet-save-item-title">Казино</div>
                  <div class="header__cabinet-save-item-links">
                    <a href="#" class="header__cabinet-save-item-link" aria-label="link-casino">
                      <img src="img/home/casino/casino-min-img-2.svg" alt="casino-image" width="72" height="40" loading="lazy">
                    </a>
                    <a href="#" class="header__cabinet-save-item-link" aria-label="link-casino">
                      <img src="img/home/casino/casino-min-img-2.svg" alt="casino-image" width="72" height="40" loading="lazy">
                    </a>
                    <a href="#" class="header__cabinet-save-item-link" aria-label="link-casino">
                      <img src="img/home/casino/casino-min-img-2.svg" alt="casino-image" width="72" height="40" loading="lazy">
                    </a>
                    <a href="#" class="header__cabinet-save-item-link header__cabinet-save-item-link-plus"
                       aria-label="link-casino">
                      +
                    </a>
                  </div>
                </div>
                <div class="header__cabinet-save-item">
                  <div class="header__cabinet-save-item-title">Бонусы</div>
                  <div class="header__cabinet-save-item-links">
                    <a href="#" class="header__cabinet-save-item-link" aria-label="link-casino">

                      <img src="img/home/casino/casino-min-img-2.svg" alt="casino-image" width="72" height="40" loading="lazy">
                    </a>
                    <a href="#" class="header__cabinet-save-item-link header__cabinet-save-item-link-plus"
                       aria-label="link-casino">
                      +
                    </a>
                  </div>
                </div>
                <div class="header__cabinet-save-item">
                  <div class="header__cabinet-save-item-title">Слоты</div>
                  <div class="header__cabinet-save-item-links">
                    <a href="#" class="header__cabinet-save-item-link" aria-label="link-casino">
                      <img src="img/home/casino/casino-min-img-2.svg" alt="casino-image" width="72" height="40" loading="lazy">
                    </a>
                    <a href="#" class="header__cabinet-save-item-link header__cabinet-save-item-link-plus"
                       aria-label="link-casino">
                      +
                    </a>
                  </div>
                </div>
                <div class="header__cabinet-save-item">
                  <div class="header__cabinet-save-item-title">Провайдеры</div>
                  <div class="header__cabinet-save-item-links">
                    <a href="#" class="header__cabinet-save-item-link" aria-label="link-casino">
                      <img src="img/home/casino/casino-min-img-2.svg" alt="casino-image" width="72" height="40" loading="lazy">
                    </a>
                    <a href="#" class="header__cabinet-save-item-link" aria-label="link-casino">
                      <img src="img/home/casino/casino-min-img-2.svg" alt="casino-image" width="72" height="40" loading="lazy">
                    </a>

                    <a href="#" class="header__cabinet-save-item-link header__cabinet-save-item-link-plus"
                       aria-label="link-casino">
                      +
                    </a>
                  </div>
                </div>
              </div>
              <div class="header__cabinet-save-list">
                <a href="#" class="header__cabinet-save-in">Мой аккаунт</a>
                <a href="#" class="header__cabinet-save-in">Активные жалобы <span>2</span></a>
                <a href="#" class="header__cabinet-save-in">Настройки</a>
                <a href="#" class="header__cabinet-save-in">Выйти</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="header__container header__container-bottom">
      <nav class="menu">
        <ul class="menu-list">
          <li class="menu-item">
            <a href="#">Онлайн казино</a>
            <ul class="sub-menu">
              <li class="menu-item">
                <a href="#">Всі казино</a>
                <ul class="sub-menu sub-menu-2">
                  <li class="menu-item">
                    <a href="#">Фавбет</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">Космолот</a>
                    <ul class="sub-menu sub-menu-3">
                      <li class="menu-item">
                        <a href="#">Фавбет</a>
                      </li>
                      <li class="menu-item">
                        <a href="#">Космолот</a>
                      </li>
                      <li class="menu-item">
                        <a href="#">Фавбет</a>
                      </li>
                      <li class="menu-item">
                        <a href="#">Космолот</a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item">
                    <a href="#">Фавбет</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">Космолот</a>
                    <ul class="sub-menu sub-menu-3">
                      <li class="menu-item">
                        <a href="#">Фавбет</a>
                      </li>
                      <li class="menu-item">
                        <a href="#">Космолот</a>
                      </li>
                      <li class="menu-item">
                        <a href="#">Фавбет</a>
                      </li>
                      <li class="menu-item">
                        <a href="#">Космолот</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <a href="#">Команда</a>
              </li>
              <li class="menu-item">
                <a href="#">Миссия</a>
                <ul class="sub-menu sub-menu-2">
                  <li class="menu-item">
                    <a href="#">Цели</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">Стратегия</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="#">Бонуси</a>
            <ul class="sub-menu">
              <li class="menu-item">
                <a href="#">Submenu</a>
                <ul class="sub-menu sub-menu-2">
                  <li class="menu-item">
                    <a href="#">Фавбет</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">Космолот</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">Фавбет</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">Космолот</a>
                    <ul class="sub-menu sub-menu-3">
                      <li class="menu-item">
                        <a href="#">Фавбет</a>
                      </li>
                      <li class="menu-item">
                        <a href="#">Космолот</a>
                      </li>
                      <li class="menu-item">
                        <a href="#">Фавбет</a>
                      </li>
                      <li class="menu-item">
                        <a href="#">Космолот</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <a href="#">Команда</a>
              </li>
              <li class="menu-item">
                <a href="#">Миссия</a>
                <ul class="sub-menu sub-menu-2">
                  <li class="menu-item">
                    <a href="#">Цели</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">Стратегия</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="#">Ігрові автомати</a>
            <ul class="sub-menu">
              <li class="menu-item">
                <a href="#">Submenu</a>
                <ul class="sub-menu sub-menu-2">
                  <li class="menu-item">
                    <a href="#">Фавбет</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">Космолот</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">Фавбет</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">Космолот</a>
                    <ul class="sub-menu sub-menu-3">
                      <li class="menu-item">
                        <a href="#">Фавбет</a>
                      </li>
                      <li class="menu-item">
                        <a href="#">Космолот</a>
                      </li>
                      <li class="menu-item">
                        <a href="#">Фавбет</a>
                      </li>
                      <li class="menu-item">
                        <a href="#">Космолот</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <a href="#">Команда</a>
              </li>
              <li class="menu-item">
                <a href="#">Миссия</a>
                <ul class="sub-menu sub-menu-2">
                  <li class="menu-item">
                    <a href="#">Цели</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">Стратегия</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="#">Провайдери</a>
            <ul class="sub-menu">
              <li class="menu-item">
                <a href="#">Submenu</a>
                <ul class="sub-menu sub-menu-2">
                  <li class="menu-item">
                    <a href="#">Фавбет</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">Космолот</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">Фавбет</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">Космолот</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <a href="#">Команда</a>
              </li>
              <li class="menu-item">
                <a href="#">Миссия</a>
                <ul class="sub-menu sub-menu-2">
                  <li class="menu-item">
                    <a href="#">Цели</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">Стратегия</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="#">Платіжні системи</a>
            <ul class="sub-menu">
              <li class="menu-item">
                <a href="#">Submenu</a>
                <ul class="sub-menu sub-menu-2">
                  <li class="menu-item">
                    <a href="#">Фавбет</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">Космолот</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">Фавбет</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">Космолот</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <a href="#">Команда</a>
              </li>
              <li class="menu-item">
                <a href="#">Миссия</a>
                <ul class="sub-menu sub-menu-2">
                  <li class="menu-item">
                    <a href="#">Цели</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">Стратегия</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="#">Партнеры</a>
            <ul class="sub-menu">
              <li class="menu-item">
                <a href="#">Submenu</a>
                <ul class="sub-menu sub-menu-2">
                  <li class="menu-item">
                    <a href="#">Фавбет</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">Космолот</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">Фавбет</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">Космолот</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <a href="#">Команда</a>
              </li>
              <li class="menu-item">
                <a href="#">Миссия</a>
                <ul class="sub-menu sub-menu-2">
                  <li class="menu-item">
                    <a href="#">Цели</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">Стратегия</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="#">Про нас</a>
            <ul class="sub-menu">
              <li class="menu-item">
                <a href="#">Команда</a>
              </li>
              <li class="menu-item">
                <a href="#">Миссия</a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="#">Скарги</a>
            <ul class="sub-menu">
              <li class="menu-item">
                <a href="#">Команда</a>
              </li>
              <li class="menu-item">
                <a href="#">Миссия</a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="#">Блог</a>
            <ul class="sub-menu">
              <li class="menu-item">
                <a href="#">Команда</a>
              </li>
              <li class="menu-item">
                <a href="#">Миссия</a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="#"><img
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAAb1BMVEUAhP8AfP0Ac/oAZ/UAV/B5yv9wxv5iwf1WvP1Ot/gAQOlMt/1Bs/s1rfkpqPdBsfYdovUAkciK0edqwuBautpNtdZAr9IATZr43QD8/GX6+kn5+Tr4+C329iD09BTy8g309DHguQDy8iruzwDnwwAuoRPoAAAASElEQVR4AU3MAQYDQRAF0Ve9WRAQYO5/zUgSDIxf8DQdiGR3I7v0YOLS3ns4PPt8Wq86vn6vVht7NRzG0OHRSpDb8Gt5IvjAHy/kBL+aIRygAAAAAElFTkSuQmCC"
                    alt="UA" width="16" height="11" style="width: 16px; height: 11px; margin-right: 5px">UA</a>
            <ul class="sub-menu">
              <li class="menu-item">
                <a href="#">UA</a>
              </li>
              <li class="menu-item">
                <a href="#">UA</a>

              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</header>

