<section class="leave">

    <h2 class="leave__title title">Leave feedback</h2>
    <div class="leave__row">
      <div class="leave__img">
          <img loading="lazy" src="img/general-block-image/feedback/user-img.webp" width="70" height="70"
               alt="image-casino">
      </div>
      <div class="leave__form">
        <form action="">
          <div class="leave__form-text">
                        <textarea class="leave__form-text-input" cols="10" rows="10"
                                  placeholder="Write a comment*"></textarea>
          </div>
          <div class="leave__form-wrap">
            <div class="leave__form-star">
              <div class="leave__form-star-text">Your rating:</div>
              <div class="leave__form-star-rating">
                <fieldset class="rating">
                  <input type="radio" id="star5" name="rating" value="1"/>
                  <label for="star5"></label>
                  <input type="radio" id="star4" name="rating" value="2"/>
                  <label for="star4"></label>
                  <input type="radio" id="star3" name="rating" value="3"/>
                  <label for="star3"></label>
                  <input type="radio" id="star2" name="rating" value="4"/>
                  <label for="star2"></label>
                  <input type="radio" id="star1" name="rating" value="5"/>
                  <label for="star1"></label>

                </fieldset>
              </div>
            </div>
            <button type="submit" class="leave__form-btn">Leave feedback</button>
          </div>
        </form>
      </div>
    </div>



</section>