<section class="subscribe" id="subscribe">
    <div class="subscribe__container">

        <h2 class="subscribe__title title">Підпишись на оновлення і першим отримуй найсвіжіші <span>Бонуси</span></h2>
        <div class="subscribe__row">
            <form action="#" class="subscribe__form">
                <div class="subscribe__form-wrap">
                    <input type="email" id="email" name="email" class="subscribe__email" placeholder="Email"/>
                    <button type="submit" class="subscribe__submit blue-btn">Підписатися</button>
                </div>
            </form>
            <p class="subscribe__info">
                Надаючи контакти, ви погоджуєтесь з
                <a href="#" class="subscribe__info-link" aria-label="link">політикою обробки файлів cookie</a>
            </p>
        </div>
    </div>
</section>