<section class="login">
    <div class="login__container">
        <div class="login__row">
            <div class="login__info">
                <form action="#" class="login__info-form">
                    <input type="email" name="login name" class="login__info-login js-input" placeholder="Email">
                    <div class="login__info-pass-wrap">
                        <input type="password" name="login pass" class="login__info-pass js-input" placeholder="Password">
                        <span class="icon-pass"></span>
                    </div>
                    <button type="submit" class="login__info-btn">login</button>

                </form>
                <a href="#" class="login__info-link">Забули пароль?</a>
                <a href="#" class="login__info-link">Зареєструватися</a>
            </div>
            <div class="login__started">
                <div class="login__started-title">Приєднуйся до нас за допомогою безкоштовного облікового запису</div>
                <div class="login__started-subtitle">Що Вас чекає:</div>
                <div class="login__started-list">
                    <div class="login__started-item">Можливість додавати казино та слоти в улюблені</div>
                    <div class="login__started-item">Отримуйте сповіщення про найкращі пропозиції</div>
                    <div class="login__started-item">Пишіть коментарі та залишайте відгуки</div>
                </div>
            </div>
        </div>
    </div>
</section>