.anchors{
  margin: 0 0 40px 0;
  &__item{
    &:not(:last-child){
      margin: 0 0 5px 0;
    }
  }
  &__link{
    font-family: $font-firs-semb;
    border-radius: 14px;
    position: relative;
    padding: 17px 21px;
    font-size: 15px;
    line-height: 22px;
    color: $blue-dark;
    background: $white;
    display: flex;
    align-items: center;
    transition: color $transition, background-color $transition;
    img{
      margin: 0 10px 0 0;
    }
    &:hover{
      color: $blue;
      background: $blue-opacity02;
    }
    &._active{
      color: $blue;
      background: $blue-opacity02;
    }
  }
}

@media screen and (max-width: 1024px) {
  .anchors{
    padding: 0;
    background: transparent;
    margin: 0;
    &__list{
      position: relative;
      left: -15px;
      width: calc(100% + 30px);
      display: flex;
      overflow-x: scroll;
      padding: 0 15px;
    }
    &__item{
      border: none;
      &:not(:last-child){
        margin: 0 10px 0 0;
      }
    }
    &__link{
      padding: 11px 10px !important ;
      white-space: nowrap;
      img{
        display: block;
        min-width: 28px;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .anchors{
    &__list{
      left: 0;
      width: 100%;
    }

  }
}