.casino {
  padding: 140px 0 50px;
  position: relative;
  background: $back-body url("../img/home/casino/bg-desc-test.webp") no-repeat 50% 0/cover;
  @media screen and (max-width: 1024px){
    background: $back-body url("../img/home/casino/bg-tab-test.webp") no-repeat 50% 0/cover;
  }
  @media screen and (max-width: 650px){
    background: $back-body url("../img/home/casino/bg-mob-test.webp") no-repeat 50% 0/cover;
  }
  &::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 130px;
    transform: scale(1, -1);
    background: linear-gradient(180deg, #0B0B19 0%, rgba(11, 11, 25, 0) 100%);
  }
  &__container{
    padding: 5px 15px 65px 15px;
    position: relative;
    z-index: 1;

  }

  &__info{
    display: flex;
    align-items: center;
    max-width: 880px;
    margin: 0 20px 0 0;
    &-img{
      max-width: 320px;
      min-width: 320px;
      margin: 0 25px 0 0;
      img{
        min-width: 100%;
        border-radius: 14px;
      }
    }
    &-name{
      font-family: $font-firs-semb;
      color: $white;
      font-size: 34px;
      line-height: 36px;
      letter-spacing: 0.01em;
      margin: 0 0 10px 0;
    }
    &-rating{
      display: flex;
      align-items: center;
      margin: 0 0 20px 0;
      &-star{
        display: flex;
        align-items: center;
        margin: 0 10px 0 0;
        .star{
          width: 15px;
          height: 14px;
          background: url("../img/page3/casino/star.svg") no-repeat center/contain;
          &:not(:last-child){
            margin: 0 5px 0 0;
          }
        }
      }
      &-text{
        font-size: 13px;
        line-height: 14px;
        color: $white;
      }
    }
    &-btns{
      display: flex;
    }
    &-link{
      margin: 0 10px 0 0;
      display: inline-block;
      padding: 15px 48px 14px;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.04em;
    }
    &-like{
      position: relative;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $grey-white-bg-3 url("../img/general-block-image/like-one.svg") no-repeat center/ 21px 18px;
      border-radius: 8px;
      cursor: pointer;
      &._active::after{
        opacity: 1;
      }
      &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        border-radius: 8px;
        background: $grey-white-bg-3 url("../img/general-block-image/like-two.svg") no-repeat center/ 21px 18px;
        transition: opacity $transition;

      }
    }
  }

  &__bonus{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &-check{
      margin: 0 0 20px 0;
      &-ok{
        font-family: $font-firs-semb;
        display: inline-block;
        padding: 6px 17px 5px;
        border-radius: 8px;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #12FF1F;
        background: #114C14;
        &._hidden{
          display: none;
        }
      }
      &-not{
        font-family: $font-firs-semb;
        display: inline-block;
        padding: 6px 17px 5px;
        border-radius: 8px;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #aeaeae;
        background: #000000;
        &._hidden{
          display: none;
        }
      }
    }
    &-info{
      display: inline-block;
      margin: 0 0 20px 0;
      padding: 12px 65px;
      background: rgba(247,246,249,.1);
      border: 1px solid $white;
      border-radius: 8px;
      text-align: center;
      font-size: 16px;
      color: $white;
    }
    &-date{
      display: flex;
      align-items: center;
      color: $white;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.004em;
      &-item{
        span{
          color: $white;
        }
        &:not(:last-child){
          margin: 0 10px 0 0;
        }
      }
    }
  }

  &__breadcrumbs {
    display: flex;
    align-items: center;
    margin: 0 0 25px 0;
    overflow-x: scroll;

    &-link {
      white-space: nowrap;
      display: inline-block;
      position: relative;
      font-size: 12px;
      line-height: 20px;
      color: $white;
      transition: color $transition;

      &:hover {
        color: $white-hover;
      }

      &:last-child{
        cursor: default;
        &:hover{
          color: $white;
        }
      }

      &:not(:last-child) {
        margin: 0 18px 0 0;

        &::before {
          content: '•';
          position: absolute;
          font-size: 12px;
          line-height: 20px;
          color: $white;
          right: -11px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  &__links{
    position: absolute;
    bottom: 0;
    left: 15px;
    z-index: 4;
    @media screen and (max-width: 1400px){
      left: 45px;
    }

    &-list{
      display: flex;
      align-items: center;
      overflow-x: scroll;
    }
    &-item{
      &:not(:last-child){
        margin: 0 25px 0 0;
      }
    }
    &-link{
      display: inline-block;
      padding: 15px 0;
      position: relative;
      white-space: nowrap;
      font-size: 17px;
      line-height: 22px;
      color: $white;
      transition: color $transition;
      &._active::before{
        opacity: 1;
      }
      &._active{
        color: $white;
      }
      &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 8px;
        border-radius: 8px;
        background: $blue;
        opacity: 0;
        transition: opacity $transition;
      }
      &:hover{
        color: $white;
      }
      &:hover::before{
        opacity: 1;
      }
    }
  }


  &__row{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }


}

@media screen and (max-width: 1240px) {
  .casino{
    &__info{
      margin: 0 0 30px 0;
    }
    &__bonus{
      align-items: flex-start;
      &-check{
        position: absolute;
        top: 40px;
        left: 10px;
      }
    }
    &__row{
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

@media screen and (max-width: 1024px){
  .casino{
    padding: 101px 0 50px;
    &::after{
      content: none;
    }
    &__info{
      &-img{
        max-width: 280px;
        min-width: 280px;
      }
    }
    &__container{
      padding: 0;
    }
    &__breadcrumbs{
      padding: 0 15px;
      margin: 0 0 15px 0;
    }
    &__bonus{
      &-check{
        top: 25px;
        left: 10px;
      }

    }
    &__row{
      padding: 0 15px;
      margin: 0 0 15px 0;
    }
    &__links{
      position: static;
      &-list{
        padding: 0 15px;
      }

    }
  }
}

@media screen and (max-width: 650px) {
  .casino {
    &__breadcrumbs {
      margin: 0 0 10px 0;
      &-link {
        font-size: 12px;
        line-height: 20px;
      }
    }
    &__row{
      align-items: center;
    }
    &__info{
      min-width: 100%;
      flex-direction: column;
      align-items: stretch;
      max-width: 100%;
      margin: 0 0 15px 0;
      &-check{
        top: 25px;
      }

      &-img{
        min-width: 100%;
        max-width: 100%;
        margin: 0 0 15px 0;
      }
      &-name{
        font-size: 28px;
        line-height: 32px;
        text-align: center;
      }
      &-rating{
        justify-content: center;
      }
      &-link{
        flex: 1 1 auto;
        padding: 15px 15px 14px;
        font-size: 15px;
      }
    }
    &__bonus{
      justify-content: stretch;
      align-items: stretch;
      min-width: 100%;
      &-info{
        padding: 12px 15px;
        line-height: 18px;
      }
      &-date{
        display: flex;
        flex-direction: column;
        align-self: center;
        &-item{
          &:not(:last-child){
            margin: 0 0 10px 0;
          }
        }
      }
    }
    &__links{
      &-link{
        font-size: 15px;
        line-height: 22px;
      }
    }
  }
}