.ratings {
  padding: 50px;
  margin: 0 0 20px 0;
  background: $white;
  border-radius: 20px;

  &__title {
    margin: 0 0 20px 0;
  }


  &__rating {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }


  &__item {
    max-width: 160px;
    min-width: 160px;
    padding: 25px 5px;
    border: 1px solid $green-white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;


    &-info {
      font-size: 15px;
      line-height: 20px;
      color: $blue-hover;
      text-align: center;
    }

    &-progress {
      position: relative;
      margin: 0 0 30px 0;
    }

    &-text {
      font-size: 17px;
      line-height: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $blue-dark;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }


}

.circular-chart {
  display: block;
  transform: scale(-1, 1);
  width: 80px;
  height: 80px;
}
.circle-bg {
  fill: none;
  stroke: $grey-white-bg;
  stroke-width: 4.5;
}
.circle {
  fill: none;
  stroke-width: 4.5;
  stroke-linecap: round;
}


.stp2{
  stop-color: #B0C8FF;
}

.stp1{
  stop-color: #0049F1;

}


.casino__review-item__count .progress-ring__circle {
  stroke-width: 13;
  fill: none;
  transform-origin: center;
  transform: rotate(90deg) scaleX(-1);
}


@media screen and (max-width: 1024px) {
  .ratings{
    border-radius: 22px;
    padding: 30px 30px 20px;

  }
}

@media screen and (max-width: 650px) {
  .ratings{
    border-radius: 0;
    padding: 0;
    background: transparent;
    margin: 0 0 30px 0;
    &__rating{
      padding: 0 15px;
      flex-wrap: nowrap;
      overflow-x: scroll;
    }
    &__title{
      padding: 0 15px;
      margin: 0 0 10px 0;
    }
    &__item{
      background: $white;
      border: none;
    }
  }
}
