<section class="best" id="blog1">
    <div class="best__container">
        <h2 class="best__title title">Best Australian Online Casino Sites</h2>
        <p class="best__text">
            The best Australian online casino typically provides significant incentives, the newest casino games,
            high-end security and incredibly dependable customer care. In light of this, we are prepared to assist you
            in choosing the best online casino Australia offers after spending many hours researching. According to our
            unique rating algorithm, the top Australian online casino is Ricky casino. However, many more casino sites
            are very similar to it. Below is the list of the best</p>
        <ul class="best__list">
            <li class="best__item">
                <div class="best__item-img">
                    <a href="#" aria-label="best-link" class="best__item-img-link"></a>
                    <img src="img/home/authomat/casino-img.webp" alt="book-of-ra" width="285" height="120" loading="lazy">
                </div>
                <div class="best__item-title">Book of Ra</div>
                <div class="best__item-row">
                    <div class="best__item-grade">
                        <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <span>5.0</span>
                    </div>
                    <div class="best__item-top">
                        <img src="img/home/best/top.svg" alt="top" width="13" height="12" loading="lazy">
                        <span>Ліцензійні казино</span>
                    </div>
                    <div class="best__item-like"></div>
                </div>
                <ul class="best__item-list">
                    <li class="best__item-item">
                        <span>Кількість ліній:</span> 9
                    </li>
                    <li class="best__item-item">
                        <span>Мін. ставка:</span> 0.45
                    </li>
                    <li class="best__item-item">
                        <span>Кількість барабанів:</span> 5
                    </li>
                    <li class="best__item-item">
                        <span>Макс. ставка:</span> 90
                    </li>
                    <li class="best__item-item">
                        <span>RTP</span> <div class="rtp">92,13</div>
                    </li>
                </ul>
                <div class="best__item-btns">
                    <a href="#" class="best__item-btn grey-btn">Огляд</a>
                    <a href="#" class="best__item-btn blue-btn">Грати</a>
                </div>
            </li>
            <li class="best__item">
                <div class="best__item-img">
                    <a href="#" aria-label="best-link" class="best__item-img-link"></a>
                    <img src="img/home/authomat/casino-img.webp" alt="book-of-ra" width="285" height="120" loading="lazy">
                </div>
                <div class="best__item-title">Book of Ra</div>
                <div class="best__item-row">
                    <div class="best__item-grade">
                        <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <span>5.0</span>
                    </div>
                    <div class="best__item-top">
                        <img src="img/home/best/top.svg" alt="top" width="13" height="12" loading="lazy">
                        <span>Кращі ігрові автомати</span>
                    </div>
                    <div class="best__item-like"></div>
                </div>
                <ul class="best__item-list">
                    <li class="best__item-item">
                        <span>Кількість ліній:</span> 9
                    </li>
                    <li class="best__item-item">
                        <span>Мін. ставка:</span> 0.45
                    </li>
                    <li class="best__item-item">
                        <span>Кількість барабанів:</span> 5
                    </li>
                    <li class="best__item-item">
                        <span>Макс. ставка:</span> 90
                    </li>
                    <li class="best__item-item">
                        <span>RTP</span> <div class="rtp">92,13</div>
                    </li>
                </ul>
                <div class="best__item-btns">
                    <a href="#" class="best__item-btn grey-btn">Огляд</a>
                    <a href="#" class="best__item-btn blue-btn">Грати</a>
                </div>
            </li>
            <li class="best__item">
                <div class="best__item-img">
                    <a href="#" aria-label="best-link" class="best__item-img-link"></a>
                    <img src="img/home/authomat/casino-img.webp" alt="book-of-ra" width="285" height="120" loading="lazy">
                </div>
                <div class="best__item-title">Book of Ra</div>
                <div class="best__item-row">
                    <div class="best__item-grade">
                        <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <span>5.0</span>
                    </div>
                    <div class="best__item-top">
                        <img src="img/home/best/top.svg" alt="top" width="13" height="12" loading="lazy">
                        <span>Ліцензійні казино</span>
                    </div>
                    <div class="best__item-like"></div>
                </div>
                <ul class="best__item-list">
                    <li class="best__item-item">
                        <span>Кількість ліній:</span> 9
                    </li>
                    <li class="best__item-item">
                        <span>Мін. ставка:</span> 0.45
                    </li>
                    <li class="best__item-item">
                        <span>Кількість барабанів:</span> 5
                    </li>
                    <li class="best__item-item">
                        <span>Макс. ставка:</span> 90
                    </li>
                    <li class="best__item-item">
                        <span>RTP</span> <div class="rtp">92,13</div>
                    </li>
                </ul>
                <div class="best__item-btns">
                    <a href="#" class="best__item-btn grey-btn">Огляд</a>
                    <a href="#" class="best__item-btn blue-btn">Грати</a>
                </div>
            </li>
            <li class="best__item">
                <div class="best__item-img">
                    <a href="#" aria-label="best-link" class="best__item-img-link"></a>
                    <img src="img/home/authomat/casino-img.webp" alt="book-of-ra" width="285" height="120" loading="lazy">
                </div>
                <div class="best__item-title">Book of Ra Book of Ra</div>
                <div class="best__item-row">
                    <div class="best__item-grade">
                        <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <span>5.0</span>
                    </div>
                    <div class="best__item-top">
                        <img src="img/home/best/top.svg" alt="top" width="13" height="12" loading="lazy">
                        <span>Ліцензійні казино</span>
                    </div>
                    <div class="best__item-like"></div>
                </div>
                <ul class="best__item-list">
                    <li class="best__item-item">
                        <span>Кількість ліній:</span> 9
                    </li>
                    <li class="best__item-item">
                        <span>Мін. ставка:</span> 0.45
                    </li>
                    <li class="best__item-item">
                        <span>Кількість барабанів:</span> 5
                    </li>

                    <li class="best__item-item">
                        <span>RTP</span> <div class="rtp">92,13</div>
                    </li>
                </ul>
                <div class="best__item-btns">
                    <a href="#" class="best__item-btn grey-btn">Огляд</a>
                    <a href="#" class="best__item-btn blue-btn">Грати</a>
                </div>
            </li>
            <li class="best__item">
                <div class="best__item-img">
                    <a href="#" aria-label="best-link" class="best__item-img-link"></a>
                    <img src="img/home/authomat/casino-img.webp" alt="book-of-ra" width="285" height="120" loading="lazy">
                </div>
                <div class="best__item-title">Book of Ra</div>
                <div class="best__item-row">
                    <div class="best__item-grade">
                        <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <span>5.0</span>
                    </div>
                    <div class="best__item-top">
                        <img src="img/home/best/top.svg" alt="top" width="13" height="12" loading="lazy">
                        <span>Ліцензійні казино</span>
                    </div>
                    <div class="best__item-like"></div>
                </div>
                <ul class="best__item-list">
                    <li class="best__item-item">
                        <span>Кількість ліній:</span> 9
                    </li>
                    <li class="best__item-item">
                        <span>Мін. ставка:</span> 0.45
                    </li>
                    <li class="best__item-item">
                        <span>Кількість барабанів:</span> 5
                    </li>
                    <li class="best__item-item">
                        <span>Макс. ставка:</span> 90
                    </li>
                    <li class="best__item-item">
                        <span>RTP</span> <div class="rtp">92,13</div>
                    </li>
                </ul>
                <div class="best__item-btns">
                    <a href="#" class="best__item-btn grey-btn">Огляд</a>
                    <a href="#" class="best__item-btn blue-btn">Грати</a>
                </div>
            </li>
            <li class="best__item">
                <div class="best__item-img">
                    <a href="#" aria-label="best-link" class="best__item-img-link"></a>
                    <img src="img/home/authomat/casino-img.webp" alt="book-of-ra" width="285" height="120" loading="lazy">
                </div>
                <div class="best__item-title">Book of Ra</div>
                <div class="best__item-row">
                    <div class="best__item-grade">
                        <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <span>5.0</span>
                    </div>
                    <div class="best__item-top">
                        <img src="img/home/best/top.svg" alt="top" width="13" height="12" loading="lazy">
                        <span>Ліцензійні казино</span>
                    </div>
                    <div class="best__item-like"></div>
                </div>
                <ul class="best__item-list">

                    <li class="best__item-item">
                        <span>Кількість барабанів:</span> 5
                    </li>
                    <li class="best__item-item">
                        <span>Макс. ставка:</span> 90
                    </li>
                    <li class="best__item-item">
                        <span>RTP</span> <div class="rtp">92,13</div>
                    </li>
                </ul>
                <div class="best__item-btns">
                    <a href="#" class="best__item-btn grey-btn">Огляд</a>
                    <a href="#" class="best__item-btn blue-btn">Грати</a>
                </div>
            </li>
        </ul>
        <a href="#" class="best__all-link blue-btn">Show All</a>
    </div>
</section>