<section class="found">
  <h2 class="found__title title">Automat start</h2>
    <p class="found__text">To play Norwegian casino games online safely, we recommend doing so on only regulated and licensed casino platforms. Also, make sure that our team can only nominate the titles whose play Norwegian casino games online safely, we recommend doing so on only regulated and licensed casino platforms. Also, make sure that our team can only nominate the titles whose </p>
    <ul class="found__list">
        <li class="found__item">
            <div class="found__item-title">Запуск гри</div>
            <div class="found__item-text">2005</div>
        </li>
        <li class="found__item">
            <div class="found__item-title">Кількість барабанів</div>
            <div class="found__item-text">2005</div>
        </li>
        <li class="found__item">
            <div class="found__item-title">Кількість рядів</div>
            <div class="found__item-text">25</div>
        </li>
        <li class="found__item">
            <div class="found__item-title">Кількість ліній</div>
            <div class="found__item-text">202305</div>
        </li>
        <li class="found__item">
            <div class="found__item-title">Мінімальна ставка</div>
            <div class="found__item-text">205</div>
        </li>
        <li class="found__item">
            <div class="found__item-title">Максимальна ставка</div>
            <div class="found__item-text">05</div>
        </li>
        <li class="found__item">
            <div class="found__item-title">Максимальна ставка</div>
            <div class="found__item-text">05</div>
        </li>
    </ul>
</section>