<section class="game" id="block1">
    <h2 class="game__title title">Online casino bonuses</h2>
    <p class="game__text">To play Norwegian casino games online safely, we recommend only doing so on regulated and
        licensed casino platforms. Also, be sure that our team can only nominate titles that are safe to play Norwegian
        casino games online, we recommend only doing so on regulated and licensed casino platforms. Also, make sure that
        our team only</p>
    <div class="game__image">
            <img loading="lazy" src="img/page5/games/game-img.webp" width="820"
                 height="600" alt="image-game">
        <div class="game__image-buttons">
            <a href="#" class="game__image-btn blue-btn">Play</a>
            <a href="#" class="game__image-btn blue-btn">Review</a>
        </div>
    </div>
    <ul class="game__list">
        <li class="game__item">
            <div class="game__item-img">
                <img src="img/home/best/slots-city-casino.svg" alt="slots-city-casino" width="285" height="120" loading="lazy">
            </div>
            <div class="game__item-title">Favbet Casino</div>
            <div class="game__item-row">
                <div class="game__item-review">
                    <img src="img/home/best/star.svg" alt="slots-city-casino" width="13" height="12" loading="lazy">
                    <div class="game__item-review-text">4.5</div>
                </div>
                <div class="game__item-lic">Licensed</div>
                <div class="game__item-like"></div>
            </div>
            <a href="#" class="game__item-link blue-btn">Playing</a>
        </li>
        <li class="game__item">
            <div class="game__item-img">
                <img src="img/home/best/slots-city-casino.svg" alt="slots-city-casino" width="285" height="120" loading="lazy">
            </div>
            <div class="game__item-title">Favbet Casino Casino</div>
            <div class="game__item-row">
                <div class="game__item-review">
                    <img src="img/home/best/star.svg" alt="slots-city-casino" width="13" height="12" loading="lazy">
                    <div class="game__item-review-text">4.5</div>
                </div>
                <div class="game__item-lic">Licensed</div>
                <div class="game__item-like"></div>
            </div>
            <a href="#" class="game__item-link blue-btn">Playing</a>
        </li>
        <li class="game__item">
            <div class="game__item-img">
                <img src="img/home/best/slots-city-casino.svg" alt="slots-city-casino" width="285" height="120" loading="lazy">
            </div>
            <div class="game__item-title">Favbet Casino</div>
            <div class="game__item-row">
                <div class="game__item-review">
                    <img src="img/home/best/star.svg" alt="slots-city-casino" width="13" height="12" loading="lazy">
                    <div class="game__item-review-text">4.5</div>
                </div>
                <div class="game__item-lic">Licensed</div>
                <div class="game__item-like"></div>
            </div>
            <a href="#" class="game__item-link blue-btn">Playing</a>
        </li>

    </ul>
</section>