<div class="casinos-provide">
    <div class="casinos-provide__list">
        <div class="casinos-provide__item">
            <div class="casinos-provide__item-wrap">
                <div class="casinos-provide__item-image">
                    <a href="#" class="casinos-provide__item-image-link" aria-label="link-page"></a>
                    <img src="img/home/best/pin-up-casino.svg" alt="pin-up-casino" width="285" height="120" loading="lazy">
                </div>
                <div class="casinos-provide__item-cont">
                    <div class="casinos-provide__item-title">Favbet Casino</div>
                    <div class="casinos-provide__item-info">
                        Enrolled in a casino: <span>50</span>
                    </div>
                </div>

            </div>
            <div class="casinos-provide__item-buttons">
                <a href="#" class="casinos-provide__item-btn grey-btn">Обзор</a>
            </div>
        </div>
        <div class="casinos-provide__item">
            <div class="casinos-provide__item-wrap">
                <div class="casinos-provide__item-image">
                    <a href="#" class="casinos-provide__item-image-link" aria-label="link-page"></a>
                    <img src="img/home/best/pin-up-casino.svg" alt="pin-up-casino" width="285" height="120" loading="lazy">
                </div>
                <div class="casinos-provide__item-cont">
                    <div class="casinos-provide__item-title">Favbet Casino</div>
                    <div class="casinos-provide__item-info">
                        Enrolled in a casino: <span>50</span>
                    </div>
                </div>

            </div>
            <div class="casinos-provide__item-buttons">
                <a href="#" class="casinos-provide__item-btn grey-btn">Обзор</a>
            </div>
        </div>
        <div class="casinos-provide__item">
            <div class="casinos-provide__item-wrap">
                <div class="casinos-provide__item-image">
                    <a href="#" class="casinos-provide__item-image-link" aria-label="link-page"></a>
                    <img src="img/home/best/pin-up-casino.svg" alt="pin-up-casino" width="285" height="120" loading="lazy">
                </div>
                <div class="casinos-provide__item-cont">
                    <div class="casinos-provide__item-title">Favbet Casino</div>
                    <div class="casinos-provide__item-info">
                        Enrolled in a casino: <span>50</span>
                    </div>
                </div>

            </div>
            <div class="casinos-provide__item-buttons">
                <a href="#" class="casinos-provide__item-btn grey-btn">Обзор</a>
            </div>
        </div>
    </div>
</div>