.casinos-best{
  overflow: hidden;
  margin: 0 0 20px 0;

  &__list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item{
    max-width: 312px;
    min-width: 312px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    &-wrap{
      position: relative;
      background: $white;
      padding: 15px 15px 25px;
      border-bottom: 2px solid $grey-bg-section;
      &::after,
      &::before{
        position: absolute;
        width: 25px;
        height: 25px;
        background: $grey-bg-section;
        border-radius: 50%;
        bottom: -13px;
      }
      &::after{
        content: '';
        left: -13px;
      }
      &::before{
        content: '';
        right: -13px;
      }
    }
    &-image{
      position: relative;
      margin: 0 0 15px 0;
      &-link{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      img{
        min-width: 100%;
        border-radius: 14px;
      }
    }
    &-title{
      font-family: $font-firs-semb;
      color: $blue-dark;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.01em;
      margin: 0 0 3px 0;
    }
    &-info{
      display: flex;
      align-items: center;
      margin: 0 0 15px 0;
    }
    &-star{
      display: flex;
      align-items: center;
      img{
        max-width: 13px;
        display: inline-block;
        margin: 0 5px 0 0;
      }
      &-text{
        margin-top: 2px;
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.02em;
        color: $blue-dark;
      }
    }
    &-top{
      display: flex;
      align-items: center;
      margin-left: 10px;
      img{
        max-width: 11px;
        display: inline-block;
        margin: 0 5px 0 0;
      }
      &-text{
        margin-top: 2px;
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.02em;
        color: $green;
      }
    }
    &-buttons{
      display: flex;
      align-items: center;
      gap: 6px;
    }
    &-btn{
      font-size: 13px;
      line-height: 20px;
      border-radius: 8px;
      padding: 9px 10px 8px;
      text-align: center;
      width: calc(50% - 3px);
      transition: background-color $transition;
    }
    &-bonus{
      flex: 1 1 auto;
      padding: 25px 20px;
      background: $white;
      &-title{
        font-family: $font-firs-semb;
        color: $green;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
      }
      &-subtitle{
        font-family: $font-firs-semb;
        color: $blue;
        font-size: 18px;
        line-height: 19px;
        margin: 0 0 8px 0;
        text-transform: uppercase;
      }
      &-text{
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 0.04em;
        color: $green;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .casinos-best{
    margin: 0 0 20px 0;
    &__item{
      max-width: 312px;
      min-width: 312px;
    }
    &__list{
      display: flex;
      flex-wrap: nowrap;
      overflow-x: scroll;
    }
  }
}

.casinos-best{
  overflow: hidden;
  margin: 0 0 20px 0;

  &._onWhite{
    .casinos-best__list{
      gap: 10px;
      @media screen and (max-width: 1070px){
        display: grid;
        grid-template-columns: calc(50% - 5px) calc(50% - 5px);
      }
      @media screen and (max-width: 1024px){
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        gap: 15px;
      }

    }
    .casinos-best__item{
      max-width: 290px;
      min-width: 290px;
      border: 2px solid $grey-bg-section;
      @media screen and (max-width: 1070px){
       max-width: 100%;
        min-width: 100%;
      }
      @media screen and (max-width: 1024px){
        max-width: 312px;
        min-width: 312px;
      }
    }

  }


}