<div class="casinos-overview">
    <div class="casinos-overview__list">
        <div class="casinos-overview__item">
            <div class="casinos-overview__item-wrap">
                <div class="casinos-overview__item-image">
                    <a href="#" class="casinos-overview__item-image-link"></a>
                    <img src="img/home/best/slotoking-casino.svg" alt="slotoking" width="285" height="120">
                </div>
                <div class="casinos-overview__item-cont">
                    <div class="casinos-overview__item-title">Favbet Casino</div>
                    <div class="casinos-overview__item-info">
                        <div class="casinos-overview__item-star">
                            <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                            <div class="casinos-overview__item-star-text">4.5</div>
                        </div>
                        <div class="casinos-overview__item-top">
                            <img src="img/home/best/top.svg" alt="top" width="13" height="12" loading="lazy">
                            <div class="casinos-overview__item-top-text">Лучшие</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="casinos-overview__item-bonus">
                <div class="casinos-overview__item-bonus-title">Deposit Bonus:</div>
                <div class="casinos-overview__item-bonus-subtitle">100% up tu 1600 CAD</div>
            </div>
            <div class="casinos-overview__item-code">

                <div class="casinos-overview__item-copy">30 free spins for registration </div>
                <div class="casinos-overview__item-buttons">
                    <a href="#" class="casinos-overview__item-btn grey-btn">Обзор</a>
                    <a href="#" class="casinos-overview__item-btn blue-btn">Играть</a>
                </div>
            </div>
        </div>
        <div class="casinos-overview__item">
            <div class="casinos-overview__item-wrap">
                <div class="casinos-overview__item-image">
                    <a href="#" class="casinos-overview__item-image-link"></a>
                    <img src="img/home/best/slotoking-casino.svg" alt="slotoking" width="285" height="120">
                </div>
                <div class="casinos-overview__item-cont">
                    <div class="casinos-overview__item-title">Favbet Casino</div>
                    <div class="casinos-overview__item-info">
                        <div class="casinos-overview__item-star">
                            <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                            <div class="casinos-overview__item-star-text">4.5</div>
                        </div>
                        <div class="casinos-overview__item-top">
                            <img src="img/home/best/top.svg" alt="top" width="13" height="12" loading="lazy">
                            <div class="casinos-overview__item-top-text">Лучшие</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="casinos-overview__item-bonus">
                <div class="casinos-overview__item-bonus-title">Deposit Bonus:</div>
                <div class="casinos-overview__item-bonus-subtitle">100% up tu 1600 CAD</div>
            </div>
            <div class="casinos-overview__item-code">

                <div class="casinos-overview__item-copy">30 free spins for registration </div>
                <div class="casinos-overview__item-buttons">
                    <a href="#" class="casinos-overview__item-btn grey-btn">Обзор</a>
                    <a href="#" class="casinos-overview__item-btn blue-btn">Играть</a>
                </div>
            </div>
        </div>
        <div class="casinos-overview__item">
            <div class="casinos-overview__item-wrap">
                <div class="casinos-overview__item-image">
                    <a href="#" class="casinos-overview__item-image-link"></a>
                    <img src="img/home/best/slotoking-casino.svg" alt="slotoking" width="285" height="120">
                </div>
                <div class="casinos-overview__item-cont">
                    <div class="casinos-overview__item-title">Favbet Casino</div>
                    <div class="casinos-overview__item-info">
                        <div class="casinos-overview__item-star">
                            <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                            <div class="casinos-overview__item-star-text">4.5</div>
                        </div>
                        <div class="casinos-overview__item-top">
                            <img src="img/home/best/top.svg" alt="top" width="13" height="12" loading="lazy">
                            <div class="casinos-overview__item-top-text">Лучшие</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="casinos-overview__item-bonus">
                <div class="casinos-overview__item-bonus-title">Deposit Bonus:</div>
                <div class="casinos-overview__item-bonus-subtitle">100% up tu 1600 CAD</div>
            </div>
            <div class="casinos-overview__item-code">

                <div class="casinos-overview__item-copy">30 free spins for registration </div>
                <div class="casinos-overview__item-buttons">
                    <a href="#" class="casinos-overview__item-btn grey-btn">Обзор</a>
                    <a href="#" class="casinos-overview__item-btn blue-btn">Играть</a>
                </div>
            </div>
        </div>
    </div>
</div>