<section class="social">
    <h2 class="social__title title">More news on our
        social networks</h2>
    <div class="social__list">
        <a href="#" class="social__list-link" aria-label="link-footer">
            <svg width="20px">
                <use xlink:href="img/sprite.svg#telegram"></use>
            </svg>
        </a>
        <a href="#" class="social__list-link" aria-label="link-footer">
            <svg width="20px">
                <use xlink:href="img/sprite.svg#email"></use>
            </svg>
        </a>
        <a href="#" class="social__list-link" aria-label="link-footer">
            <svg width="20px">
                <use xlink:href="img/sprite.svg#whats"></use>
            </svg>
        </a>
        <a href="#" class="social__list-link" aria-label="link-footer">
            <svg width="11px">
                <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
        </a>
        <a href="#" class="social__list-link" aria-label="link-footer">
            <svg width="21px">
                <use xlink:href="img/sprite.svg#insta"></use>
            </svg>
        </a>
    </div>
</section>