<div class="complaint-info" data-da=".main, 1024, first">
    <div class="complaint-info__title">COMPLAINT INFO</div>
    <div class="complaint-info__list">
        <div class="complaint-info__item">
            <div class="complaint-info__item-left">
                <img src="img/page22/complaint-info-icon1.svg" alt="complaint-info-icon" width="20" height="20"
                     loading="lazy">
                Disputed casino:
            </div>
            <div class="complaint-info__item-right"><a href="#">NineCasino</a></div>
        </div>
        <div class="complaint-info__item">
            <div class="complaint-info__item-left">
                <img src="img/page22/complaint-info-icon2.svg" alt="complaint-info-icon" width="20" height="20"
                     loading="lazy">
                SIT Reason:
            </div>
            <div class="complaint-info__item-right">Refund declined</div>
        </div>
        <div class="complaint-info__item">
            <div class="complaint-info__item-left">
                <img src="img/page22/complaint-info-icon3.svg" alt="complaint-info-icon" width="20" height="20"
                     loading="lazy">
                Amount:
            </div>
            <div class="complaint-info__item-right">€ 50</div>
        </div>
    </div>
</div>