<section class="discussion">
    <div class="discussion__container">
        <h2 class="discussion__title title">Обсуждение жалобы</h2>
        <div class="discussion__comment">
            <div class="discussion__comment-user">
                <div class="discussion__comment-user-wrap">
                    <div class="discussion__comment-user-img">
                            <img loading="lazy" src="img/page22/user-img.webp" width="70" height="70"
                                 alt="image-casino">

                    </div>
                    <div class="discussion__comment-user-info">
                        <div class="discussion__comment-user-info-row">
                            <div class="discussion__comment-user-info-name">Anastasia</div>

                        </div>
                        <div class="discussion__comment-user-info-date">April 8, 2021</div>

                    </div>
                </div>
                <div class="discussion__comment-user-question">
                    <div class="discussion__comment-user-question-text">Wow! I've never seen the best poker room in my
                        life! Of all the sites I've tested, here are the coolest promotions and bonuses for playing
                        poker! Yes, you can collect suitable amounts from scratch on them! I played almost without any
                        problems. Nothing freezes, never knocks out of the game, loads on ...
                    </div>
                    <div class="discussion__comment-user-question-doc">

                        <div class="discussion__comment-user-question-doc-item">
                            <img loading="lazy" src="img/page22/user-img.webp" width="70" height="70"
                                 alt="image-casino" class="imgMin">
                        </div>
                        <div class="discussion__comment-user-question-doc-item">
                                <img loading="lazy" src="img/page22/bg-popup.webp" width="70" height="70"
                                     alt="image-casino" class="imgMin">
                        </div>
                    </div>

                </div>
            </div>
            <div class="discussion__comment-mod">
                <div class="discussion__comment-mod-wrap">
                    <div class="discussion__comment-mod-info">
                        <div class="discussion__comment-mod-info-casino">CASINO.<span>UA</span></div>
                        <div class="discussion__comment-mod-info-doc">Moderator</div>
                    </div>
                    <div class="discussion__comment-mod-date">April 8, 2021</div>
                </div>
                <div class="discussion__comment-mod-text">
                    Good afternoon DIGAL. In the case of withdrawing small amounts, this procedure may not be necessary
                    at all. You will only need to provide a scan of your passport. Verification is required if an
                    application is created for the payment of large funds. This may take a significant period of time.
                    Additional information will be requested to address this...
                </div>
            </div>
            <div class="discussion__comment-user">
                <div class="discussion__comment-user-wrap">
                    <div class="discussion__comment-user-img">

                            <img loading="lazy" src="img/page22/user-img.webp" width="70" height="70"
                                 alt="image-casino">

                    </div>
                    <div class="discussion__comment-user-info">
                        <div class="discussion__comment-user-info-row">
                            <div class="discussion__comment-user-info-name">Anastasia</div>
                        </div>
                        <div class="discussion__comment-user-info-date">April 8, 2021</div>

                    </div>
                </div>
                <div class="discussion__comment-user-question">
                    <div class="discussion__comment-user-question-text">Wow! I've never seen the best poker room in my
                        life! Of all the sites I've tested, here are the coolest promotions and bonuses for playing
                        poker! Yes, you can collect suitable amounts from scratch on them! I played almost without any
                        problems. Nothing freezes, never knocks out of the game, loads on ...
                    </div>


                </div>
            </div>
            <div class="discussion__comment-mod">
                <div class="discussion__comment-mod-wrap">
                    <div class="discussion__comment-mod-info">
                        <div class="discussion__comment-mod-info-casino">CASINO.<span>UA</span></div>
                        <div class="discussion__comment-mod-info-doc">Moderator</div>
                    </div>
                    <div class="discussion__comment-mod-date">April 8, 2021</div>
                </div>
                <div class="discussion__comment-mod-text">
                    Good afternoon DIGAL. In the case of withdrawing small amounts, this procedure may not be necessary
                    at all. You will only need to provide a scan of your passport. Verification is required if an
                    application is created for the payment of large funds. This may take a significant period of time.
                    Additional information will be requested to address this...
                </div>
            </div>
        </div>
        <div class="discussion__send">
            <form action="#" class="discussion__send-form">
                <div class="discussion__send-form-wrap">
                    <div class="discussion__send-form-image">
                        <input type="file" multiple accept="image/*" id="file-input" name="image" class="discussion__send-form-file">
                        <button type="button" id="choose-button" class="discussion__send-form-file-img"></button>
                    </div>
                </div>
              <div class="discussion__send-form-text">
                  <textarea name="text" id="texarea" cols="30" rows="5" placeholder="Your text"></textarea>
              </div>
                <button type="submit" class="discussion__send-form-submit" aria-label="send-button">
                    <img src="img/page22/send.svg" alt="send" width="40" height="40" loading="lazy">
                </button>
            </form>
            <div id="preview" class="preview">
            </div>
        </div>
    </div>
</section>