<div class="last-complaints" >
    <div class="last-complaints__title">Последние жалобы</div>
    <div class="last-complaints__list">
        <div class="last-complaints__item _done">
            <div class="last-complaints__item-info">
                <div class="last-complaints__item-info-img">
                    <img src="img/page18/complaint-load.svg" alt="complaint-status" width="20" height="20" loading="lazy">
                </div>
                <div class="last-complaints__item-info-text">ВИРІШЕНО</div>
            </div>
            <div class="last-complaints__item-text">To play Norwegian casino games online safely, we recommend doing so on only regulated and licensed casino</div>
            <div class="last-complaints__item-btns">
            <a href="#" class="last-complaints__item-link grey-btn">Детальніше</a>
                <span>100000</span>
            </div>
        </div>
        <div class="last-complaints__item _load">
            <div class="last-complaints__item-info">
                <div class="last-complaints__item-info-img">
                    <img src="img/page18/complaint-load.svg" alt="complaint-status" width="20" height="20" loading="lazy">
                </div>
                <div class="last-complaints__item-info-text">ВИРІШЕНО</div>
            </div>
            <div class="last-complaints__item-text">on only regulated and licensed casino</div>
            <div class="last-complaints__item-btns">
                <a href="#" class="last-complaints__item-link grey-btn">Детальніше</a>

            </div>
        </div>
        <div class="last-complaints__item _none">
            <div class="last-complaints__item-info">
                <div class="last-complaints__item-info-img">
                    <img src="img/page18/complaint-load.svg" alt="complaint-status" width="20" height="20" loading="lazy">
                </div>
                <div class="last-complaints__item-info-text">ВИРІШЕНО</div>
            </div>
            <div class="last-complaints__item-text">on only regula on only regulated  on only regulated  on only regulated  on only regulated  on only regulated  on only regulated ted and licensed casino</div>
            <div class="last-complaints__item-btns">
                <a href="#" class="last-complaints__item-link grey-btn">Детальніше</a>
                <span>100000</span>
            </div>
        </div>
        <div class="last-complaints__item _cancel">
            <div class="last-complaints__item-info">
                <div class="last-complaints__item-info-img">
                    <img src="img/page18/complaint-load.svg" alt="complaint-status" width="20" height="20" loading="lazy">
                </div>
                <div class="last-complaints__item-info-text">ВИРІШЕНО</div>
            </div>
            <div class="last-complaints__item-text">To play Norwegian casino games online safely, we recommend doing so on only regulated and licensed casino</div>
            <div class="last-complaints__item-btns">
                <a href="#" class="last-complaints__item-link grey-btn">Детальніше</a>

            </div>
        </div>
    </div>
</div>