<section class="user-complaint">
    <div class="user-complaint__container">
        <div class="user-complaint__comment">
            <div class="user-complaint__comment-user">
                <div class="user-complaint__comment-user-wrap">
                    <div class="user-complaint__comment-user-img">
                        <img loading="lazy" src="img/page22/user-img.webp" width="70" height="70"
                             alt="image-casino">

                    </div>
                    <div class="user-complaint__comment-user-info">
                        <div class="user-complaint__comment-user-info-row">
                            <div class="user-complaint__comment-user-info-name">Anastasia</div>

                        </div>
                        <div class="user-complaint__comment-user-info-date">April 8, 2021</div>

                    </div>
                    <div class="user-complaint__comment-user-prom">
                        <div class="user-complaint__comment-user-prom-item">
                            <div class="user-complaint__comment-user-prom-title">
                                Никнейм:
                            </div>
                            <div class="user-complaint__comment-user-prom-text">
                                Designer00
                            </div>
                        </div>
                        <div class="user-complaint__comment-user-prom-item">
                            <div class="user-complaint__comment-user-prom-title">
                                Email:
                            </div>
                            <div class="user-complaint__comment-user-prom-text">
                                Email: Designer00@gmail.com
                            </div>
                        </div>
                    </div>
                </div>

                <div class="user-complaint__comment-user-question">
                    <div class="user-complaint__comment-user-question-text">Wow! I've never seen the best poker room in
                        my
                        life! Of all the sites I've tested, here are the coolest promotions and bonuses for playing
                        poker! Yes, you can collect suitable amounts from scratch on them! I played almost without any
                        problems. Nothing freezes, never knocks out of the game, loads on ...
                    </div>
                    <div class="user-complaint__comment-user-question-doc">

                        <div class="discussion__comment-user-question-doc-item">
                            <img loading="lazy" src="img/page22/user-img.webp" width="70" height="70"
                                 alt="image-casino" class="imgMin">
                        </div>
                        <div class="discussion__comment-user-question-doc-item">
                            <img loading="lazy" src="img/page22/bg-popup.webp" width="70" height="70"
                                 alt="image-casino" class="imgMin">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>