.discussion{
  background: $white;
  border-radius: 20px;
  padding: 40px 35px;
  margin: 0 0 30px 0;
  &__container{
    padding: 0;
  }
  &__title{

    margin: 0 0 15px 0;
  }
  &__comment{
    margin: 0 0 20px 0;
    &-user{
      margin-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid $green-white;
      &-wrap{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 0 10px 0;
      }
      &-img{
        max-width: 70px;
        margin: 0 15px 0 0;
        img{
          border-radius: 50%;
        }
      }
      &-info{
        &-row{
          display: flex;
          align-items: center;
          margin: 0 0 2px 0 ;
        }
        &-name{
          font-family: $font-firs-reg;
          font-size: 15px;
          line-height: 20px;
          color: $blue-dark;
          margin: 0 5px 0 0;
        }
        &-date{
          font-family: $font-firs-reg;
          font-size: 11px;
          line-height: 20px;
          color: $green;
        }
      }
      &-question{
        &-text{
          font-family: $font-firs-reg;
          font-size: 15px;
          line-height: 23px;
          color: $blue-dark;

          span{
            color: $blue;
            cursor: pointer;
          }
        }
        &-doc{
          margin-top: 15px;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 10px;
          &-item{
            cursor: pointer;
            width: 175px;
            background: $grey-white-bg;
            border-radius: 14px;
            position: relative;
            &::after{
              border-radius: 14px;
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(128, 128, 128, 0.46) url("../img/page22/scale.svg") no-repeat center center/30px 30px;
              opacity: 0;
              transition: opacity .3s ease;
            }
            &:hover::after{
              opacity: 1;
            }
            img{
              border-radius: 14px;
              width: 100%;
              height: 175px;
              object-fit: cover;
            }
          }
        }

      }
    }
    &-mod{
      margin-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid $green-white;

      &-two{
        margin-left: 20px !important;
      }
      &-wrap{
        margin: 0 0 10px 0;
      }
      &-info{
        display: flex;
        align-items: center;
        margin: 0 0 5px 0;
        &-casino{
          font-family: $font-firs-semb;
          color: $white;
          border-radius: 10px;
          background: $blue;
          font-size: 14px;
          line-height: 14px;
          padding: 8px 17px 7px;
          margin: 0 10px 0 0;
          span{
            font-style: italic;
          }
        }
        &-doc{
          font-family: $font-firs-reg;
          font-size: 12px;
          line-height: 12px;
          color: $green;
          padding: 7px 11px 6px;
          border: 1px solid $green-white;
          border-radius: 100px;

        }
      }
      &-date{
        font-family: $font-firs-reg;
        font-size: 11px;
        line-height: 14px;
        color: $green;
      }
      &-text{
        font-family: $font-firs-reg;
        font-size: 15px;
        line-height: 28px;
        color: $blue-dark;
        span{
          color: $blue;
          cursor: pointer;
        }
      }
    }

  }

  &__send{
    padding-top: 10px;
    .preview{
      margin-top: 15px;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }
    .previewItem{
      position: relative;
      width: 200px;
      height: 200px;
      object-fit: cover;
      @media screen and (max-width: 650px){
        width: 120px;
        height: 120px;
      }

      @media screen and (max-width: 374px){
        width: 120px;
        height: 120px;
      }
    }
    .preview-image {
      display: inline-block;
      position: relative;
      width: 200px;
      height: 200px;
      object-fit: cover;
      @media screen and (max-width: 650px){
        width: 120px;
        height: 120px;
      }
      @media screen and (max-width: 374px){
        width: 120px;
        height: 120px;
      }
    }
    .delete-button {
      position: absolute;
      top: 9px;
      right: 9px;
      width: 18px;
      height: 18px;
      background: url('../img/page22/btn-close.svg') no-repeat 0 0/contain;
      cursor: pointer;
    }
    &-form{
      display: flex;
      align-items: flex-start;

      &-wrap{
        display: flex;
        align-items: center;
        margin: 0 23px 0 0;
      }
      &-file{
        display: none;

        &-img{
          display: inline-block;
          width: 25px;
          height: 20px;
          background: url("../img/page22/img-svg.svg") no-repeat center/contain;
          cursor: pointer;
        }
      }

      &-text{
        flex: 1 1 auto;
        margin: 0 30px 0 0;
        textarea{
          width: 100%;
          padding: 13px 20px;
          border: 1px solid #CAE0E0;
          border-radius: 8px;
          resize: none;
          &::placeholder{
            color: $green;
            font-family: $font-firs-reg;
            font-size: 14px;
            line-height: 17px;

          }
        }
      }

      &-submit{
        background: transparent;
        max-width: 40px;
        transition: transform .3s ease;
        &:hover{
          transform: translateX(3px);
        }
      }


    }

  }

}

.popup__discussion-up {
  position: fixed;
  z-index: 120;
  padding-top: 70px;
  padding-bottom: 70px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  align-items: flex-end;
  background: rgba(17, 17, 17, 0.8);
  backdrop-filter: blur(50px);
  transition: opacity .7s ease, visibility .7s ease;
  &._hidden{
    opacity: 0;
    visibility: hidden;
  }
  &-wrap{
    margin: auto;
    max-width: 1030px;
    padding: 0 15px;
    position: relative;
  }

  .close-popup-dis{
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 30px;
    background: url("../img/page22/btn-close.svg") no-repeat center/contain;
    transition: transform .3s ease;
    &:hover{
      transform: scale(1.1);
    }
  }

}


@media screen and (max-width: 650px){
  .discussion{
    padding: 20px 15px;
   &__comment-user-question-doc-item{
     width: 110px;
     img{
       height: 110px;
     }
    }
    &__send{
      &-form{
        display: grid;
        grid-template-columns: auto 30px;
        grid-auto-rows: auto auto;
        &-file{
        }
        &-text{
          grid-row: 1/3;
          grid-column: 1/2;
          margin: 0 20px 0 0;
          textarea{
            min-height: 150px;
          }

        }
        &-submit{
          max-width: 30px;
          grid-column: 2/3;
          grid-row: 1/2;
        }
        &-wrap{
          margin: 0;
          grid-column: 2/3;
          grid-row: 2/3;
          align-self: end;
          flex-direction: column;
          justify-content: flex-end;
        }
      }

    }
  }
}