<section class="pay">
    <h2 class="pay__title title">A casino with a mastercard</h2>
    <ul class="pay__list">
        <li class="pay__item">
            <div class="pay__item-wrap">
                <div class="pay__item-image">
                    <a href="#" class="pay__item-image-link" aria-label="link-casino"></a>
                        <img loading="lazy" src="img/home/best/slotoking-casino.svg" width="104"
                             height="48" alt="image-casino">
                </div>
                <div class="pay__item-info">
                    <div class="pay__item-title">Parimatch</div>
                    <div class="pay__item-review">
                        <img src="img/page8/star.svg" alt="star" width="14" height="14">
                        <div class="pay__item-review-text">4.5 / 5</div>
                        <div class="pay__item-like"></div>
                    </div>
                </div>
            </div>
            <div class="pay__item-wrap2">
                <div class="pay__item-dep">
                    <div class="pay__item-text">Biggest Bonus Ever</div>
                    <div class="pay__item-bonus">100% Up ₹90,000</div>
                </div>
                <div class="pay__item-buttons">
                    <a href="#" class="pay__item-btn grey-btn">Review</a>

                </div>
            </div>
        </li>
        <li class="pay__item">
            <div class="pay__item-wrap">
                <div class="pay__item-image">
                    <a href="#" class="pay__item-image-link" aria-label="link-casino"></a>
                    <img loading="lazy" src="img/home/best/slotoking-casino.svg" width="104"
                         height="48" alt="image-casino">
                </div>
                <div class="pay__item-info">
                    <div class="pay__item-title">Parimatch</div>
                    <div class="pay__item-review">
                        <img src="img/page8/star.svg" alt="star" width="14" height="14">
                        <div class="pay__item-review-text">4.5 / 5</div>
                        <div class="pay__item-like"></div>
                    </div>
                </div>
            </div>
            <div class="pay__item-wrap2">
                <div class="pay__item-dep">
                    <div class="pay__item-text">Biggest Bonus Ever</div>
                    <div class="pay__item-bonus">100% Up ₹90,000</div>
                </div>
                <div class="pay__item-buttons">
                    <a href="#" class="pay__item-btn grey-btn">Review</a>
                    <a href="#" class="pay__item-btn blue-btn">Pay</a>
                </div>
            </div>
        </li>
        <li class="pay__item">
            <div class="pay__item-wrap">
                <div class="pay__item-image">
                    <a href="#" class="pay__item-image-link" aria-label="link-casino"></a>
                    <img loading="lazy" src="img/home/best/slotoking-casino.svg" width="104"
                         height="48" alt="image-casino">
                </div>
                <div class="pay__item-info">
                    <div class="pay__item-title">Parimatch</div>
                    <div class="pay__item-review">
                        <img src="img/page8/star.svg" alt="star" width="14" height="14">
                        <div class="pay__item-review-text">4.5 / 5</div>
                        <div class="pay__item-like"></div>
                    </div>
                </div>
            </div>
            <div class="pay__item-wrap2">
                <div class="pay__item-dep">
                    <div class="pay__item-text">Biggest Bonus Ever</div>
                    <div class="pay__item-bonus">100% Up ₹90,000</div>
                </div>
                <div class="pay__item-buttons">
                    <a href="#" class="pay__item-btn grey-btn">Review</a>
                    <a href="#" class="pay__item-btn blue-btn">Pay</a>
                </div>
            </div>
        </li>
        <li class="pay__item">
            <div class="pay__item-wrap">
                <div class="pay__item-image">
                    <a href="#" class="pay__item-image-link" aria-label="link-casino"></a>
                    <img loading="lazy" src="img/home/best/slotoking-casino.svg" width="104"
                         height="48" alt="image-casino">
                </div>
                <div class="pay__item-info">
                    <div class="pay__item-title">Parimatch</div>
                    <div class="pay__item-review">
                        <img src="img/page8/star.svg" alt="star" width="14" height="14">
                        <div class="pay__item-review-text">4.5 / 5</div>
                        <div class="pay__item-like"></div>
                    </div>
                </div>
            </div>
            <div class="pay__item-wrap2">
                <div class="pay__item-dep">
                    <div class="pay__item-text">Biggest Bonus Ever</div>
                    <div class="pay__item-bonus">100% Up ₹90,000</div>
                </div>
                <div class="pay__item-buttons">
                    <a href="#" class="pay__item-btn grey-btn">Review</a>

                </div>
            </div>
        </li>
        <li class="pay__item">
            <div class="pay__item-wrap">
                <div class="pay__item-image">
                    <a href="#" class="pay__item-image-link" aria-label="link-casino"></a>
                    <img loading="lazy" src="img/home/best/slotoking-casino.svg" width="104"
                         height="48" alt="image-casino">
                </div>
                <div class="pay__item-info">
                    <div class="pay__item-title">Parimatch</div>
                    <div class="pay__item-review">
                        <img src="img/page8/star.svg" alt="star" width="14" height="14">
                        <div class="pay__item-review-text">4.5 / 5</div>
                        <div class="pay__item-like"></div>
                    </div>
                </div>
            </div>
            <div class="pay__item-wrap2">
                <div class="pay__item-dep">
                    <div class="pay__item-text">Biggest Bonus Ever</div>
                    <div class="pay__item-bonus">100% Up ₹90,000</div>
                </div>
                <div class="pay__item-buttons">
                    <a href="#" class="pay__item-btn grey-btn">Review</a>
                    <a href="#" class="pay__item-btn blue-btn">Pay</a>
                </div>
            </div>
        </li>

    </ul>
    <a href="#" class="pay__all-link blue-btn">Show All</a>
</section>