.blog{
  margin: 0 0 20px 0;
  h2{
    font-family: $font-firs-semb;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: -0.01em;
    color: $blue-dark;
    margin: 0 0 10px 0;
    text-align: start;
  }
  &__tabs{
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid $green-white;
    border-radius: 10px;
    padding: 4px;
    margin: 0 0 20px 0;
    &-btn{
      width: calc(50% - 2.5px);
      display: inline-block;
      padding: 7px 15px 5px;
      color: $blue-dark;
      font-size: 14px;
      border-radius: 7px;
      line-height: 20px;
      background: transparent;
      transition: background-color 0.3s ease, color 0.3s ease;
      &:first-child{
        margin: 0 5px 0 0;
      }
      &-one,
      &-two{
        &._active{
          color: $white;
          background: $blue;
        }
      }

      &:hover{
        color: $white;
        background: $blue;
      }
    }
  }

  &__list{
    display: flex;
    flex-direction: column;
  }

  &__list{
    &-one{
      &._hidden{
        display: none;
      }
    }
    &-two{
      &._hidden{
        display: none;
      }
    }
  }

  &__item{
    border-radius: 20px;
    padding: 15px;
    background: $white;
    position: relative;
    &:not(:last-child){
      margin: 0 0 20px 0;
    }
    &-link{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &-image{
      margin: 0 0 15px 0;
      img{
        border-radius: 14px;
      }
    }

    p{
      font-size: 17px;
      line-height: 28px;
      letter-spacing: 0.01em;
      color: $grey-tabs;
      margin: 0 0 5px 0;
    }

    time{
      font-size: 13px;
      line-height: 22px;
      color: $green-two;
    }
  }
}

@media screen and (max-width: 1024px){
  .blog{
    margin: 0 0 30px 0;
    h2{
    margin: 0 0 10px 0
    }
    &__tabs{
     max-width: 320px;
      margin: 0 0 20px 0;
    }

    &__list{
      position: relative;
      left: -15px;
      width: calc(100% + 30px);
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      overflow-x: scroll;
      padding: 0 15px;
      min-width: 100%;

    }

    &__item{
      display: flex;
      flex-direction: column;
      padding: 10px;
      min-width: 315px;
      max-width: 315px;
      &:not(:last-child){
        margin: 0 15px 0 0;
      }
      p,time{
        padding: 0 5px 5px 5px;
      }
      p{
        flex: 1 1 auto;
      }
    }
  }
}

@media screen and (max-width: 650px){
  .blog{
    h2{
      font-size: 20px;
      line-height: 35px;
    }
    &__tabs{
      max-width: 100%;
      width: 100%;
    }
  }
}