<div class="casinos-promo">
    <div class="casinos-promo__list">
        <div class="casinos-promo__item">
            <div class="casinos-promo__item-wrap">
                <div class="casinos-promo__item-image">
                    <a href="#" class="casinos-promo__item-image-link" aria-label="link-casino"></a>
                    <img src="img/home/best/slotoking-casino.svg" alt="slotoking" width="285" height="120">
                </div>
                <div class="casinos-promo__item-cont">
                    <div class="casinos-promo__item-title">Favbet Casino</div>
                    <div class="casinos-promo__item-info">
                        <div class="casinos-promo__item-star">
                            <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                            <div class="casinos-promo__item-star-text">4.5</div>
                        </div>
                        <div class="casinos-promo__item-top">
                            Проверенное
                        </div>

                    </div>
                </div>

            </div>
            <div class="casinos-promo__item-bonus">
                <div class="casinos-promo__item-bonus-item">
                    <div class="casinos-promo__item-bonus-item-title">Number of lines:</div>
                    <div class="casinos-promo__item-bonus-item-text">nine</div>
                </div>
                <div class="casinos-promo__item-bonus-item">
                    <div class="casinos-promo__item-bonus-item-title">Number of drum:</div>
                    <div class="casinos-promo__item-bonus-item-text">5000</div>
                </div>
                <div class="casinos-promo__item-bonus-item">
                    <div class="casinos-promo__item-bonus-item-title">Min. bid:</div>
                    <div class="casinos-promo__item-bonus-item-text">twenty</div>
                </div>
                <div class="casinos-promo__item-bonus-item">
                    <div class="casinos-promo__item-bonus-item-title">Max. bid:</div>
                    <div class="casinos-promo__item-bonus-item-text">182</div>
                </div>

            </div>
            <div class="casinos-promo__item-code">
                <div class="casinos-promo__item-rtp">
                    <div class="casinos-promo__item-rtp-title">RTP of slot machine</div>
                    <div class="casinos-promo__item-rtp-info">
                        <img src="img/arrow-promo.svg" alt="arrow" width="13" height="11">
                        <div class="casinos-promo__item-rtp-text">80%</div>
                    </div>
                </div>
                <div class="casinos-promo__item-buttons">
                    <a href="#" class="casinos-promo__item-btn grey-btn">Обзор</a>
                    <a href="#" class="casinos-promo__item-btn blue-btn">Играть</a>
                </div>
            </div>
        </div>
        <div class="casinos-promo__item">
            <div class="casinos-promo__item-wrap">
                <div class="casinos-promo__item-image">
                    <a href="#" class="casinos-promo__item-image-link" aria-label="link-casino"></a>
                    <img src="img/home/best/slotoking-casino.svg" alt="slotoking" width="285" height="120">
                </div>
                <div class="casinos-promo__item-cont">
                    <div class="casinos-promo__item-title">Favbet Casino</div>
                    <div class="casinos-promo__item-info">
                        <div class="casinos-promo__item-star">
                            <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                            <div class="casinos-promo__item-star-text">4.5</div>
                        </div>
                        <div class="casinos-promo__item-top">
                            Проверенное
                        </div>

                    </div>
                </div>

            </div>
            <div class="casinos-promo__item-bonus">
                <div class="casinos-promo__item-bonus-item">
                    <div class="casinos-promo__item-bonus-item-title">Number of lines:</div>
                    <div class="casinos-promo__item-bonus-item-text">nine</div>
                </div>
                <div class="casinos-promo__item-bonus-item">
                    <div class="casinos-promo__item-bonus-item-title">Number of drum:</div>
                    <div class="casinos-promo__item-bonus-item-text">5000</div>
                </div>
                <div class="casinos-promo__item-bonus-item">
                    <div class="casinos-promo__item-bonus-item-title">Min. bid:</div>
                    <div class="casinos-promo__item-bonus-item-text">twenty</div>
                </div>
                <div class="casinos-promo__item-bonus-item">
                    <div class="casinos-promo__item-bonus-item-title">Max. bid:</div>
                    <div class="casinos-promo__item-bonus-item-text">182</div>
                </div>

            </div>
            <div class="casinos-promo__item-code">
                <div class="casinos-promo__item-rtp">
                    <div class="casinos-promo__item-rtp-title">RTP of slot machine</div>
                    <div class="casinos-promo__item-rtp-info">
                        <img src="img/arrow-promo.svg" alt="arrow" width="13" height="11">
                        <div class="casinos-promo__item-rtp-text">80%</div>
                    </div>
                </div>
                <div class="casinos-promo__item-buttons">
                    <a href="#" class="casinos-promo__item-btn grey-btn">Обзор</a>
                    <a href="#" class="casinos-promo__item-btn blue-btn">Играть</a>
                </div>
            </div>
        </div>
        <div class="casinos-promo__item">
            <div class="casinos-promo__item-wrap">
                <div class="casinos-promo__item-image">
                    <a href="#" class="casinos-promo__item-image-link" aria-label="link-casino"></a>
                    <img src="img/home/best/slotoking-casino.svg" alt="slotoking" width="285" height="120">
                </div>
                <div class="casinos-promo__item-cont">
                    <div class="casinos-promo__item-title">Favbet Casino</div>
                    <div class="casinos-promo__item-info">
                        <div class="casinos-promo__item-star">
                            <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                            <div class="casinos-promo__item-star-text">4.5</div>
                        </div>
                        <div class="casinos-promo__item-top">
                            Проверенное
                        </div>

                    </div>
                </div>

            </div>
            <div class="casinos-promo__item-bonus">
                <div class="casinos-promo__item-bonus-item">
                    <div class="casinos-promo__item-bonus-item-title">Number of lines:</div>
                    <div class="casinos-promo__item-bonus-item-text">nine</div>
                </div>
                <div class="casinos-promo__item-bonus-item">
                    <div class="casinos-promo__item-bonus-item-title">Number of drum:</div>
                    <div class="casinos-promo__item-bonus-item-text">5000</div>
                </div>
                <div class="casinos-promo__item-bonus-item">
                    <div class="casinos-promo__item-bonus-item-title">Min. bid:</div>
                    <div class="casinos-promo__item-bonus-item-text">twenty</div>
                </div>
                <div class="casinos-promo__item-bonus-item">
                    <div class="casinos-promo__item-bonus-item-title">Max. bid:</div>
                    <div class="casinos-promo__item-bonus-item-text">182</div>
                </div>

            </div>
            <div class="casinos-promo__item-code">
                <div class="casinos-promo__item-rtp">
                    <div class="casinos-promo__item-rtp-title">RTP of slot machine</div>
                    <div class="casinos-promo__item-rtp-info">
                        <img src="img/arrow-promo.svg" alt="arrow" width="13" height="11">
                        <div class="casinos-promo__item-rtp-text">80%</div>
                    </div>
                </div>
                <div class="casinos-promo__item-buttons">
                    <a href="#" class="casinos-promo__item-btn grey-btn">Обзор</a>
                    <a href="#" class="casinos-promo__item-btn blue-btn">Играть</a>
                </div>
            </div>
        </div>
        <div class="casinos-promo__item">
            <div class="casinos-promo__item-wrap">
                <div class="casinos-promo__item-image">
                    <a href="#" class="casinos-promo__item-image-link" aria-label="link-casino"></a>
                    <img src="img/home/best/slotoking-casino.svg" alt="slotoking" width="285" height="120">
                </div>
                <div class="casinos-promo__item-cont">
                    <div class="casinos-promo__item-title">Favbet Casino</div>
                    <div class="casinos-promo__item-info">
                        <div class="casinos-promo__item-star">
                            <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                            <div class="casinos-promo__item-star-text">4.5</div>
                        </div>
                        <div class="casinos-promo__item-top">
                            Проверенное
                        </div>

                    </div>
                </div>

            </div>
            <div class="casinos-promo__item-bonus">
                <div class="casinos-promo__item-bonus-item">
                    <div class="casinos-promo__item-bonus-item-title">Number of lines:</div>
                    <div class="casinos-promo__item-bonus-item-text">nine</div>
                </div>
                <div class="casinos-promo__item-bonus-item">
                    <div class="casinos-promo__item-bonus-item-title">Number of drum:</div>
                    <div class="casinos-promo__item-bonus-item-text">5000</div>
                </div>
                <div class="casinos-promo__item-bonus-item">
                    <div class="casinos-promo__item-bonus-item-title">Min. bid:</div>
                    <div class="casinos-promo__item-bonus-item-text">twenty</div>
                </div>
                <div class="casinos-promo__item-bonus-item">
                    <div class="casinos-promo__item-bonus-item-title">Max. bid:</div>
                    <div class="casinos-promo__item-bonus-item-text">182</div>
                </div>

            </div>
            <div class="casinos-promo__item-code">
                <div class="casinos-promo__item-rtp">
                    <div class="casinos-promo__item-rtp-title">RTP of slot machine</div>
                    <div class="casinos-promo__item-rtp-info">
                        <img src="img/arrow-promo.svg" alt="arrow" width="13" height="11">
                        <div class="casinos-promo__item-rtp-text">80%</div>
                    </div>
                </div>
                <div class="casinos-promo__item-buttons">
                    <a href="#" class="casinos-promo__item-btn grey-btn">Обзор</a>
                    <a href="#" class="casinos-promo__item-btn blue-btn">Играть</a>
                </div>
            </div>
        </div>

    </div>
</div>