<div class="casinos-best">
    <div class="casinos-best__list">
        <div class="casinos-best__item">
            <div class="casinos-best__item-wrap">
                <div class="casinos-best__item-image">
                    <a href="#" class="casinos-best__item-image-link" aria-label="link-casinos"></a>
                    <img src="img/home/best/slots-city-casino.svg" alt="slots-city-casino" width="285" height="120" loading="lazy">
                </div>
                <div class="casinos-best__item-title">Favbet Casino</div>
                <div class="casinos-best__item-info">
                    <div class="casinos-best__item-star">
                        <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <div class="casinos-best__item-star-text">4.5</div>
                    </div>
                    <div class="casinos-best__item-top">
                        <img src="img/home/best/top.svg" alt="top" width="13" height="12" loading="lazy">
                        <div class="casinos-best__item-top-text">Лучшие</div>
                    </div>
                </div>
                <div class="casinos-best__item-buttons">
                    <a href="#" class="casinos-best__item-btn grey-btn">Обзор</a>
                    <a href="#" class="casinos-best__item-btn blue-btn">Играть</a>
                </div>
            </div>
            <div class="casinos-best__item-bonus">
                <div class="casinos-best__item-bonus-title">Deposit Bonus:</div>
                <div class="casinos-best__item-bonus-subtitle">100% up tu 1600 CAD</div>
                <div class="casinos-best__item-bonus-text">Онлайн казино Slotoking пропонує своїм клієнтам унікальну можливість обміняти </div>
            </div>
        </div>
        <div class="casinos-best__item">
            <div class="casinos-best__item-wrap">
                <div class="casinos-best__item-image">
                    <a href="#" class="casinos-best__item-image-link" aria-label="link-casinos"></a>
                    <img src="img/home/best/slots-city-casino.svg" alt="slots-city-casino" width="285" height="120" loading="lazy">
                </div>
                <div class="casinos-best__item-title">Favbet Casino</div>
                <div class="casinos-best__item-info">
                    <div class="casinos-best__item-star">
                        <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <div class="casinos-best__item-star-text">4.5</div>
                    </div>
                    <div class="casinos-best__item-top">
                        <img src="img/home/best/top.svg" alt="top" width="13" height="12" loading="lazy">
                        <div class="casinos-best__item-top-text">Лучшие</div>
                    </div>
                </div>
                <div class="casinos-best__item-buttons">
                    <a href="#" class="casinos-best__item-btn grey-btn">Обзор</a>
                    <a href="#" class="casinos-best__item-btn blue-btn">Играть</a>
                </div>
            </div>
            <div class="casinos-best__item-bonus">
                <div class="casinos-best__item-bonus-title">Deposit Bonus:</div>
                <div class="casinos-best__item-bonus-subtitle">100% up tu 1600 CAD</div>
                <div class="casinos-best__item-bonus-text">Онлайн казино Slotoking пропонує своїм клієнтам унікальну можливість обміняти </div>
            </div>
        </div>
        <div class="casinos-best__item">
            <div class="casinos-best__item-wrap">
                <div class="casinos-best__item-image">
                    <a href="#" class="casinos-best__item-image-link" aria-label="link-casinos"></a>
                    <img src="img/home/best/slots-city-casino.svg" alt="slots-city-casino" width="285" height="120" loading="lazy">
                </div>
                <div class="casinos-best__item-title">Favbet Casino</div>
                <div class="casinos-best__item-info">
                    <div class="casinos-best__item-star">
                        <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <div class="casinos-best__item-star-text">4.5</div>
                    </div>
                    <div class="casinos-best__item-top">
                        <img src="img/home/best/top.svg" alt="top" width="13" height="12" loading="lazy">
                        <div class="casinos-best__item-top-text">Лучшие</div>
                    </div>
                </div>
                <div class="casinos-best__item-buttons">
                    <a href="#" class="casinos-best__item-btn grey-btn">Обзор</a>
                    <a href="#" class="casinos-best__item-btn blue-btn">Играть</a>
                </div>
            </div>
            <div class="casinos-best__item-bonus">
                <div class="casinos-best__item-bonus-title">Deposit Bonus:</div>
                <div class="casinos-best__item-bonus-subtitle">100% up tu 1600 CAD</div>
                <div class="casinos-best__item-bonus-text">Онлайн казино Slotoking пропонує своїм клієнтам унікальну можливість обміняти </div>
            </div>
        </div>

    </div>

</div>