<section class="all-complaint">
    <div class="all-complaint__container">
        <h2 class="all-complaint__title title">Все жалобы</h2>
        <ul class="all-complaint__list">
            <li class="all-complaint__item all-complaint__item-done">
                <div class="all-complaint__item-row">
                    <div class="all-complaint__item-img">
                        <img src="img/page18/complaint-done.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="all-complaint__item-wrap">
                        <div class="all-complaint__item-title">ВИРІШЕНО</div>
                        <div class="all-complaint__item-mon">5000€</div>
                    </div>
                </div>
                <div class="all-complaint__item-text">To play Norwegian casino games online safely, we recommend doing
                    so on
                    only regulated and licensed casino
                </div>
                <a href="#" class="all-complaint__item-link grey-btn">Детальніше</a>
            </li>
            <li class="all-complaint__item all-complaint__item-load">
                <div class="all-complaint__item-row">
                    <div class="all-complaint__item-img">
                        <img src="img/page18/complaint-load.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="all-complaint__item-wrap">
                        <div class="all-complaint__item-title">Обробляється</div>
                        <div class="all-complaint__item-mon">5000€</div>
                    </div>
                </div>
                <div class="all-complaint__item-text">To play Norwegian casino games online safely, we recommend doing
                    so on
                    only regulated and licensed casino

                </div>
                <a href="#" class="all-complaint__item-link grey-btn">Детальніше</a>
            </li>
            <li class="all-complaint__item all-complaint__item-none">
                <div class="all-complaint__item-row">
                    <div class="all-complaint__item-img">
                        <img src="img/page18/complaint-none.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="all-complaint__item-wrap">
                        <div class="all-complaint__item-title">Відхилено</div>
                    </div>
                </div>
                <div class="all-complaint__item-text">To play Norwegian casino games online safely
                </div>
                <a href="#" class="all-complaint__item-link grey-btn">Детальніше</a>
            </li>
            <li class="all-complaint__item all-complaint__item-cancel">
                <div class="all-complaint__item-row">
                    <div class="all-complaint__item-img">
                        <img src="img/page18/complaint-cancel.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="all-complaint__item-wrap">
                        <div class="all-complaint__item-title">Не вирішена</div>
                        <div class="all-complaint__item-mon">5000€</div>
                    </div>
                </div>
                <div class="all-complaint__item-text">To play Norwegian casino games online safely, we recommend doing
                    so on
                    only regulated and licensed casino

                </div>
                <a href="#" class="all-complaint__item-link grey-btn">Детальніше</a>
            </li>
            <li class="all-complaint__item all-complaint__item-done">
                <div class="all-complaint__item-row">
                    <div class="all-complaint__item-img">
                        <img src="img/page18/complaint-done.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="all-complaint__item-wrap">
                        <div class="all-complaint__item-title">ВИРІШЕНО</div>
                        <div class="all-complaint__item-mon">5000€</div>
                    </div>
                </div>
                <div class="all-complaint__item-text">To play Norwegian casino games online safely, we recommend doing
                    so on
                    only regulated and licensed casino
                </div>
                <a href="#" class="all-complaint__item-link grey-btn">Детальніше</a>
            </li>
            <li class="all-complaint__item all-complaint__item-load">
                <div class="all-complaint__item-row">
                    <div class="all-complaint__item-img">
                        <img src="img/page18/complaint-load.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="all-complaint__item-wrap">
                        <div class="all-complaint__item-title">Обробляється</div>
                        <div class="all-complaint__item-mon">5000€</div>
                    </div>
                </div>
                <div class="all-complaint__item-text">To play Norwegian casino games online safely, we recommend doing
                    so on
                    only regulated and licensed casino

                </div>
                <a href="#" class="all-complaint__item-link grey-btn">Детальніше</a>
            </li>
            <li class="all-complaint__item all-complaint__item-none">
                <div class="all-complaint__item-row">
                    <div class="all-complaint__item-img">
                        <img src="img/page18/complaint-none.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="all-complaint__item-wrap">
                        <div class="all-complaint__item-title">Відхилено</div>
                    </div>
                </div>
                <div class="all-complaint__item-text">To play Norwegian casino games online safely
                </div>
                <a href="#" class="all-complaint__item-link grey-btn">Детальніше</a>
            </li>
            <li class="all-complaint__item all-complaint__item-cancel">
                <div class="all-complaint__item-row">
                    <div class="all-complaint__item-img">
                        <img src="img/page18/complaint-cancel.svg" alt="done" width="28" height="28">
                    </div>
                    <div class="all-complaint__item-wrap">
                        <div class="all-complaint__item-title">Не вирішена</div>
                        <div class="all-complaint__item-mon">5000€</div>
                    </div>
                </div>
                <div class="all-complaint__item-text">To play Norwegian casino games online safely, we recommend doing
                    so on
                    only regulated and licensed casino

                </div>
                <a href="#" class="all-complaint__item-link grey-btn">Детальніше</a>
            </li>
        </ul>
        <a href="#" class="all-complaint__all-link blue-btn">Show All</a>
    </div>
</section>