<section class="welcome">
    <div class="welcome__container">
        <h2 class="welcome__title title">Дорогі друзі</h2>
        <p class="welcome__text">To play Norwegian casino games online safely, we recommend doing so on only regulated and licensed casino platforms. Also, make sure that our team can only nominate the titles whose play Norwegian casino games online safely, we recommend doing so on only regulated and licensed casino platforms. Also, make sure that our team can only nominate the titles whose
        </p>
        <p class="welcome__text">
            To play Norwegian casino games online safely, we recommend doing so on only regulated and licensed casino platforms. Also, make sure that our team can only nominate the titles whose play Norwegian casino games online safely, we recommend doing so on only regulated and licensed casino platforms. Also, make sure that our team can only nominate the titles whose </p>
        <a href="#" class="welcome__link blue-btn">Подать жалобу</a>
    </div>
</section>