<section class="automatic">
    <div class="automatic__container">
        <h2 class="automatic__title title"><img src="img/home/casino/casino-link-three.svg" alt="casino-img-link" width="100" height="100" loading="lazy"> Безкоштовні ігрові автомати <a href="#" class="automatic__title-link"><img src="img/home/best/arrow-link.svg" alt="arrow-link" width="40" height="40" loading="lazy"></a></h2>
        <p class="automatic__text">Спробуй кращі ігрові автомати абсолютно безкоштовно</p>
        <ul class="automatic__list">
            <li class="automatic__item">
                <div class="automatic__item-img">
                    <img src="img/home/authomat/casino-img.webp" alt="book-of-ra" width="285" height="120" loading="lazy">
                </div>
                <div class="automatic__item-title">Book of Ra</div>
                <div class="automatic__item-row">
                    <div class="automatic__item-grade">
                        <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <span>5.0</span>
                    </div>
                    <div class="automatic__item-top">
                        <img src="img/home/best/top.svg" alt="top" width="13" height="12" loading="lazy">
                        <span>Ліцензійні казино</span>
                    </div>
                </div>
                <ul class="automatic__item-list">
                    <li class="automatic__item-item">
                        <span>Кількість ліній:</span> 9
                    </li>
                    <li class="automatic__item-item">
                        <span>Мін. ставка:</span> 0.45
                    </li>
                    <li class="automatic__item-item">
                        <span>Кількість барабанів:</span> 5
                    </li>
                    <li class="automatic__item-item">
                        <span>Макс. ставка:</span> 90
                    </li>
                    <li class="automatic__item-item">
                        <span>RTP</span> <div class="rtp">92,13</div>
                    </li>
                </ul>
                <div class="automatic__item-btns">
                    <a href="#" class="automatic__item-btn grey-btn">Огляд</a>
                    <a href="#" class="automatic__item-btn blue-btn">Грати</a>
                </div>
            </li>
            <li class="automatic__item">
                <div class="automatic__item-img">
                    <img src="img/home/authomat/casino-img.webp" alt="book-of-ra" width="285" height="120" loading="lazy">
                </div>
                <div class="automatic__item-title">Book of Ra</div>
                <div class="automatic__item-row">
                    <div class="automatic__item-grade">
                        <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <span>5.0</span>
                    </div>
                    <div class="automatic__item-top">
                        <img src="img/home/best/top.svg" alt="top" width="13" height="12" loading="lazy">
                        <span>Кращі ігрові автомати</span>
                    </div>
                </div>
                <ul class="automatic__item-list">
                    <li class="automatic__item-item">
                        <span>Кількість ліній:</span> 9
                    </li>
                    <li class="automatic__item-item">
                        <span>Мін. ставка:</span> 0.45
                    </li>
                    <li class="automatic__item-item">
                        <span>Кількість барабанів:</span> 5
                    </li>
                    <li class="automatic__item-item">
                        <span>Макс. ставка:</span> 90
                    </li>
                    <li class="automatic__item-item">
                        <span>RTP</span> <div class="rtp">92,13</div>
                    </li>
                </ul>
                <div class="automatic__item-btns">
                    <a href="#" class="automatic__item-btn grey-btn">Огляд</a>
                    <a href="#" class="automatic__item-btn blue-btn">Грати</a>
                </div>
            </li>
            <li class="automatic__item">
                <div class="automatic__item-img">
                    <img src="img/home/authomat/casino-img.webp" alt="book-of-ra" width="285" height="120" loading="lazy">
                </div>
                <div class="automatic__item-title">Book of Ra</div>
                <div class="automatic__item-row">
                    <div class="automatic__item-grade">
                        <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <span>5.0</span>
                    </div>
                    <div class="automatic__item-top">
                        <img src="img/home/best/top.svg" alt="top" width="13" height="12" loading="lazy">
                        <span>Ліцензійні казино</span>
                    </div>
                </div>
                <ul class="automatic__item-list">
                    <li class="automatic__item-item">
                        <span>Кількість ліній:</span> 9
                    </li>
                    <li class="automatic__item-item">
                        <span>Мін. ставка:</span> 0.45
                    </li>
                    <li class="automatic__item-item">
                        <span>Кількість барабанів:</span> 5
                    </li>
                    <li class="automatic__item-item">
                        <span>Макс. ставка:</span> 90
                    </li>
                    <li class="automatic__item-item">
                        <span>RTP</span> <div class="rtp">92,13</div>
                    </li>
                </ul>
                <div class="automatic__item-btns">
                    <a href="#" class="automatic__item-btn grey-btn">Огляд</a>
                    <a href="#" class="automatic__item-btn blue-btn">Грати</a>
                </div>
            </li>
            <li class="automatic__item">
                <div class="automatic__item-img">
                    <img src="img/home/authomat/casino-img.webp" alt="book-of-ra" width="285" height="120" loading="lazy">
                </div>
                <div class="automatic__item-title">Book of Ra</div>
                <div class="automatic__item-row">
                    <div class="automatic__item-grade">
                        <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <span>5.0</span>
                    </div>
                    <div class="automatic__item-top">
                        <img src="img/home/best/top.svg" alt="top" width="13" height="12" loading="lazy">
                        <span>Ліцензійні казино</span>
                    </div>
                </div>
                <ul class="automatic__item-list">
                    <li class="automatic__item-item">
                        <span>Кількість ліній:</span> 9
                    </li>
                    <li class="automatic__item-item">
                        <span>Мін. ставка:</span> 0.45
                    </li>
                    <li class="automatic__item-item">
                        <span>Кількість барабанів:</span> 5
                    </li>
                    <li class="automatic__item-item">
                        <span>Макс. ставка:</span> 90
                    </li>
                    <li class="automatic__item-item">
                        <span>RTP</span> <div class="rtp">92,13</div>
                    </li>
                </ul>
                <div class="automatic__item-btns">
                    <a href="#" class="automatic__item-btn grey-btn">Огляд</a>
                    <a href="#" class="automatic__item-btn blue-btn">Грати</a>
                </div>
            </li>
        </ul>
        <a href="#" class="automatic__all-link blue-btn">Переглянути всі</a>
    </div>
</section>