<section class="bonus">
  <div class="bonus__container">
    <h2 class="bonus__title title"><img src="img/home/bonus/joystick.svg" alt="casino-img-link" width="100"
                                       height="100" loading="lazy">Кращі бонуси від онлайн казино <a href="#"
                                                                                                     class="bonus__title-link"><img
            src="img/home/best/arrow-link.svg" alt="arrow-link" width="40" height="40" loading="lazy"></a></h2>
    <p class="bonus__text">
      Ми підібрали кращі пропозиції гемблінг ринку для вас </p>
    <ul class="bonus__list">
      <li class="bonus__item">
        <div class="bonus__item-img">
          <img src="img/home/bonus/bonus-img.svg" alt="image-bonus" width="190" height="80" loading="lazy">
        </div>
        <div class="bonus__item-description">
          <div class="bonus__item-description-btn"></div>
          <div class="bonus__item-description-text">
            <ul>
              <li>Кількість ігор: 234</li>
              <li>Рік заснування: 234</li>
              <li>Засновник: Кто-то</li>
              <li> Штаб-квартира: 234</li>
            </ul>
          </div>
        </div>
        <div class="bonus__item-title">Booming games</div>
        <a href="#" class="bonus__item-link blue-btn">Получать</a>
      </li>
      <li class="bonus__item">
        <div class="bonus__item-img">
          <img src="img/home/bonus/bonus-img.svg" alt="image-bonus" width="190" height="80" loading="lazy">
        </div>
        <div class="bonus__item-description">
          <div class="bonus__item-description-btn"></div>
          <div class="bonus__item-description-text">
            <ul>
              <li>Кількість ігор: 234</li>
              <li>Рік заснування: 234</li>
              <li>Засновник: Кто-то</li>
              <li> Штаб-квартира: 234</li>
            </ul>
          </div>
        </div>
        <div class="bonus__item-title">Favbet Casino</div>
        <a href="#" class="bonus__item-link blue-btn">Получать</a>
      </li>
      <li class="bonus__item">
        <div class="bonus__item-img">
          <img src="img/home/bonus/bonus-img.svg" alt="image-bonus" width="190" height="80" loading="lazy">
        </div>
        <div class="bonus__item-description">
          <div class="bonus__item-description-btn"></div>
          <div class="bonus__item-description-text">
            <ul>
              <li>Кількість ігор: 234</li>
              <li>Рік заснування: 234</li>
              <li>Засновник: Кто-то</li>
              <li> Штаб-квартира: 234</li>
            </ul>
          </div>
        </div>
        <div class="bonus__item-title">Big time gaming</div>
        <a href="#" class="bonus__item-link blue-btn">Получать</a>
      </li>
      <li class="bonus__item">
        <div class="bonus__item-img">
          <img src="img/home/bonus/bonus-img.svg" alt="image-bonus" width="190" height="80" loading="lazy">
        </div>
        <div class="bonus__item-description">
          <div class="bonus__item-description-btn"></div>
          <div class="bonus__item-description-text">
            <ul>
              <li>Кількість ігор: 234</li>
              <li>Рік заснування: 234</li>
              <li>Засновник: Кто-то</li>
              <li> Штаб-квартира: 234</li>
            </ul>
          </div>
        </div>
        <div class="bonus__item-title">Booming games</div>
        <a href="#" class="bonus__item-link blue-btn">Получать</a>
      </li>
    </ul>
    <a href="#" class="bonus__all-link blue-btn">Переглянути всі</a>
  </div>
</section>