<section class="casino">
    <div class="casino__container">
        <h1 class="casino__title">
            <div class="casino__title-top"><span>Онлайн</span>казино Украины</div>
            <div class="casino__title-bottom">Рейтинг ТОП казино</div>
        </h1>
        <div class="casino__row-wrap">
        <ul class="casino__row">
            <li class="casino__item">
                <a href="#" class="casino__item-link" aria-label="link-casino"></a>
                <div class="casino__item-img">
                    <img src="img/home/casino/casino-link-one.svg" alt="casino-img-link" width="100" height="100" loading="lazy">
                </div>
                <div class="casino__item-text">Казино</div>
            </li>
            <li class="casino__item">
                <a href="#" class="casino__item-link" aria-label="link-casino"></a>
                <div class="casino__item-img">
                    <img src="img/home/casino/casino-link-two.svg" alt="casino-img-link" width="100" height="100" loading="lazy">
                </div>
                <div class="casino__item-text">Бонусы</div>
            </li>
            <li class="casino__item">
                <a href="#" class="casino__item-link" aria-label="link-casino"></a>
                <div class="casino__item-img">
                    <img src="img/home/casino/casino-link-three.svg" alt="casino-img-link" width="100" height="100" loading="lazy">
                </div>
                <div class="casino__item-text">Слоты</div>
            </li>
            <li class="casino__item">
                <a href="#" class="casino__item-link" aria-label="link-casino"></a>
                <div class="casino__item-img">
                    <img src="img/home/casino/casino-link-fourth.svg" alt="casino-img-link" width="100" height="100" loading="lazy">
                </div>
                <div class="casino__item-text">Провайдеры</div>
            </li>
            <li class="casino__item">
                <a href="#" class="casino__item-link" aria-label="link-casino"></a>
                <div class="casino__item-img">
                    <img src="img/home/casino/casino-link-five.svg" alt="casino-img-link" width="100" height="100" loading="lazy">
                </div>
                <div class="casino__item-text">Платежные системы</div>
            </li>
            <li class="casino__item">
                <a href="#" class="casino__item-link" aria-label="link-casino"></a>
                <div class="casino__item-img">
                    <img src="img/home/casino/casino-link-six.svg" alt="casino-img-link" width="100" height="100" loading="lazy">
                </div>
                <div class="casino__item-text">Партнерские программы</div>
            </li>
            <li class="casino__item">
                <a href="#" class="casino__item-link" aria-label="link-casino"></a>
                <div class="casino__item-img">
                    <img src="img/home/casino/casino-link-six.svg" alt="casino-img-link" width="100" height="100" loading="lazy">
                </div>
                <div class="casino__item-text">Жалобы</div>
            </li>
        </ul>
        </div>
        <ul class="casino__game">
            <li class="casino__game-item">
                <div class="casino__game-img">
                    <img src="img/home/casino/casino-min-img-1.svg" alt="casino-image" width="72" height="40" loading="lazy">
                </div>
                <div class="casino__game-info">
                    <div class="casino__game-name">Favbet</div>
                    <div class="casino__game-grade">
                        <img src="img/home/casino/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <span>5.0</span>
                    </div>

                </div>
                <a href="#" class="casino__game-link blue-btn">Играть</a>
            </li>
            <li class="casino__game-item">
                <div class="casino__game-img">
                    <img src="img/home/casino/casino-min-img-2.svg" alt="casino-image" width="72" height="40" loading="lazy">
                </div>
                <div class="casino__game-info">
                    <div class="casino__game-name">Slots City</div>
                    <div class="casino__game-grade">
                        <img src="img/home/casino/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <span>5.0</span>
                    </div>

                </div>
                <a href="#" class="casino__game-link blue-btn">Играть</a>
            </li>
            <li class="casino__game-item">
                <div class="casino__game-img">
                    <img src="img/home/casino/casino-min-img-1.svg" alt="casino-image" width="72" height="40" loading="lazy">
                </div>
                <div class="casino__game-info">
                    <div class="casino__game-name">Слотокинг</div>
                    <div class="casino__game-grade">
                        <img src="img/home/casino/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <span>5.0</span>
                    </div>

                </div>
                <a href="#" class="casino__game-link blue-btn">Играть</a>
            </li>
            <li class="casino__game-item">
                <div class="casino__game-img">
                    <img src="img/home/casino/casino-min-img-2.svg" alt="casino-image" width="72" height="40" loading="lazy">
                </div>
                <div class="casino__game-info">
                    <div class="casino__game-name">Pin Up</div>
                    <div class="casino__game-grade">
                        <img src="img/home/casino/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <span>5.0</span>
                    </div>

                </div>
                <a href="#" class="casino__game-link blue-btn">Играть</a>
            </li>
            <li class="casino__game-item">
                <div class="casino__game-img">
                    <img src="img/home/casino/casino-min-img-1.svg" alt="casino-image" width="72" height="40" loading="lazy">
                </div>
                <div class="casino__game-info">
                    <div class="casino__game-name">Cosmolot</div>
                    <div class="casino__game-grade">
                        <img src="img/home/casino/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <span>5.0</span>
                    </div>

                </div>
                <a href="#" class="casino__game-link blue-btn">Играть</a>
            </li>
            <li class="casino__game-item">
                <div class="casino__game-img">
                    <img src="img/home/casino/casino-min-img-2.svg" alt="casino-image" width="72" height="40" loading="lazy">
                </div>
                <div class="casino__game-info">
                    <div class="casino__game-name">Vulkan</div>
                    <div class="casino__game-grade">
                        <img src="img/home/casino/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <span>5.0</span>
                    </div>

                </div>
                <a href="#" class="casino__game-link blue-btn">Играть</a>
            </li>
        </ul>
    </div>
</section>