<section class="news">
    <div class="news__container">
        <h2 class="news__title title"><img src="img/home/casino/mailbox.svg" alt="casino-img-link" width="100"
                                           height="100" loading="lazy">Кращі бонуси від онлайн казино <a href="#"
                                                                                                         class="news__title-link"><img
                src="img/home/best/arrow-link.svg" alt="arrow-link" width="40" height="40" loading="lazy"></a></h2>
        <p class="news__text">
            Ми підібрали кращі пропозиції гемблінг ринку для вас </p>
        <div class="news__list">
            <div class="news__item">
                <a href="#" class="news__item-link" aria-label="link-item-blog"></a>
                <div class="news__item-img">
                    <img src="img/home/duck.webp" alt="blog-image" width="390" height="190" loading="lazy">
                </div>
                <div class="news__item-text">
                    Азартні розробки присвячені багатьом тематичним та сюжетним напрямкам. На сайтах казино ви можете
                    знайти ігрові автомати на теми популярних фільмів....
                </div>
                <div class="news__item-date">April 26, 2021</div>
            </div>
            <div class="news__item">
                <a href="#" class="news__item-link" aria-label="link-item-blog"></a>
                <div class="news__item-img">
                    <img src="img/home/duck.webp" alt="blog-image" width="390" height="190" loading="lazy">
                </div>
                <div class="news__item-text">
                    На сайтах казино ви можете знайти ігрові автомати на теми популярних фільмів....
                </div>
                <div class="news__item-date">April 26, 2021</div>
            </div>
            <div class="news__item">
                <a href="#" class="news__item-link" aria-label="link-item-blog"></a>
                <div class="news__item-img">
                    <img src="img/home/duck.webp" alt="blog-image" width="390" height="190" loading="lazy">
                </div>
                <div class="news__item-text">
                    Азартні розробки присвячені багатьом тематичним та сюжетним напрямкам. На сайтах казино ви можете
                    знайти ігрові автомати на теми популярних фільмів....
                </div>
                <div class="news__item-date">April 26, 2021</div>
            </div>
        </div>
        <a href="#" class="news__all-link blue-btn-transparent">Переглянути всі</a>


    </div>
</section>