<section class="slot">
    <div class="slot__container">
        <h2 class="slot__title title"><img src="img/home/casino/casino-link-two.svg" alt="casino-img-link" width="100"
                                           height="100" loading="lazy">Кращі бонуси від онлайн казино <a href="#"
                                                                                                         class="slot__title-link"><img
                src="img/home/best/arrow-link.svg" alt="arrow-link" width="40" height="40" loading="lazy"></a></h2>
        <p class="slot__text">
            Ми підібрали кращі пропозиції гемблінг ринку для вас </p>
        <div class="slot__tabs-wrap">
            <ul class="slot__tabs">
                <li class="slot__tabs-item">
                    <button class="slot__tabs-btn _active" aria-label="all">Всі</button>
                </li>
                <li class="slot__tabs-item">
                    <button class="slot__tabs-btn" aria-label="About">Нові казино</button>
                </li>
                <li class="slot__tabs-item">
                    <button class="slot__tabs-btn " aria-label="Bonuses">Мобільні казино</button>
                </li>
                <li class="slot__tabs-item">
                    <button class="slot__tabs-btn" aria-label="Banking">Ліцензійні казино</button>
                </li>
            </ul>
        </div>
        <ul class="slot__list">
            <li class="slot__item">
                <div class="slot__item-img">
                    <a href="#" aria-label="slot-link" class="slot__item-img-link"></a>
                    <img src="img/home/slot/casino-img.webp" alt="casino-img" width="285" height="120" loading="lazy">
                </div>
                <div class="slot__item-title">150 FS від Фьорст казино</div>
                <div class="slot__item-text">Всі новачки казино Пін Ап можуть отримати 250 FS, якщо сума першого
                    депозиту становитиме від 500 грн. Безкоштовні обертання надаються частинами: 50 FS зайдуть вам
                    відразу після поповнення рахунку, а далі ви будете отримувати по 40 FS – щодня протягом наступних
                    5-ти днів. Фріспінами можна скористатися протягом 2 діб з моменту нарахування. Бонуси, які ви
                    отримали в грі на фріспіни, відіграються з вейджером протягом 1 доби (після нарахування).
                </div>
                <div class="slot__item-showMore">Показати</div>
                <div class="slot__item-row">
                    <a href="#" class="slot__item-link blue-btn">Отримати</a>
                    <div class="slot__item-like"></div>
                </div>

            </li>
            <li class="slot__item">
                <div class="slot__item-img">
                    <a href="#" aria-label="slot-link" class="slot__item-img-link"></a>
                    <img src="img/home/slot/casino-img.webp" alt="casino-img" width="285" height="120" loading="lazy">
                </div>
                <div class="slot__item-title">150 FS від Фьорст казино</div>
                <div class="slot__item-text">Всі новачки казино Пін Ап можуть отримати 250 FS, якщо сума першого
                    депозиту становитиме від 500 грн. Безкоштовні обертання надаються частинами: 50 FS зайдуть вам
                   дігрвейджером протягом 1 доби (після нарахування).
                </div>
                <div class="slot__item-showMore">Показати</div>
                <div class="slot__item-row">
                    <a href="#" class="slot__item-link blue-btn">Отримати</a>
                    <div class="slot__item-like"></div>
                </div>

            </li>
            <li class="slot__item">
                <div class="slot__item-img">
                    <a href="#" aria-label="slot-link" class="slot__item-img-link"></a>
                    <img src="img/home/slot/casino-img.webp" alt="casino-img" width="285" height="120" loading="lazy">
                </div>
                <div class="slot__item-title">150 FS від Фьорст казино</div>
                <div class="slot__item-text">Всі новачки казино Пін Ап можуть отримати 250 FS, якщо сума першого
                    депозиту становитиме від 500 грн. Безкоштовні обертання надаються частинами: 50 FS зайдуть вам
          а фріспіни, відіграються з вейджером протягом 1 доби (після нарахування).
                </div>
                <div class="slot__item-showMore">Показати</div>
                <div class="slot__item-row">
                    <a href="#" class="slot__item-link blue-btn">Отримати</a>
                    <div class="slot__item-like"></div>
                </div>

            </li>
            <li class="slot__item">
                <div class="slot__item-img">
                    <a href="#" aria-label="slot-link" class="slot__item-img-link"></a>
                    <img src="img/home/slot/casino-img.webp" alt="casino-img" width="285" height="120" loading="lazy">
                </div>
                <div class="slot__item-title">150 FS від Фьорст казино</div>
                <div class="slot__item-text">Всі новачки казино Пін Ап можуть отримати 250 FS, якщо сума першого
                    депозиту становитиме від 500 грн. Безкоштовні обертання надаються частинами: 50 FS зайдуть вам
                    відразу післ      відразу після поповнення рахунку, а далі ви будете отримувати по 40 FS – щодня протягом наступних
                    5-ти днів. Фріспінами можна скористатися протягом 2 діб з моменту нарахування. Бонуси, які ви
                    отримали в грі на фріспія поповнення рахунку, а далі ви будете отримувати по 40 FS – щодня протягом наступних
                    5-ти днів. Фріспінами можна скористатися протягом 2 діб з моменту нарахування. Бонуси, які ви
                    отримали в грі на фріспіни, відіграються з вейджером протягом 1 доби (після нарахування).
                </div>
                <div class="slot__item-showMore">Показати</div>
                <div class="slot__item-row">
                    <a href="#" class="slot__item-link blue-btn">Отримати</a>
                    <div class="slot__item-like"></div>
                </div>

            </li>
        </ul>
        <a href="#" class="slot__all-link blue-btn-transparent">Переглянути всі</a>
    </div>
</section>