<section class="about">
  <h2 class="about__title title">About Parimarch Casino</h2>
  <ul class="about__list">
    <li class="about__item">
      <div class="about__item-title">Офіційний сайт:</div>
      <div class="about__item-text"><a href="#">https://www.favbet.ua/uk/</a></div>
    </li>
    <li class="about__item">
      <div class="about__item-title">Рік заснування:</div>
      <div class="about__item-text">1999</div>
    </li>
    <li class="about__item">
      <div class="about__item-title">Компанія власник:</div>
      <div class="about__item-text">Favorit United N.V.</div>
    </li>
    <li class="about__item">
      <div class="about__item-title">Ліцензія:</div>
      <div class="about__item-text">Ліцензія: Рішення КРАІЛ № 137 від 05.04.2021</div>
    </li>
    <li class="about__item">
      <div class="about__item-title">Ліміти виводу:</div>
      <div class="about__item-text">До 150 000 грн. на добу</div>
    </li>
    <li class="about__item">
      <div class="about__item-title">Вивід коштів:</div>
      <div class="about__item-text">Максимальна сума за один раз - 29 900 грн.</div>
    </li>
    <li class="about__item">
      <div class="about__item-title">Мінімальний депозит:</div>
      <div class="about__item-text">50 гривень</div>
    </li>
    <li class="about__item">
      <div class="about__item-title">Кількість слотів:</div>
      <div class="about__item-text">1400+</div>
    </li>
  </ul>
</section>