<section class="casino">
    <div class="casino__container">
        <div class="casino__breadcrumbs">
            <a href="#" class="casino__breadcrumbs-link" aria-label="link-breadcrumbs">Index</a>
            <a href="#" class="casino__breadcrumbs-link" aria-label="link-breadcrumbs">Casino category</a>
            <span class="casino__breadcrumbs-link">Casino category</span>
        </div>
        <div class="casino__row">
            <div class="casino__info">

                <div class="casino__info-img">
                    <img src="img/home/best/slotoking-casino.svg" alt="slotoking" width="285" height="120">
                </div>
                <div class="casino__info-pay">
                    <h1 class="casino__info-name">Онлайн казино Слотокінг</h1>
                    <div class="casino__info-rating">
                        <div class="casino__info-rating-star">
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                        </div>
                        <div class="casino__info-rating-text">4.5/5</div>
                    </div>
                    <div class="casino__info-btns">
                        <a href="#" class="casino__info-link blue-btn _disabled">Play</a>
                        <div class="casino__info-like"></div>
                    </div>

                </div>
            </div>
            <div class="casino__bonus">
                <div class="casino__bonus-check">
                    <div class="casino__bonus-check-ok _hidden">Проверенно</div>
                    <div class="casino__bonus-check-not _hidden">Error</div>
                    <div class="casino__bonus-check-load ">Loading</div>
                </div>
                <div class="casino__bonus-info">125 000 грн + 500 FS</div>
                <div class="casino__bonus-date">
                    <div class="casino__bonus-date-item"><span>Дата публікації: </span>04.10.2022</div>
                    <div class="casino__bonus-date-item"><span>Дата оновлення: </span>04.10.2022</div>
                </div>
            </div>
        </div>
        <div class="casino__links">
            <ul class="casino__links-list">
                <li class="casino__links-item">
                    <a href="#" class="casino__links-link _active">Parimatch casino</a>
                </li>
                <li class="casino__links-item">
                    <a href="#" class="casino__links-link">Simple Page</a>
                </li>
                <li class="casino__links-item">
                    <a href="#" class="casino__links-link">Providers</a>
                </li>
                <li class="casino__links-item">
                    <a href="#" class="casino__links-link">Payments</a>
                </li>
                <li class="casino__links-item">
                    <a href="#" class="casino__links-link">Author</a>
                </li>
                <li class="casino__links-item">
                    <a href="#" class="casino__links-link">Blog</a>
                </li>
                <li class="casino__links-item">
                    <a href="#" class="casino__links-link">Nyx</a>
                </li>
            </ul>
        </div>

    </div>
</section>