<section class="games" id="block8">
  <h2 class="games__title title">Games</h2>
  <ul class="games__list">
    <li class="games__item">

      <a href="#" class="games__item-link" aria-label="game-link"></a>
      <div class="games__item-image">
        <div class="games__item-wrap">
          <div class="games__item-btn blue-btn">Play</div>
        </div>
          <img loading="lazy" src="img/page3/games/game-image.webp" width="265"
               height="140" alt="image-casino">
      </div>
      <div class="games__item-title">Dead or Alive 2</div>
      <div class="games__item-subtitle">Pragmatic</div>
    </li>
    <li class="games__item">

      <a href="#" class="games__item-link" aria-label="game-link"></a>
      <div class="games__item-image">
        <div class="games__item-wrap">
          <div class="games__item-btn blue-btn">Play</div>
        </div>
        <img loading="lazy" src="img/page3/games/game-image.webp" width="265"
             height="140" alt="image-casino">
      </div>
      <div class="games__item-title">Dead or Alive 2</div>
      <div class="games__item-subtitle">Pragmatic</div>
    </li>
    <li class="games__item">

      <a href="#" class="games__item-link" aria-label="game-link"></a>
      <div class="games__item-image">
        <div class="games__item-wrap">
          <div class="games__item-btn blue-btn">Play</div>
        </div>
        <img loading="lazy" src="img/page3/games/game-image.webp" width="265"
             height="140" alt="image-casino">
      </div>
      <div class="games__item-title">Dead or Alive 2</div>
      <div class="games__item-subtitle">Pragmatic</div>
    </li>
    <li class="games__item">

      <a href="#" class="games__item-link" aria-label="game-link"></a>
      <div class="games__item-image">
        <div class="games__item-wrap">
          <div class="games__item-btn blue-btn">Play</div>
        </div>
        <img loading="lazy" src="img/page3/games/game-image.webp" width="265"
             height="140" alt="image-casino">
      </div>
      <div class="games__item-title">Dead or Alive 2</div>
      <div class="games__item-subtitle">Pragmatic</div>
    </li>
  </ul>
  <a href="#" class="games__all-link blue-btn-transparent">All Casino Bonuses</a>
</section>