<section class="payment" id="block7">
        <h2 class="payment__title title">Payment methods</h2>
    <ul class="payment__list">
        <li class="payment__item">
            <a href="#" class="payment__item-link" aria-label="payment-link"></a>
            <div class="payment__item-image">
                <img src="img/page3/payment/payment.svg" width="40" height="40" loading="lazy" alt="payment">
            </div>
            <div class="payment__item-name">1x2 Gaming</div>
        </li>
        <li class="payment__item">
            <a href="#" class="payment__item-link" aria-label="payment-link"></a>
            <div class="payment__item-image">
                <img src="img/page3/payment/payment.svg" width="40" height="40" loading="lazy" alt="payment">
            </div>
            <div class="payment__item-name">1x2 Gaming</div>
        </li>
        <li class="payment__item">
            <a href="#" class="payment__item-link" aria-label="payment-link"></a>
            <div class="payment__item-image">
                <img src="img/page3/payment/payment.svg" width="40" height="40" loading="lazy" alt="payment">
            </div>
            <div class="payment__item-name">1x2 Gaming</div>
        </li>
        <li class="payment__item">
            <a href="#" class="payment__item-link" aria-label="payment-link"></a>
            <div class="payment__item-image">
                <img src="img/page3/payment/payment.svg" width="40" height="40" loading="lazy" alt="payment">
            </div>
            <div class="payment__item-name">1x2 Gaming</div>
        </li>
        <li class="payment__item">
            <a href="#" class="payment__item-link" aria-label="payment-link"></a>
            <div class="payment__item-image">
                <img src="img/page3/payment/payment.svg" width="40" height="40" loading="lazy" alt="payment">
            </div>
            <div class="payment__item-name">1x2 Gaming</div>
        </li>
        <li class="payment__item">
            <a href="#" class="payment__item-link" aria-label="payment-link"></a>
            <div class="payment__item-image">
                <img src="img/page3/payment/payment.svg" width="40" height="40" loading="lazy" alt="payment">
            </div>
            <div class="payment__item-name">1x2 Gaming</div>
        </li>
    </ul>
    <a href="#" class="payment__all-link blue-btn" aria-label="show-more">Show more</a>
</section>