<section class="provide" id="block6">
    <h2 class="provide__title title">Provide</h2>
    <ul class="provide__list">
        <li class="provide__item">
            <a href="#" class="provide__item-link" aria-label="provide-link"></a>
            <div class="provide__item-image">
                <img src="img/page3/provide/provide.svg" width="40" height="40" loading="lazy" alt="provide">
            </div>
            <div class="provide__item-name">1x2 Gaming</div>
        </li>
        <li class="provide__item">
            <a href="#" class="provide__item-link" aria-label="provide-link"></a>
            <div class="provide__item-image">
                <img src="img/page3/provide/provide.svg" width="40" height="40" loading="lazy" alt="provide">
            </div>
            <div class="provide__item-name">1x2 Gaming</div>
        </li>
        <li class="provide__item">
            <a href="#" class="provide__item-link" aria-label="provide-link"></a>
            <div class="provide__item-image">
                <img src="img/page3/provide/provide.svg" width="40" height="40" loading="lazy" alt="provide">
            </div>
            <div class="provide__item-name">1x2 Gaming</div>
        </li>
        <li class="provide__item">
            <a href="#" class="provide__item-link" aria-label="provide-link"></a>
            <div class="provide__item-image">
                <img src="img/page3/provide/provide.svg" width="40" height="40" loading="lazy" alt="provide">
            </div>
            <div class="provide__item-name">1x2 Gaming</div>
        </li>
        <li class="provide__item">
            <a href="#" class="provide__item-link" aria-label="provide-link"></a>
            <div class="provide__item-image">
                <img src="img/page3/provide/provide.svg" width="40" height="40" loading="lazy" alt="provide">
            </div>
            <div class="provide__item-name">1x2 Gaming</div>
        </li>
        <li class="provide__item">
            <a href="#" class="provide__item-link" aria-label="provide-link"></a>
            <div class="provide__item-image">
                <img src="img/page3/provide/provide.svg" width="40" height="40" loading="lazy" alt="provide">
            </div>
            <div class="provide__item-name">1x2 Gaming</div>
        </li>
    </ul>
    <a href="#"  class="provide__all-link blue-btn-transparent" aria-label="show-more">Show more</a>
</section>