<section class="ratings" id="block3">
    <h2 class="ratings__title title">Betson casino review</h2>
    <ul class="ratings__rating">
        <li class="ratings__item">
            <div class="ratings__item-progress">
                <div class="single-chart">
                    <svg class="circular-chart" viewBox="0 0 36 36">
                        <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                        <path class="circle" stroke="url(#linear-gradient)" stroke-dasharray="76, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                        <defs>
                            <linearGradient id="linear-gradient">
                                <stop offset="0%" class="stp2"></stop>
                                <stop offset="100%" class="stp1"></stop>
                            </linearGradient>
                        </defs>
                    </svg>
                </div>
                <div class="ratings__item-text">3.4</div>
            </div>
            <div class="ratings__item-info">Рейтинг редакції</div>
        </li>
        <li class="ratings__item">
            <div class="ratings__item-progress">
                <div class="single-chart">
                    <svg class="circular-chart" viewBox="0 0 36 36">
                        <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                        <path class="circle" stroke="url(#linear-gradient)" stroke-dasharray="76, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                        <defs>
                            <linearGradient id="linear-gradient">
                                <stop offset="0%" class="stp2"></stop>
                                <stop offset="100%" class="stp1"></stop>
                            </linearGradient>
                        </defs>
                    </svg>
                </div>
                <div class="ratings__item-text">3.4</div>
            </div>
            <div class="ratings__item-info">Рейтинг гравців</div>
        </li>
        <li class="ratings__item">
            <div class="ratings__item-progress">
                <div class="single-chart">
                    <svg class="circular-chart" viewBox="0 0 36 36">
                        <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                        <path class="circle" stroke="url(#linear-gradient)" stroke-dasharray="96, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                        <defs>
                            <linearGradient id="linear-gradient">
                                <stop offset="0%" class="stp2"></stop>
                                <stop offset="100%" class="stp1"></stop>
                            </linearGradient>
                        </defs>
                    </svg>
                </div>
                <div class="ratings__item-text">3.4</div>
            </div>
            <div class="ratings__item-info">Служба підтримки</div>
        </li>
        <li class="ratings__item">
            <div class="ratings__item-progress">
                <div class="single-chart">
                    <svg class="circular-chart" viewBox="0 0 36 36">
                        <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                        <path class="circle" stroke="url(#linear-gradient)" stroke-dasharray="76, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                        <defs>
                            <linearGradient id="linear-gradient">
                                <stop offset="0%" class="stp2"></stop>
                                <stop offset="100%" class="stp1"></stop>
                            </linearGradient>
                        </defs>
                    </svg>
                </div>
                <div class="ratings__item-text">3.4</div>
            </div>
            <div class="ratings__item-info">Швидкість виводу</div>
        </li>
        <li class="ratings__item">
            <div class="ratings__item-progress">
                <div class="single-chart">
                    <svg class="circular-chart" viewBox="0 0 36 36">
                        <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                        <path class="circle" stroke="url(#linear-gradient)" stroke-dasharray="76, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                        <defs>
                            <linearGradient id="linear-gradient">
                                <stop offset="0%" class="stp2"></stop>
                                <stop offset="100%" class="stp1"></stop>
                            </linearGradient>
                        </defs>
                    </svg>
                </div>
                <div class="ratings__item-text">3.4</div>
            </div>
            <div class="ratings__item-info">Editorial rating</div>
        </li>
    </ul>
</section>