<div class="anchors" >
    <div class="anchors__title">Фильтр</div>
    <ul class="anchors__list">
        <li class="anchors__item">
            <a href="#block1" class="anchors__link">Ліцензійні казино</a>
        </li>
        <li class="anchors__item">
            <a href="#block2" class="anchors__link">Мобільні казино</a>
        </li>
        <li class="anchors__item">
            <a href="#block3" class="anchors__link">Нові казино</a>
        </li>
        <li class="anchors__item">
            <a href="#faq" class="anchors__link">Faq</a>
        </li>
    </ul>
</div>