<section class="author-block">
  <h2 class="author-block__title">Автор сторінки</h2>
  <div class="author-block__row">
    <div class="author-block__info">
      <div class="author-block__image">
        <a href="#" aria-label="author-link" class="author-block__image-link"></a>
        <img src="img/home/duck.webp" alt="author" width="100" height="100" loading="lazy">
      </div>
      <div class="author-block__info-wrap">
        <div class="author-block__name">Анастасія Мовчан</div>
        <div class="author-block__red">Головна редакторка</div>
      </div>
    </div>
    <div class="author-block__social">
      <div class="author-block__social-title">Cоціальні мережі автора:</div>
      <div class="author-block__social-row">
        <a href="#" class="author-block__social-link" aria-label="link-social">
          <svg width="12px">
            <use xlink:href="img/sprite.svg#facebook"></use>
          </svg>
        </a>
        <a href="#" class="author-block__social-link" aria-label="link-social">
          <svg width="20px">
            <use xlink:href="img/sprite.svg#telegram"></use>
          </svg>
        </a>
        <a href="#" class="author-block__social-link" aria-label="link-social">
          <svg width="20px">
            <use xlink:href="img/sprite.svg#spotify"></use>
          </svg>
        </a>
        <a href="#" class="author-block__social-link" aria-label="link-social">
          <svg width="20px">
            <use xlink:href="img/sprite.svg#cashbox"></use>
          </svg>
        </a>
        <a href="#" class="author-block__social-link" aria-label="link-social">
          <svg width="20px">
            <use xlink:href="img/sprite.svg#anchor_icon"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="author-block__text">
    Анастасія Мовчан — автор та експерт сайту https://casino.ua. Займається експертним аналізом та написанням текстів для індустрії онлайн-гемблінгу та беттінгу. Працює в даній сфері понад 6 років. За тривалий період роботи написала понад 5 тисяч текстів для популярних казино, букмекерських контор та сайтів з оглядами. Має ступінь магістра за спеціальністю «Маркетинг». У вільний час займається йогою та особистісним саморозвитком.        </div>
  <a href="#" class="author-block__link blue-btn">
    Статті автора</a>
</section>