<section class="best">
    <div class="best__container">
        <h2 class="best__title title">ТОП онлайн казино в 2023 році</h2>

        <p class="best__text">
            Щоб не помилитися у своєму виборі та знайти найкращу платформу на українському ринку гемблінгу, вам допоможе наш незалежний експертний рейтинг Casino.UA. Завдяки списку кращих </p>
        <ul class="best__list">
            <li class="best__item">
                <div class="best__item-lic">
                    <div class="best__item-lic-in">i</div>
                    <div class="best__item-lic-text">
                        <p>Ліцензія: Рішення КРАІЛ № 150 від 12.04.2021</p>
                        <p>*Участь в азартних іграх може викликати залежність. Дотримуйтеся правил (принципів) правильної гри</p>
                    </div>
                </div>
                <div class="best__item-img">
                    <a href="#" aria-label="best-casino-link" class="best__item-img-link"></a>
                    <img src="img/home/best/favbet-casino.svg" alt="favbet-casino" width="285" height="120" loading="lazy">
                </div>
                <div class="best__item-title">Онлайн казино Фавбет</div>
                <div class="best__item-row">
                    <div class="best__item-grade">
                        <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <span>5.0</span>
                    </div>
                    <div class="best__item-top">
                        <img src="img/home/best/top.svg" alt="top" width="13" height="12" loading="lazy">
                        <span>Ліцензійні казино</span>
                    </div>
                    <div class="best__item-like"></div>
                </div>
                <div class="best__item-bonus">4500 грн + 100 FS</div>
                <div class="best__item-bonus-text"> Бонус: вітальний </div>
                <div class="best__item-btns">
                    <a href="#" class="best__item-btn grey-btn">Огляд</a>
                    <a href="#" class="best__item-btn blue-btn">Грати</a>
                </div>
            </li>
            <li class="best__item">
                <div class="best__item-lic">
                    <div class="best__item-lic-in">i</div>
                    <div class="best__item-lic-text">
                        <p>Ліцензія: Рішення КРАІЛ № 150 від 12.04.2021</p>
                        <p>*Участь в азартних іграх може викликати залежність. Дотримуйтеся правил (принципів) правильної гри</p>
                    </div>
                </div>
                <div class="best__item-img">
                    <a href="#" aria-label="best-casino-link" class="best__item-img-link"></a>
                    <img src="img/home/best/slotoking-casino.svg" alt="slotoking-casino" width="285" height="120" loading="lazy">
                </div>
                <div class="best__item-title">Онлайн казино Слотокінг</div>
                <div class="best__item-row">
                    <div class="best__item-grade">
                        <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <span>5.0</span>
                    </div>
                    <div class="best__item-top">
                        <img src="img/home/best/top.svg" alt="top" width="13" height="12" loading="lazy">
                        <span>Ліцензійні казино</span>
                    </div>
                    <div class="best__item-like"></div>
                </div>
                <div class="best__item-bonus">4500 грн + 100 FS</div>
                <div class="best__item-bonus-text"> Бонус: вітальний </div>
                <div class="best__item-btns">
                    <a href="#" class="best__item-btn grey-btn">Огляд</a>

                </div>
            </li>
            <li class="best__item">
                <div class="best__item-lic">
                    <div class="best__item-lic-in">i</div>
                    <div class="best__item-lic-text">
                        <p>Ліцензія: Рішення КРАІЛ № 150 від 12.04.2021</p>
                        <p>*Участь в азартних іграх може викликати залежність. Дотримуйтеся правил (принципів) правильної гри</p>
                    </div>
                </div>
                <div class="best__item-img">
                    <a href="#" aria-label="best-casino-link" class="best__item-img-link"></a>
                    <img src="img/home/best/cosmolot-casino.svg" alt="cosmolot-casino" width="285" height="120" loading="lazy">
                </div>
                <div class="best__item-title">Онлайн казино Космолот</div>
                <div class="best__item-row">
                    <div class="best__item-grade">
                        <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <span>5.0</span>
                    </div>
                    <div class="best__item-top">
                        <img src="img/home/best/top.svg" alt="top" width="13" height="12" loading="lazy">
                        <span>Ліцензійні казино</span>
                    </div>
                    <div class="best__item-like"></div>
                </div>
                <div class="best__item-bonus">100 000 грн + 500 FS</div>
                <div class="best__item-bonus-text"> Бонус: вітальний </div>
                <div class="best__item-btns">
                    <a href="#" class="best__item-btn grey-btn">Огляд</a>

                </div>
            </li>
            <li class="best__item">
                <div class="best__item-lic">
                    <div class="best__item-lic-in">i</div>
                    <div class="best__item-lic-text">
                        <p>Ліцензія: Рішення КРАІЛ № 150 від 12.04.2021</p>
                        <p>*Участь в азартних іграх може викликати залежність. Дотримуйтеся правил (принципів) правильної гри</p>
                    </div>
                </div>
                <div class="best__item-img">
                    <a href="#" aria-label="best-casino-link" class="best__item-img-link"></a>
                    <img src="img/home/best/slots-city-casino.svg" alt="slots-city-casino" width="285" height="120" loading="lazy">
                </div>
                <div class="best__item-title">Онлайн казино Слотс Сіті</div>
                <div class="best__item-row">
                    <div class="best__item-grade">
                        <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <span>5.0</span>
                    </div>
                    <div class="best__item-top">
                        <img src="img/home/best/top.svg" alt="top" width="13" height="12" loading="lazy">
                        <span>Ліцензійні казино</span>
                    </div>
                    <div class="best__item-like"></div>
                </div>
                <div class="best__item-bonus">100 000 грн + 500 FS</div>
                <div class="best__item-bonus-text"> Бонус: вітальний </div>
                <div class="best__item-btns">
                    <a href="#" class="best__item-btn grey-btn">Огляд</a>
                    <a href="#" class="best__item-btn blue-btn">Грати</a>
                </div>
            </li>
            <li class="best__item">
                <div class="best__item-lic">
                    <div class="best__item-lic-in">i</div>
                    <div class="best__item-lic-text">
                        <p>Ліцензія: Рішення КРАІЛ № 150 від 12.04.2021</p>
                        <p>*Участь в азартних іграх може викликати залежність. Дотримуйтеся правил (принципів) правильної гри</p>
                    </div>
                </div>
                <div class="best__item-img">
                    <a href="#" aria-label="best-casino-link" class="best__item-img-link"></a>
                    <img src="img/home/best/pin-up-casino.svg" alt="pin-up-casino" width="285" height="120" loading="lazy">
                </div>
                <div class="best__item-title">Онлайн казино Пін Ап</div>
                <div class="best__item-row">
                    <div class="best__item-grade">
                        <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <span>5.0</span>
                    </div>
                    <div class="best__item-top">
                        <img src="img/home/best/top.svg" alt="top" width="13" height="12" loading="lazy">
                        <span>Ліцензійні казино</span>
                    </div>
                    <div class="best__item-like"></div>
                </div>
                <div class="best__item-bonus">10 000 ₴ + 250 FS</div>
                <div class="best__item-bonus-text"> Бонус: депозитний </div>
                <div class="best__item-btns">
                    <a href="#" class="best__item-btn grey-btn">Огляд</a>
                    <a href="#" class="best__item-btn blue-btn">Грати</a>
                </div>
            </li>
            <li class="best__item">
                <div class="best__item-lic">
                    <div class="best__item-lic-in">i</div>
                    <div class="best__item-lic-text">
                        <p>Ліцензія: Рішення КРАІЛ № 150 від 12.04.2021</p>
                        <p>*Участь в азартних іграх може викликати залежність. Дотримуйтеся правил (принципів) правильної гри</p>
                    </div>
                </div>
                <div class="best__item-img">
                    <a href="#" aria-label="best-casino-link" class="best__item-img-link"></a>
                    <img src="img/home/best/favbet-casino.svg" alt="favbet-casino" width="285" height="120" loading="lazy">
                </div>
                <div class="best__item-title">Онлайн казино Фавбет</div>
                <div class="best__item-row">
                    <div class="best__item-grade">
                        <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <span>5.0</span>
                    </div>
                    <div class="best__item-top">
                        <img src="img/home/best/top.svg" alt="top" width="13" height="12" loading="lazy">
                        <span>Ліцензійні казино</span>
                    </div>
                    <div class="best__item-like"></div>
                </div>
                <div class="best__item-bonus">4500 грн + 100 FS</div>
                <div class="best__item-bonus-text"> Бонус: вітальний </div>
                <div class="best__item-btns">
                    <a href="#" class="best__item-btn grey-btn">Огляд</a>
                    <a href="#" class="best__item-btn blue-btn">Грати</a>
                </div>
            </li>
            <li class="best__item">
                <div class="best__item-lic">
                    <div class="best__item-lic-in">i</div>
                    <div class="best__item-lic-text">
                        <p>Ліцензія: Рішення КРАІЛ № 150 від 12.04.2021</p>
                        <p>*Участь в азартних іграх може викликати залежність. Дотримуйтеся правил (принципів) правильної гри</p>
                    </div>
                </div>
                <div class="best__item-img">
                    <a href="#" aria-label="best-casino-link" class="best__item-img-link"></a>
                    <img src="img/home/best/slotoking-casino.svg" alt="slotoking-casino" width="285" height="120" loading="lazy">
                </div>
                <div class="best__item-title">Онлайн казино Слотокінг</div>
                <div class="best__item-row">
                    <div class="best__item-grade">
                        <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <span>5.0</span>
                    </div>
                    <div class="best__item-top">
                        <img src="img/home/best/top.svg" alt="top" width="13" height="12" loading="lazy">
                        <span>Ліцензійні казино</span>
                    </div>
                    <div class="best__item-like"></div>
                </div>
                <div class="best__item-bonus">4500 грн + 100 FS</div>
                <div class="best__item-bonus-text"> Бонус: вітальний </div>
                <div class="best__item-btns">
                    <a href="#" class="best__item-btn grey-btn">Огляд</a>
                    <a href="#" class="best__item-btn blue-btn">Грати</a>
                </div>
            </li>
            <li class="best__item">
                <div class="best__item-lic">
                    <div class="best__item-lic-in">i</div>
                    <div class="best__item-lic-text">
                        <p>Ліцензія: Рішення КРАІЛ № 150 від 12.04.2021</p>
                        <p>*Участь в азартних іграх може викликати залежність. Дотримуйтеся правил (принципів) правильної гри</p>
                    </div>
                </div>
                <div class="best__item-img">
                    <a href="#" aria-label="best-casino-link" class="best__item-img-link"></a>
                    <img src="img/home/best/cosmolot-casino.svg" alt="cosmolot-casino" width="285" height="120" loading="lazy">
                </div>
                <div class="best__item-title">Онлайн казино Космолот</div>
                <div class="best__item-row">
                    <div class="best__item-grade">
                        <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <span>5.0</span>
                    </div>
                    <div class="best__item-top">
                        <img src="img/home/best/top.svg" alt="top" width="13" height="12" loading="lazy">
                        <span>Ліцензійні казино</span>
                    </div>
                    <div class="best__item-like"></div>
                </div>
                <div class="best__item-bonus">100 000 грн + 500 FS</div>
                <div class="best__item-bonus-text"> Бонус: вітальний </div>
                <div class="best__item-btns">
                    <a href="#" class="best__item-btn grey-btn">Огляд</a>
                    <a href="#" class="best__item-btn blue-btn">Грати</a>
                </div>
            </li>
            <li class="best__item">
                <div class="best__item-lic">
                    <div class="best__item-lic-in">i</div>
                    <div class="best__item-lic-text">
                        <p>Ліцензія: Рішення КРАІЛ № 150 від 12.04.2021</p>
                        <p>*Участь в азартних іграх може викликати залежність. Дотримуйтеся правил (принципів) правильної гри</p>
                    </div>
                </div>
                <div class="best__item-img">
                    <a href="#" aria-label="best-casino-link" class="best__item-img-link"></a>
                    <img src="img/home/best/slots-city-casino.svg" alt="slots-city-casino" width="285" height="120" loading="lazy">
                </div>
                <div class="best__item-title">Онлайн казино Слотс Сіті</div>
                <div class="best__item-row">
                    <div class="best__item-grade">
                        <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <span>5.0</span>
                    </div>
                    <div class="best__item-top">
                        <img src="img/home/best/top.svg" alt="top" width="13" height="12" loading="lazy">
                        <span>Ліцензійні казино</span>
                    </div>
                    <div class="best__item-like"></div>
                </div>
                <div class="best__item-bonus">100 000 грн + 500 FS</div>
                <div class="best__item-bonus-text"> Бонус: вітальний </div>
                <div class="best__item-btns">
                    <a href="#" class="best__item-btn grey-btn">Огляд</a>
                    <a href="#" class="best__item-btn blue-btn">Грати</a>
                </div>
            </li>
            <li class="best__item">
                <div class="best__item-lic">
                    <div class="best__item-lic-in">i</div>
                    <div class="best__item-lic-text">
                        <p>Ліцензія: Рішення КРАІЛ № 150 від 12.04.2021</p>
                        <p>*Участь в азартних іграх може викликати залежність. Дотримуйтеся правил (принципів) правильної гри</p>
                    </div>
                </div>
                <div class="best__item-img">
                    <a href="#" aria-label="best-casino-link" class="best__item-img-link"></a>
                    <img src="img/home/best/pin-up-casino.svg" alt="pin-up-casino" width="285" height="120" loading="lazy">
                </div>
                <div class="best__item-title">Онлайн казино Пін Ап</div>
                <div class="best__item-row">
                    <div class="best__item-grade">
                        <img src="img/home/best/star.svg" alt="star" width="13" height="12" loading="lazy">
                        <span>5.0</span>
                    </div>
                    <div class="best__item-top">
                        <img src="img/home/best/top.svg" alt="top" width="13" height="12" loading="lazy">
                        <span>Ліцензійні казино</span>
                    </div>
                    <div class="best__item-like"></div>
                </div>
                <div class="best__item-bonus">10 000 ₴ + 250 FS</div>
                <div class="best__item-bonus-text"> Бонус: депозитний </div>
                <div class="best__item-btns">
                    <a href="#" class="best__item-btn grey-btn">Огляд</a>
                    <a href="#" class="best__item-btn blue-btn">Грати</a>
                </div>
            </li>
        </ul>
        <a href="#" class="best__all-link blue-btn-transparent">Переглянути всі</a>

    </div>
</section>