.claim{
  padding: 55px 0 40px 0;
  background: $grey-bg-section;
  border-radius: 50px;
  margin-top: -50px;
  position: relative;
  z-index: 10;
  &__container{
    display: flex;
    flex-direction: column;
  }
  &__title{
    margin: 0 0 20px 0;
  }
  &__filter{
    margin: 0 0 25px 0;
  }
  &__form{
    display: flex;
    &-label{
      display: inline-block;
      font-family: $font-firs-reg;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: -0.004em;
      color: $blue-dark;
      margin: 0 0 2px 0;
    }
    &-select {
      font-family: $font-firs-reg;
      position: relative;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: inline-block;
      padding: 12px 15px 11px;
      font-size: 15px;
      line-height: 20px;
      color: #4D9696;
      border: 0;
      outline: 0;
      width: 260px;
      background: $white;
      border-radius: 4px;


      &-cont {
        position: relative;
        &::after {
          content: "";
          right: 15px;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
          width: 0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-top: 9px solid #0450FF;
          border-radius: 4px;
        }
      }

      &-wrap{
        margin: 0 10px 0 0;
      }

    }

    &-date{
      width: 100%;
      padding: 12px 15px 11px;
      font-size: 15px;
      line-height: 20px;
      border-radius: 4px;
      color: $blue-dark;
      border: 0px solid transparent;
      max-height: 43px;
      -webkit-appearance: none;
      appearance: none;
      background: $white url("../img/page24/date-calendar.svg") no-repeat;
      background-size: 15px 15px;
      background-position: calc(100% - 15px) center;

      &::-webkit-calendar-picker-indicator{
        -webkit-appearance: none;
        color: transparent;
        opacity: 0;
        background: url('../img/page24/date-calendar.svg') no-repeat center;
        background-size: contain;
        border: none;
      }
      &-wrap{
        width: 220px;
        margin: 0 10px 0 0;
      }
    }


  }

  &__list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 0 30px 0;
  }

  &__item{
    display: flex;
    flex-direction: column;
    max-width: 315px;
    min-width: 315px;
    padding: 15px;
    background: $white;
    border-radius: 20px;

    &-orange{
      .claim__item-time-top{
        color: $orange;
      }

      .circle{
        stroke: $orange;
      }

      .claim__item-progressDone{
        background: $orange;
      }

      .claim__item-progressDone-text{
        color: $orange;
      }
    }

    &-blue{
      .claim__item-time-top{
        color: $blue;
      }

      .circle{
        stroke: $blue;
      }
      .claim__item-progressDone{
        background: $blue;
      }

      .claim__item-progressDone-text{
        color: $blue;
      }
    }

    &-red{
      .claim__item-time-top{
        color: $red;
      }

      .circle{
        stroke: $red;
      }

      .claim__item-progressDone{
        background: $red;
      }

      .claim__item-progressDone-text{
        color: $red;
      }
    }

    &-black{
      .claim__item-time-top{
        color: $blue-dark;
      }
      .circle{
        stroke: $grey-bg-section;
      }

      .claim__item-progressDone{
        background: $blue-dark;
      }

      .claim__item-progressDone-text{
        color: $blue-dark;
      }
    }

    &-progressDone{
      width: 78px;
      height: 78px;
      border-radius: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 15px 0 0;
      &-text{
        text-transform: uppercase;
        font-family: $font-firs-semb;
        font-size: 17px;
        line-height: 26px;
        letter-spacing: 0.02em;
      }
    }



    &-row{
      display: flex;
      align-items: center;
      margin: 0 0 25px 0;
    }

    &-btns{
      display: flex;
      align-items: center;

      span{
        font-family: $font-firs-semb;
        font-size: 15px;
        line-height: 20px;
        color: $blue-dark;
      }
    }

    &-link{
      display: inline-block;
      margin: 0 auto 0 0;
      padding: 9px 30px 8px;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.04em;
    }

    &-text{
      flex: 1 1 auto;
      font-family: $font-firs-reg;
      font-size: 15px;
      line-height: 25px;
      margin: 0 0 20px 0;
    }
    &-progress{
      width: 78px;
      height: 78px;
      position: relative;
      margin: 0 25px 0 0;
      img{
        max-width: 28px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &-time{
      font-family: $font-firs-semb;
      font-size: 17px;
      line-height: 26px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: $blue-dark;
      &-top{
        font-family: $font-firs-semb;
        font-size: 28px;
        line-height: 20px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        margin: 0 0 8px 0;
        span{
          opacity: 0;
          animation: 1s time ease infinite;
          @keyframes time {
            0%{
              opacity: 0;
            }
            50%{
              opacity: 1;
            }
            100%{
              opacity: 0;
            }
          }
        }
      }
      &-bottom{
        font-family: $font-firs-semb;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $green;
      }
    }
  }
  &__all-link{
    align-self: center;
    display: inline-block;
    font-size: 15px;
    line-height: 17px;
    padding: 15px 110px 14px;
  }
}

.circular-chart {
  display: block;
  transform: scale(-1, 1);
}
.circle-bg {
  fill: none;
  stroke: $grey-bg-section;
  stroke-width: 4;
}
.circle {
  fill: none;
  stroke-width: 4;
  stroke-linecap: round;

}




input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen  and (max-width: 1300px){
  .claim{
    &__form{
      display: grid;
      grid-template-columns: 260px 260px 260px;
      gap: 10px;
      &-select{
        &-wrap{
          margin: 0;
        }
      }
      &-date{
        &-wrap{
          width: 260px;
          margin: 0;
        }
      }
    }
  }
}

@media screen  and (max-width: 1024px){
  .claim{
    padding: 35px 0;
    border-radius: 22px;
    &__form{
      grid-template-columns: 190px 190px 190px;
      &-select{
        width: 190px;
        &-wrap{
          width: 190px;
        }
      }
      &-date{

        &-wrap{
          width: 190px;
          margin: 0;
        }
      }
    }
    &__list{
      display: grid;
      grid-template-columns: calc(50% - 10px) calc(50% - 10px);
      gap: 20px;
    }
    &__item{
      max-width: 100%;
      min-width: 100%;
    }
  }
}

@media screen  and (max-width: 650px) {
  .claim{
    padding: 25px 0;
    &__all-link{
      width: 100%;
      align-self: stretch;
      text-align: center;
      padding: 15px 15px 14px;
    }
    &__form{
      grid-template-columns: calc(50% - 5px) calc(50% - 5px);
      &-select{
        width: 100%;
        &-wrap{
          width: 100%;
        }
      }
      &-date{
        &-wrap{
          width: 100%;
        }
      }
    }
    &__list{
      grid-template-columns: 100%;
      margin: 0 0 20px 0;
    }
  }
}
