.burgundy-btn{
  color: $white;
  border-radius: 8px;
  background: $burgundyBtn;
  box-shadow: $boxShadowBtn;
  transition: background-color $transition;
  &:hover{
    background: $burgundyBtn-hover;
  }
}


.orange-btn{
  border-radius: 8px;
  background: $orangeBtn;
  box-shadow: $boxShadowBtn;
  color: $black-font-orangeBtn;
  transition: background-color $transition;
  &:hover{
    background: $orangeBtn-hover;
  }
}



.grey-btn-two{
  border-radius: 8px;
  color: $black-font-orangeBtn;
  background: $greyBtn-2;
  box-shadow: $boxShadowBtn;
  transition: background-color $transition;
  &:hover{
    background: $orangeBtn-hover;
  }
}

.blue-btn{
  border-radius: 8px;
  background: $blue;
  color: $white;
  transition: background-color $transition;
  &:hover{
    background: $blue-hover;
  }
}

.blue-btn-transparent{
  border: 2px solid $blue;
  border-radius: 8px;
  background: transparent;
  color: $blue;
  transition: background-color $transition, border-color $transition, color $transition;
  &:hover{
    border: 2px solid $blue-hover;
    background: $blue-hover;
    color: $white;
  }
}

.grey-btn{
  border-radius: 8px;
  color: $blue;
  background: $grey-btn;
  transition: background-color $transition;
  &:hover{
    background: $grey-btn-hover;
  }
}


