// colors
$white: #FFFFFF;
$white-hover: #c5c3c3;
$grey: #808080;
$grey-white: #E7EAEE;

$orange:  #E1712C;
$white-grey: #FDFDFD;
$burgundy: #691A2E;
$burgundy-sub-bg: #4a101d;
$black-one: #111111;
$pink: #FCEDF0;
$pink-hover: #dec2c8;
$grey-tabs: #1D1C0C;
$blue: #2275D4;

$green-circle: #31A265;
$red-circle: #FF5767;
$yellow-circle: #FF7D04;
$grey-bg-circle: #E8E8E8;


$burgundy-gradient: linear-gradient(252.32deg, #8A2336 0%, #631728 28.99%, #340918 100%);
$burgunde-circle-gradient: linear-gradient(80.12deg, #852134 0%, #420D1D 104.17%);
$burgunde-header-gradient: linear-gradient(180deg, #490F1F 0%, #400C1C 48.21%, #290614 92.47%);

$black-font-orangeBtn: black;


$orangeBtn: #E1712D;
$orangeBtn-hover: #C26226;
$boxShadowBtn: inset 0px -4px 0px rgba(0, 0, 0, 0.1), inset 0px 4px 0px rgba(255, 255, 255, 0.2);

$greyBtn: rgba(255, 255, 255, 0.2);
$greyBtn-2: #E1712D;
$greyBtn-hover: rgba(255, 255, 255, 0.1);

$burgundyBtn: #691A2E;
$burgundyBtn-hover:  #521424;

//transition
$transition: .3s ease;

//fonts
$font-popins-reg: 'Popins-reg', sans-serif;
$font-popins-semb: 'Popins-semb', sans-serif;


//new vars on casino-ua

//transition
$transition: .3s ease;

$font-firs-reg: 'Firs-reg', sans-serif;
$font-firs-semb: 'Firs-semb', sans-serif;

$shadow-one: inset 0px 0px 14px rgba(0, 0, 0, 0.5);

$back-body: rgb(11, 11, 32);
$back: #000000;

$green-anchors: #1C3838;

$blue: #0450FF;
$blue-opacity02: rgba(4, 80, 255, 0.2);
$blue-btn: rgb(172, 198, 255);
$blue-btn-image: #BACBF1;
$blue-hover: #13399b;
$blue-dark: #1F344C;
$blue-mail: #215CE4;
$blue-dark-main: #0B1324;
$black-one: #111111;
$black-one-hover: #231e1e;
$white: #FFFFFF;
$white-hover: #aba9a9;
$grey-text: #8E8E98;
$grey-footer: #353535;
$grey-footer-text: #C1C1D4;
$grey-bg-section: #E7EAEE;
$grey-bonus: #545864;
$grey-db: #2B2B2B;
$grey-btn: #E7EAED;
$grey-email: #292929;
$grey-btn-hover: #c4c5dc;
$green: #4d9696;
$green-two: #228080;
$green-white: rgba(77, 150, 150, 0.3);
$black-footer-cookie: #242424;
$grey-white-bg: rgba(255, 255, 255, 0.14);
$grey-white-bg-2: rgba(255, 255, 255, 0.14);
$grey-white-bg-3: rgba(255, 255, 255, 0.2);
$grey-white-bg-4: rgba(255, 255, 255, 0.1);
$black-menu-white: rgba(17, 17, 17, 0.9);
$black-white-grey: rgba(231,234,238,.7);



