<div class="password">
    <div class="password__container">
        <h2 class="password__title">Изменить пароль</h2>
        <p class="password__text">Licensed online casinos with slot machines in Ukraine. The guarantee of the reliability of</p>
        <form action="#" class="password__form">
            <div class="password__form-pass-wrap">
            <input type="password" name="password" class="password__form-pass" placeholder="Password">
                <span class="icon-pass"></span>
            </div>
            <button type="submit" class="password__form-btn" >Send</button>
        </form>
    </div>
</div>