<div class="popup-delete _hidden">
  <div class="popup-delete__wrapper">
    <div class="popup-delete__title">casino<span>.</span><span>ua</span></div>
    <div class="popup-delete__info">
      <div class="popup-delete__info-btn-close"></div>
      <div class="popup-delete__info-img">
        <img src="img/page19/delete.svg" alt="delete" loading="lazy" width="70" height="31">
      </div>
      <div class="popup-delete__info-title">Удалить аккаунт</div>
      <div class="popup-delete__info-text">Licensed online casinos with slot machines in Ukraine. The guarantee of  </div>
      <button type="button" class="popup-delete__info-link">Delete</button>
    </div>
  </div>
</div>