<section class="settings">
  <div class="settings__container">
    <h2 class="settings__title title">Редагування профілю</h2>
    <div class="settings__info">
      <form action="#" class="settings__info-form">
      <div class="settings__info-wrap">
        <div class="settings__info-left">
          <div class="settings__info-name settings__info-descr">
            <label for="name" class="settings__info-name-label settings__info-label">Ім'я</label>
            <input type="text" name="name" id="name" class="settings__info-name-input settings__info-input" placeholder="Ім'я">
          </div>
          <div class="settings__info-become settings__info-descr">
            <label for="become" class="settings__info-become-label settings__info-label">Стать</label>
            <div class="settings__info-select-wrap">
            <select name="become" id="become" class="settings__info-become-select settings__info-select">
              <option class="settings__info-became-option" value="1">Стать жіноча</option>
              <option class="settings__info-became-option"  value="2">Стать чоловіча</option>
            </select>
            </div>
          </div>
          <div class="settings__info-username settings__info-descr">
            <label for="username" class="settings__info-username-label settings__info-label">Username</label>
            <input type="text" name="username" id="username" class="settings__info-username-input settings__info-input" placeholder="Username">
          </div>
        </div>
        <div class="settings__info-right">
          <div class="settings__info-surname settings__info-descr">
            <label for="surname" class="settings__info-surname-label settings__info-label">Прізвище</label>
            <input type="text" name="surname" id="surname" class="settings__info-surname-input settings__info-input" placeholder="Прізвище">
          </div>
          <div class="settings__info-country settings__info-descr">
            <label for="country" class="settings__info-country-label settings__info-label">Країна</label>
            <input type="text" name="surname" id="country" class="settings__info-surname-input settings__info-input" placeholder="Country">
          </div>
          <div class="settings__info-mail settings__info-descr">
            <label for="mail" class="settings__info-mail-label settings__info-label">Email</label>
            <input type="email" name="mail" id="mail" class="settings__info-mail-input settings__info-input" placeholder="Email">
          </div>
        </div>
      </div>
        <button type="submit" class="settings__info-btn">Save Changes</button>
      </form>
    </div>
  </div>
</section>