<div class="casinos-payments">
    <div class="casinos-payments__list">
        <div class="casinos-payments__item">
        <div class="casinos-payments__item-wrap">
            <div class="casinos-payments__item-image">
                <a href="#" class="casinos-payments__item-image-link" aria-label="link-page"></a>
                <img loading="lazy" src="img/page9/microgaming.svg" width="324" height="128" alt="image-casino">
            </div>
            <div class="casinos-payments__item-cont">
                <div class="casinos-payments__item-title">Favbet Casino</div>
                <div class="casinos-payments__item-info">
                    Enrolled in a casino: <span>50</span>
                </div>
            </div>

        </div>
        <div class="casinos-payments__item-buttons">
            <a href="#" class="casinos-payments__item-btn grey-btn">Обзор</a>
        </div>
    </div>
        <div class="casinos-payments__item">
            <div class="casinos-payments__item-wrap">
                <div class="casinos-payments__item-image">
                    <a href="#" class="casinos-payments__item-image-link" aria-label="link-page"></a>
                    <img loading="lazy" src="img/page9/microgaming.svg" width="324" height="128" alt="image-casino">
                </div>
                <div class="casinos-payments__item-cont">
                    <div class="casinos-payments__item-title">Favbet Casino</div>
                    <div class="casinos-payments__item-info">
                        Enrolled in a casino: <span>50</span>
                    </div>
                </div>

            </div>
            <div class="casinos-payments__item-buttons">
                <a href="#" class="casinos-payments__item-btn grey-btn">Обзор</a>
            </div>
        </div>
        <div class="casinos-payments__item">
            <div class="casinos-payments__item-wrap">
                <div class="casinos-payments__item-image">
                    <a href="#" class="casinos-payments__item-image-link" aria-label="link-page"></a>
                    <img loading="lazy" src="img/page9/microgaming.svg" width="324" height="128" alt="image-casino">
                </div>
                <div class="casinos-payments__item-cont">
                    <div class="casinos-payments__item-title">Favbet Casino</div>
                    <div class="casinos-payments__item-info">
                        Enrolled in a casino: <span>50</span>
                    </div>
                </div>

            </div>
            <div class="casinos-payments__item-buttons">
                <a href="#" class="casinos-payments__item-btn grey-btn">Обзор</a>
            </div>
        </div>
        <div class="casinos-payments__item">
            <div class="casinos-payments__item-wrap">
                <div class="casinos-payments__item-image">
                    <a href="#" class="casinos-payments__item-image-link" aria-label="link-page"></a>
                    <img loading="lazy" src="img/page9/microgaming.svg" width="324" height="128" alt="image-casino">
                </div>
                <div class="casinos-payments__item-cont">
                    <div class="casinos-payments__item-title">Favbet Casino</div>
                    <div class="casinos-payments__item-info">
                        Enrolled in a casino: <span>50</span>
                    </div>
                </div>

            </div>
            <div class="casinos-payments__item-buttons">
                <a href="#" class="casinos-payments__item-btn grey-btn">Обзор</a>
            </div>
        </div>
    </div>
</div>