<div class="done__wrap _hidden">
  <div class="done">
    <a href="#" class="done__btn-close"></a>
    <div class="done__wrapper">
      <div class="done__img">
        <img src="img/page25/big-done.svg" alt="done" loading="lazy" width="70" height="31">
      </div>
      <div class="done__title">Мы отправили
        вашу жалобу
      </div>
      <div class="done__text">Licensed online casinos with slot machines in Ukraine. The guarantee
        of
      </div>
      <a href="#" class="done__link">На главную</a>
    </div>
  </div>
</div>