<div class="casino-payments">
    <div class="casino-payments__list">
        <div class="casino-payments__item">
            <div class="casino-payments__item-wrap">
                <div class="casino-payments__item-image">
                    <a href="#" class="casino-payments__item-image-link" aria-label="link-payment"></a>
                    <img loading="lazy" src="img/page9/microgaming.svg" width="324" height="128" alt="image-casino">
                </div>
                <div class="casino-payments__item-cont">
                    <div class="casino-payments__item-title">Favbet Casino</div>
                    <div class="casino-payments__item-info">
                        Enrolled in a casino: <span>50</span>
                    </div>
                </div>

            </div>
            <div class="casino-payments__item-buttons">
                <a href="#" class="casino-payments__item-btn grey-btn">Обзор</a>
            </div>
        </div>
        <div class="casino-payments__item">
            <div class="casino-payments__item-wrap">
                <div class="casino-payments__item-image">
                    <a href="#" class="casino-payments__item-image-link" aria-label="link-payment"></a>
                    <img loading="lazy" src="img/page9/microgaming.svg" width="324" height="128" alt="image-casino">
                </div>
                <div class="casino-payments__item-cont">
                    <div class="casino-payments__item-title">Favbet Casino</div>
                    <div class="casino-payments__item-info">
                        Enrolled in a casino: <span>50</span>
                    </div>
                </div>

            </div>
            <div class="casino-payments__item-buttons">
                <a href="#" class="casino-payments__item-btn grey-btn">Обзор</a>
            </div>
        </div>
        <div class="casino-payments__item">
            <div class="casino-payments__item-wrap">
                <div class="casino-payments__item-image">
                    <a href="#" class="casino-payments__item-image-link" aria-label="link-payment"></a>
                    <img loading="lazy" src="img/page9/microgaming.svg" width="324" height="128" alt="image-casino">
                </div>
                <div class="casino-payments__item-cont">
                    <div class="casino-payments__item-title">Favbet Casino</div>
                    <div class="casino-payments__item-info">
                        Enrolled in a casino: <span>50</span>
                    </div>
                </div>

            </div>
            <div class="casino-payments__item-buttons">
                <a href="#" class="casino-payments__item-btn grey-btn">Обзор</a>
            </div>
        </div>

    </div>
</div>