<section class="casino">
    <div class="casino__container">
        <div class="casino__breadcrumbs">
            <a href="#" class="casino__breadcrumbs-link" aria-label="link-breadcrumbs">Index</a>
            <a href="#" class="casino__breadcrumbs-link" aria-label="link-breadcrumbs">Casino category</a>
            <span class="casino__breadcrumbs-link">Casino category</span>
        </div>
        <div class="casino__row">
            <div class="casino__info">
                <div class="casino__info-img">
                    <img src="img/page10/netent.svg" alt="slotoking" width="285" height="120">
                </div>
                <div class="casino__info-pay">
                    <div class="casino__info-row">
                    <h1 class="casino__info-name">Pragmatic Play</h1>
                    <div class="casino__info-like"></div>
                    </div>
                    <div class="casino__info-rating">
                        <div class="casino__info-rating-star">
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                        </div>
                        <div class="casino__info-rating-text">4.5/5</div>
                    </div>
                    <div class="casino__info-number">
                        Всього казино з цією платіжною системою: <span>11</span></div>
                    <div class="casino__info-date">
                        <div class="casino__info-date-item">Дата створення: 22 Вересня, 2022</div>
                        <div class="casino__info-date-item">Дата створення: 22 Вересня, 2022</div>
                    </div>
                </div>
            </div>
            <ul class="casino__list">
                <li class="casino__item">Кількість ігр: Понад 220</li>
                <li class="casino__item">Рік заснування: 1996</li>
                <li class="casino__item">Рік заснування: 1996</li>
                <li class="casino__item">Штаб-квартира: Дуглас (остров Мэн)</li>
            </ul>
        </div>

    </div>
</section>